.btn {
    font-size     : 14px;
    border-radius : 0;
    line-height   : 2.4;
    background    : #00035F;
    color         : #fff;
    font-weight   : 500;
    text-transform: uppercase;
}
.heading {
    padding-bottom: 25px;

    h4 {
        font-size     : 34px;
        font-weight   : 600;
        letter-spacing: 1px;
        text-transform: capitalize;
        color         : #161862;
        line-height   : 1.2;
    }
}

.association {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    padding       : 45px 0px 12px;

    .associate-text {
        font-size     : 18px;
        font-weight   : 500;
        text-transform: capitalize;
        text-align    : center;
        color         : #289BD6;
    }
}

.content {
    position     : relative;
    width        : 100%;
    margin       : auto;
    overflow     : hidden;
    border-radius: 50%;

    .content-overlay {
        background        : rgba(0, 0, 0, 0.7);
        position          : absolute;
        left              : 0;
        top               : 0;
        bottom            : 0;
        right             : 0;
        opacity           : 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition   : all 0.4s ease-in-out 0s;
        transition        : all 0.4s ease-in-out 0s;
        border-radius     : 50%;
    }

}

.content .content:hover .content-overlay {
    opacity         : 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-image {
    width        : 100%;
    border-radius: 50%;
    min-height   : 250px;

}

img {
    box-shadow   : 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    object-fit   : cover;
}

.content-details {
    position     : absolute;
    text-align   : center;
    padding-left : 1em;
    padding-right: 1em;
    width        : 100%;
    top          : 50%;
    left         : 50%;
    opacity      : 0;
    transform    : translate(-50%, -50%);
    transition   : all 0.3s ease-in-out 0s;

    a {
        color      : #fff;
        font-weight: 600;
    }

    p {
        color         : #fff;
        font-weight   : 500;
        letter-spacing: 1px;
        font-size     : 14px;
        padding       : 15px;
        margin        : 0;
    }
}

.content:hover .content-details {
    top    : 50%;
    left   : 50%;
    opacity: 1;
}

.fadeIn-bottom {
    top: 80%
}

/* Stay Updated */
.stay-updated {
    background: #f6f6f6;
    padding   : 50px 0px;

    form {
        padding: 0px 0 45px;

        .input-group {
            input {
                line-height: 2.4;
                box-shadow : none;
                background : #E5E5E5;
            }

            .btn {
                width         : 175px;
            }
        }

        ::placeholder {
            font-size: 12px !important;
            color    : #414141;
        }
    }

    .box {
        background                : #fff;
        box-shadow                : rgb(0 0 0 / 15%) 0px 5px 15px 0px;
        border-bottom-left-radius : 5px;
        border-bottom-right-radius: 5px;

        .box-heading {
            position: relative;
            box-shadow       : 0px 4px 10px rgba(0, 0, 0, 0.15);
            img {
                width: 100%;
                height: 72px;
            }
            .box-text {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.5);
                color: #fff;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
            }

            h4 {
                margin        : 0;
                text-align    : center;
                color         : #fff;
                font-size     : 18px;
                text-transform: uppercase;
                font-weight   : 500;
                z-index       : 9999;
            }
        }

        .boxUL {
            padding: 18px 0px;

            ul {
                padding-inline-start: 0;
                list-style          : none;
                margin              : 0;

                li {
                    margin: 5px 10px;

                    a {
                        text-decoration: none;
                        color          : #414141;
                        text-transform : uppercase;
                        line-height    : 3;
                        display        : flex;
                        justify-content: space-between;
                        align-items    : center;

                        .icon {
                            float: right;

                            img {
                                width: 16px;
                            }
                        }

                        .text {
                            width        : 220px;
                            white-space  : nowrap;
                            overflow     : hidden;
                            text-overflow: ellipsis;
                            margin       : 0;
                            background   : white;
                        }
                    }
                }
            }
        }

    }
}

/* Stay Updated Close */
/* Innovation Css */
.innovate {
    padding: 40px 0;

    .image {
        width     : 100%;
        box-shadow: none;
    }

    .heading h4 {
        text-transform: uppercase;
    }

    .btn {
        width         : 100%;
        margin-top: 20px;
    }
}

/* Innovation Css Close */
@media screen and (max-width: 400px) and (min-width: 300px) {
    .stay-updated {
        form {
            padding: 0px 0 30px;

            .input-group {
                flex-direction: column;
                align-items   : center;

                input {
                    width        : 100%;
                    margin-bottom: 10px;
                    border-radius: 1px;
                }

                .btn {
                    width: auto;
                }
            }

        }
    }
}

@media screen and (max-width: 767px) and (min-width: 564px) {
    .innovate {
        padding: 25px 0;

        .image {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 564px) and (min-width: 300px) {
    .innovate {
        padding: 20px 0;
        .image {
            margin-bottom: 20px;
        }
    }
}