<!--- Association Section --->
<div class="association">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h4>our purpose of almuni associations</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 my-2">
                <div class="content">
                    <a href="#">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./../../../../assets/dummy01.jpg">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a>View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Connect</h5>
            </div>
            <div class="col-lg-3 col-md-6 my-2">
                <div class="content">
                    <a href="#">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./../../../../assets/dummy01.jpg">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a>View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Network</h5>
            </div>
            <div class="col-lg-3 col-md-6 my-2">
                <div class="content">
                    <a href="#">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./../../../../assets/dummy01.jpg">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a>View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Engage & Support</h5>
            </div>
            <div class="col-lg-3 col-md-6 my-2">
                <div class="content">
                    <a href="#">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./../../../../assets/dummy01.jpg">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a>View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Learn (LifeLong & Grow)</h5>
            </div>
        </div>
    </div>
</div>
<!--- Association Section Close --->
<!--- Stay Updated Section --->
<div class="stay-updated">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h4>stay updated</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <form>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email Address"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">fdfdf</div>
            <div class="col-lg-4">fdfdf</div>
            <div class="col-lg-4">fdfdf</div>
        </div>
    </div>
</div>
<!--- Stay Updated Section Close --->