.btn {
    font-size     : 14px;
    border-radius : 0;
    line-height   : 2.4;
    background    : #00035F;
    color         : #fff;
    font-weight   : 500;
    text-transform: uppercase;
}

.heading {
    padding-bottom: 25px;

    h4 {
        font-size     : 34px;
        font-weight   : 600;
        letter-spacing: 1px;
        text-transform: capitalize;
        color         : #161862;
        line-height   : 1.2;
    }
}

/* Home Banner Section */
.homeBanner {
    background       : url('./../../../../assets/Banner.jpg');
    background-repeat: no-repeat;
    background-size  : 100%;
    display          : flex;
    min-height       : 580px;
    max-height       : 100%;
    align-items      : center;

    .bannerContent {
        color         : #fff;
        padding-bottom: 15px;

        h4 {
            font-size  : 64px;
            line-height: 78.02px;
            margin     : 0;
        }
    }

    .btn {
        background: #4C52FE;
    }
}

/* Home Banner Section Close */
/* Feeds Section */
.feeds {
    background: #00035F;

    .feedsContent {
        color: #fff;

        .heading {
            padding-bottom: 18px;

            h4 {
                margin: 0;
                color : #fff;
            }
        }

        .btn {
            background : #23036A;
            border     : 1px solid #A67DFF;
            text-shadow: 1px 1px #000;
            margin-top : 15px;
        }
    }

    img {
        width: 100%;
    }
}

/* Feeds Section Close */
/* Association Section */
.association {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    padding       : 45px 0px 12px;

    .associate-text {
        font-size     : 18px;
        font-weight   : 500;
        text-transform: capitalize;
        text-align    : center;
        color         : #289BD6;
    }

    .content {
        position     : relative;
        width        : 100%;
        margin       : auto;
        overflow     : hidden;
        border-radius: 50%;

        :hover .content-overlay {
            background   : rgba(0, 0, 0, 0.6);
            position     : absolute;
            height       : 100%;
            width        : 100%;
            transition   : all 0.4s ease-out;
            border-radius: 50%;
            overflow     : hidden;
        }

        .content-image {
            width        : 100%;
            border-radius: 50%;
            object-fit   : cover;
        }

        .content-details {
            position     : absolute;
            text-align   : center;
            padding-left : 1em;
            padding-right: 1em;
            width        : 100%;
            top          : 50%;
            left         : 50%;
            opacity      : 0;
            transform    : translate(-50%, -50%);
            transition   : all 0.3s ease-in-out 0s;
            border-radius: 50%;
            overflow     : hidden;

            a {
                color      : #fff;
                font-weight: 600;
                text-decoration: none;
            }

            p {
                color         : #fff;
                font-weight   : 500;
                letter-spacing: 1px;
                font-size     : 14px;
                padding       : 15px;
                margin        : 0;
            }
        }
    }

    .content:hover .content-details {
        top    : 50%;
        left   : 50%;
        opacity: 1;
    }

    .fadeIn-bottom {
        top: 80%
    }
}

/* Association Section Close */

/* Stay Updated */
.stay-updated {
    background: #f6f6f6;
    padding   : 50px 0px;

    form {
        padding: 0px 0 45px;

        .input-group {
            input {
                line-height: 2.4;
                box-shadow : none;
                background : #E5E5E5;
            }

            .btn {
                width: 175px;
            }
        }

        ::placeholder {
            font-size: 12px !important;
            color    : #414141;
        }
    }

    .box {
        background                : #fff;
        box-shadow                : rgb(0 0 0 / 15%) 0px 5px 15px 0px;
        border-bottom-left-radius : 5px;
        border-bottom-right-radius: 5px;

        .box-heading {
            position  : relative;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

            img {
                width : 100%;
                height: 72px;
            }

            .box-text {
                position        : absolute;
                height          : 100%;
                width           : 100%;
                top             : 0;
                left            : 0;
                background-color: rgba(0, 0, 0, .66);
                color           : #fff;
                display         : flex;
                align-items     : center;
                flex-direction  : row;
                justify-content : center;

                .icon {
                    position: relative;

                    .text-logo {
                        position: absolute;
                        left    : -68%;
                        width   : 30px;
                        height  : 30px;
                        top     : -6px;
                    }
                }
            }

            h4 {
                margin        : 0;
                text-align    : center;
                color         : #fff;
                font-size     : 18px;
                text-transform: uppercase;
                font-weight   : 500;
                z-index       : 9999;
            }
        }

        .boxUL {
            padding: 18px 0px;

            ul {
                padding-inline-start: 0;
                list-style          : none;
                margin              : 0;

                li {
                    margin: 5px 10px;

                    a {
                        text-decoration: none;
                        color          : #414141;
                        text-transform : uppercase;
                        line-height    : 3;
                        display        : flex;
                        justify-content: space-between;
                        align-items    : center;

                        .icon {
                            float: right;

                            img {
                                width: 16px;
                            }
                        }

                        .text {
                            width        : 220px;
                            white-space  : nowrap;
                            overflow     : hidden;
                            text-overflow: ellipsis;
                            margin       : 0;
                            background   : white;
                        }
                    }
                }
            }
        }

    }
}

/* Stay Updated Close */
/* Meet Section */
.meetSection {
    padding: 20px 0;

    .event {
        position: relative;

        img {
            width     : 100%;
            box-shadow: none;
            object-fit: cover;
        }

        .upcoming {
            position                 : absolute;
            top                      : 10px;
            right                    : 1px;
            background               : #00035F;
            color                    : #fff;
            font-weight              : 500;
            padding                  : 10px;
            text-transform           : uppercase;
            border-top-left-radius   : 6px;
            border-bottom-left-radius: 6px;

            p {
                margin: 0;
            }
        }
    }

    .meet-content {
        padding-left: 25px;

        .heading {
            padding-bottom: 10px;

            p {
                color: #8A8888;
            }
        }

        p {
            line-height: 1.7;
        }

        .btn {
            line-height: 2;
        }
    }
}

/* Meet Section Close */
/* Gallary Section */
.gallary {
    background: #F6F6F6;
    padding   : 40px 0;

    .gallaryImg {
        img {
            height    : 260px;
            min-height: 260px;
            width     : 100%;
            object-fit: cover;
        }
    }

    .btn {
        width: 100%;
    }
}

/* Gallary Section Close */
/* Alumni Stories */
.alumniStories {
    .story-content {
        background: #00035F;
        padding   : 20px 30px;
        height    : 100%;

        .heading {
            padding-bottom: 0;

            h4 {
                color      : #fff;
                line-height: 1.5;
            }
        }

        p {
            color: #fff;
        }
    }

    .storyDescription {
        background: #F6F6F6;
        height    : 100%;
        padding   : 20px 30px;

        .users {
            display       : flex;
            align-items   : center;
            flex-direction: row;
            margin-bottom : 18px;

            .user-logo {
                overflow    : hidden;
                width       : 110px;
                height      : 110px;
                margin-right: 20px;

                .userImg {
                    width     : 110px;
                    height    : 110px;
                    object-fit: cover;
                    box-shadow: none;
                }
            }

            .username {}
        }

        .image {
            height    : 120px;
            min-height: 120px;
            box-shadow: none;
        }

        h3 {
            margin: 0;
        }

        .storyLogo {
            display    : flex;
            align-items: center;
            padding    : 15px 0;

            .logo {
                margin-right: 20px;

                img {
                    height    : 30px;
                    box-shadow: none;
                }
            }

            .logo-content {
                p {}
            }
        }
    }

    .pd-R {
        padding-right: 0;
    }

    .pd-L {
        padding-left: 0;
    }
}

/* Alumni Stories Close */
/* Home page map css */
.homeMap {
    padding: 40px 0;

    .heading {
        padding-bottom: 0;
    }

    img {
        box-shadow: none;
        width     : 100%;
    }

    .mapCount {
        .counter {
            display       : flex;
            flex-direction: column;
            align-items   : center;

            h4 {
                font-size  : 34px;
                font-weight: 600;
                color      : #6BCDFF;
            }
        }

        .btn {
            width     : 100%;
            margin-top: 1.5rem;
        }
    }
}

/* Home page map css Close */
/* Innovation Css */
.innovate {
    padding: 24px 0;

    .image {
        width     : 100%;
        box-shadow: none;
    }

    .heading h4 {
        text-transform: uppercase;
    }

    .btn {
        width     : 100%;
        margin-top: 20px;
    }
}

/* Innovation Css Close */
@media screen and (max-width: 400px) and (min-width: 300px) {
    .stay-updated {
        form {
            padding: 0px 0 30px;

            .input-group {
                flex-direction: column;
                align-items   : center;

                input {
                    width        : 100%;
                    margin-bottom: 10px;
                    border-radius: 1px;
                }

                .btn {
                    width: auto;
                }
            }
        }

        .box {
            .box-heading {
                .box-text {
                    .icon {
                        .text-logo {
                            left: -52%;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 575px) and (min-width: 300px) {
    .heading {
        padding-bottom: 15px;

        h4 {
            font-size: 24px;
        }
    }

    .homeBanner {
        min-height     : 320px;
        background-size: 100% 100%;

        .bannerContent {
            h4 {
                font-size  : 32px;
                line-height: 1.2;
            }
        }
    }

    .association {
        .content {
            height: 220px;
            width : 220px;

            .content-image {
                height: 220px;
                width : 220px;
            }
        }
    }

    .innovate {
        padding: 20px 0;

        .image {
            margin-bottom: 20px;
            min-height   : 320px;
        }
    }

    .meetSection {
        .meet-content {
            padding-left: 0px;
        }
    }

    .alumniStories {
        .storyDescription {
            .users {
                margin-bottom: 18px 0;
            }
        }

        .pd-R {
            padding-right: 15px;
        }

        .pd-L {
            padding-left: 15px;
        }
    }

    .feeds {
        .feedsContent {
            padding: 40px 0;
        }
    }

    .homeMap {
        padding: 60px 0 30px;
    }

    .gallary {
        background: #F6F6F6;
        padding   : 40px 0;

        .gallaryImg {
            padding-bottom: 18px;

            img {
                height    : 220px;
                min-height: 220px;
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 575px) {
    .homeBanner {
        min-height         : 450px;
        background-size    : 100% 100%;
        background-position: top;

        .bannerContent {
            h4 {
                font-size  : 44px;
                line-height: 1.2;
            }
        }
    }

    .innovate {
        padding: 25px 0;

        .image {
            margin-bottom: 20px;
        }
    }

    .meetSection {
        .meet-content {
            padding-left: 0px;
        }
    }

    .homeMap {
        padding: 60px 0 30px;
    }

    .alumniStories {
        .storyDescription {
            .users {
                margin-bottom: 18px 0;
            }
        }

        .pd-R {
            padding-right: 15px;
        }

        .pd-L {
            padding-left: 15px;
        }
    }

    .feeds {
        .feedsContent {
            padding: 40px 0;
        }
    }

    .homeMap {
        padding: 60px 0 30px;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .homeBanner {
        min-height         : 500px;
        background-size    : 100% 100%;
        background-position: top;
    }

    .meetSection {
        .meet-content {
            padding-left: 0px;
        }
    }

    .alumniStories {
        .storyDescription {
            .users {
                margin-bottom: 18px 0;
            }
        }

        .pd-R {
            padding-right: 15px;
        }

        .pd-L {
            padding-left: 15px;
        }
    }

    .stay-updated {
        .box {
            .box-heading {
                .box-text {
                    .icon {
                        .text-logo {
                            left: -115%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
    .stay-updated {
        .box {
            .box-heading {
                .box-text {
                    .icon {
                        .text-logo {
                            left: -54%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) and (min-width: 991px) {
    .homeBanner {
        min-height         : 460px;
        background-position: top;
    }
}