<!--- Home Banner Section --->
<div class="homeBanner">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-9 col-sm-7 col-7 my-3 align-self-center">
                <div class="bannerContent">
                    <h4>Connect & Network</h4>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <button class="btn" (click)="goJoin()" type="button">Join now</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-3 col-sm-5"></div>
        </div>
    </div>
</div>
<!--- Home Banner Section Close--->
<!--- Association Section --->
<div class="association">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h4>our purpose of almuni associations</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a >
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association03.png">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Connect</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a >
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association04.png">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Network</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a >
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association01.png">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Engage & Support</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a >
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association02.png">
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered</p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Learn (LifeLong & Grow)</h5>
            </div>
        </div>
    </div>
</div>
<!--- Association Section Close --->
<!--- Feeds Section --->
<div class="feeds">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 align-self-center">
                <div class="feedsContent">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading">
                                <h4>Network is your Networth</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p>Our goal is to create better job opportunities.
                                This is why we're constantly tweeting about job availability
                                to make it better every day and helping students start their career.</p>
                        </div>
                        <div class="col-xl-4">
                            <button class="btn" type="button">View More Jobs</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="./assets/feeds.png" />
            </div>
        </div>
    </div>
</div>
<!--- Feeds Section Close --->
<!--- Meet Section --->
<div class="meetSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 my-2">
                <div class="event">
                    <img src="./assets/meetImg.png">
                    <div class="upcoming">
                        <p>Upcoming event</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 my-2 align-self-center">
                <div class="meet-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading">
                                <p>Event</p>
                                <h4>PUNE MEET 2022</h4>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p>Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6">
                            <button class="btn" type="button">Join EVENT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Meet Section Close --->
<!--- Alumni Stories --->
<div class="alumniStories">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let stories of alumniStories">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 pd-R">
                        <div class="story-content">
                            <div class="heading">
                                <h4>{{stories.title}}</h4>
                            </div>
                            <p>
                                {{stories.content}}
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 pd-L">
                        <div class="storyDescription">
                            <div class="users">
                                <div class="user-logo">
                                    <img class="userImg" [src]=[stories.src]>
                                </div>
                                <div class="username">
                                    <h3>{{stories.name}}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="storyLogo">
                                        <div class="logo">
                                            <img src="./assets/story-logo01.png">
                                        </div>
                                        <div class="logo-content">
                                            <p class="mb-0">1999-2001</p>
                                        </div>
                                    </div>
                                    <div class="storyLogo">
                                        <div class="logo">
                                            <img src="./assets/story-logo02.png">
                                        </div>
                                        <div class="logo-content">
                                            <p class="mb-0">Director, Communications, Media & Technology</p>
                                        </div>
                                    </div>
                                    <div class="storyLogo">
                                        <div class="logo">
                                            <img src="./assets/story-logo03.png">
                                        </div>
                                        <div class="logo-content">
                                            <p class="mb-0">Accenture, USA</p>
                                        </div>
                                    </div>
                                    <div class="storyLogo">
                                        <div class="logo">
                                            <img src="./assets/story-logo04.png">
                                        </div>
                                        <div class="logo-content">
                                            <p class="mb-0">Communications, Media & Technology, Management Consulting
                                            </p>
                                        </div>
                                    </div>
                                    <div class="storyLogo">
                                        <div class="logo">
                                            <img src="./assets/story-logo05.png">
                                        </div>
                                        <div class="logo-content">
                                            <p class="mb-0">New York City, USA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!---- Alumni stories Close  ---->
<!--- Map Section --->
<div class="homeMap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h4>Alumni Around The World</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 my-2">
                <img src="./assets/map.png" />
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 my-2 align-self-center">
                <div class="mapCount">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 my-2">
                            <div class="counter">
                                <h4>62150</h4>
                                <p class="text-center">Alumni</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 my-2">
                            <div class="counter">
                                <h4>150</h4>
                                <p class="text-center">Nationalities</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 my-2">
                            <div class="counter">
                                <h4>57</h4>
                                <p class="text-center">Countries</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 my-2">
                            <div class="counter">
                                <h4>4,300+</h4>
                                <p class="text-center">Alumni Volunteers</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 my-2">
                            <div class="counter">
                                <h4>49</h4>
                                <p class="text-center">National Alumni Asociations</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 my-2">
                            <div class="counter">
                                <h4>8</h4>
                                <p class="text-center">Global Clubs</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-4 col-sm-6 text-center">
                            <button class="btn" type="button">Explore alumni on map</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Map Section Close--->
<!--- Gallary Section --->
<div class="gallary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h4>Gallery</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <owl-carousel-o [options]="gallaryOptions">
                    <ng-template carouselSlide *ngFor="let data of gallary">
                        <div class="gallaryImg">
                            <a href="">
                                <img [src]=[data.src]>
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
        <div class="row justify-content-center pt-2">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 text-center">
                <button type="btn" class="btn">View All</button>
            </div>
        </div>
    </div>
</div>
<!--- Gallary Section Close --->
<!--- Innovate Section --->
<div class="innovate">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 my-2">
                <img class="image" src="./assets/innovatePic.png">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 my-2 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading">
                            <h4>Ideate.create. innovate!</h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-4">
                        <button type="button" class="btn">Share your idea</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Innovate Section Close --->
<!--- Stay Updated Section --->
<div class="stay-updated">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h4>stay updated</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-8 my-2">
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="EMAIL ADDRESS"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe
                            now</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 my-2">
                <div class="box">
                    <div class="box-heading">
                        <img src="./assets/learnBox01.jpg">
                        <div class="box-text">
                            <div class="icon">
                                <img class="text-logo" src="./assets/Mask-Group01.png">
                                <h4>learn & grow</h4>
                            </div>
                        </div>
                    </div>
                    <div class="boxUL">
                        <ul>
                            <li><a href=""><span class="text">Mentorship</span> <span class="icon"><img
                                            src="./assets/box-arrow.png" /></span></a></li>
                            <li><a href=""><span class="text">Exclusive resources</span> <span class="icon"><img
                                            src="./assets/box-arrow.png" /></span></a></li>
                            <li><a href=""><span class="text">Contribute back </span> <span class="icon"><img
                                            src="./assets/box-arrow.png" /></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4  my-2">
                <div class="box">
                    <div class="box-heading">
                        <img src="./assets/learnBox02.jpg">
                        <div class="box-text">
                            <div class="icon">
                                <img class="text-logo" src="./assets/Mask-Group02.png">
                                <h4>Latest News</h4>
                            </div>
                        </div>
                    </div>
                    <div class="boxUL">
                        <ul>
                            <li><a href=""><span class="text">Memorial Service for...</span> <span class="icon"><img
                                            src="./assets/box-arrow.png" /></span></a></li>
                            <li><a href=""><span class="text">Sri Balaji University Rajasthan</span> <span
                                        class="icon"><img src="./assets/box-arrow.png" /></span></a></li>
                            <li><a href=""><span class="text">Sri Balaji University Hyderabad</span> <span
                                        class="icon"><img src="./assets/box-arrow.png" /></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4  my-2">
                <div class="box">
                    <div class="box-heading">
                        <img src="./assets/learnBox03.jpg">
                        <div class="box-text">
                            <div class="icon">
                                <img class="text-logo" src="./assets/Mask-Group03.png">
                                <h4>Latest Club</h4>
                            </div>
                        </div>
                    </div>
                    <div class="boxUL">
                        <ul>
                            <li><a href=""><span class="text">13 Jan 2022</span> <span class="icon"><img
                                            src="./assets/box-arrow.png" /></span></a></li>
                            <li><a href=""><span class="text">26 Jan 2022 </span> <span class="icon"><img
                                            src="./assets/box-arrow.png" /></span></a></li>
                            <li><a href=""><span class="text">8 Ma rch 2022</span> <span class="icon"><img
                                            src="./assets/box-arrow.png" /></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Stay Updated Section Close --->