<div class="get-featured">
    <div class="container">
        <div class="row my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="col-12 text-center">
                <form >
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <div class="form-floating mb-3">
                                <input type="email" class="border-0 shadow-none rounded-0 border-bottom custom-form form-control" id="floatingInput" placeholder="name@example.com">
                                <label class="custom-label" for="floatingInput">Email</label>
                            </div>
                            <!-- <div class="text-danger" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                Email is required.
                            </div>
                            <div class="text-danger" *ngIf="f.email.dirty && f.email.errors?.pattern">
                                Email format is incorrect.
                            </div> -->
                        </div>
                        <div class="col-md-6 my-2">
                            <div class="form-floating mb-3">
                                <input type="email" class="border-0 shadow-none rounded-0 border-bottom custom-form form-control" id="floatingInput" placeholder="name@example.com">
                                <label class="custom-label" for="floatingInput">Your Full Name</label>
                            </div>
                            <!-- <div class="text-danger" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                Email is required.
                            </div>
                            <div class="text-danger" *ngIf="f.email.dirty && f.email.errors?.pattern">
                                Email format is incorrect.
                            </div> -->
                        </div>
                        <div class="col-md-6 my-2">
                            <div class="form-floating">
                                <select class="form-select shadow-none border-0 rounded-0 border-bottom" id="floatingSelect" aria-label="Floating label select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Your Institute</label>
                              </div>
                        </div>
                        <!-- <div class="col-md-12 my-2">
                            <div class="form-floating mb-3">
                                <input type="password" class="custom-form form-control" id="floatingInput" formControlName="password" placeholder="name@example.com">
                                <label class="custom-label" for="floatingInput">Password</label>
                            </div>
                            <div class="text-danger" *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                                Password is required.
                            </div>
                            <div class="text-danger" *ngIf="(f.password.touched || submitted) && f.password.errors?.minlength">
                                Password must be at least 5 characters long.
                            </div>
                            <div class="text-danger mt-2" *ngIf="(f.password.touched || submitted) && f.password.errors?.maxlength">
                                Password can be max 10 characters long.
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>