.askfor-general{
    .askfor-background{
        background-color: var(--form-bg);
    }
    .askfor-btn{
        width: 100%;
        line-height: 48px;
        background-color: #011898;
    }
    
}