<div class="commonTopPadding">
    <app-dashboard-banner [heading]="heading"></app-dashboard-banner>
    <div class="askfor-general">
        <div class="container">
            <div class="row my-xl-5 my-lg-5 my-md-5 my-sm-4 my-4">
                <div class="col-lg-12 text-center">
                    <h3 class="main-heading text-uppercase fw-bold mb-0">ASK FOR GENERAL INFO OR SUPPORT</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p class="startup-text text-center px-xl-5 px-lg-4 px-md-4">Ask For General Info Or Support On
                        Moving To The New Location /
                        New
                        To The City, Accommodation Related,
                        Getting Around, References, Catch Up. Establish Initial Contact And Connect Offline.</p>
                    <div
                        class="row askfor-background px-3 py-4 mt-3 mb-xl-5 mb-lg- mb-md-5 mb-sm-4 mb-3 justify-content-center align-items-center">
                        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-12 text-lg-start text-sm-center text-center">
                            <img src="./assets/unsplash_OhKElOkQ3RE (1).png" alt="support img">
                        </div>
                        <div class="col-md-8 col-lg-7 col-xl-8 col-sm-12">
                            <h4 class="askfor-comment text-white pt-4">What's on your mind, Name?</h4>
                            <hr class="text-white">
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12">
                            <div class="askfor-post">
                                <button class="askfor-btn text-white border-0">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>