<div class="askfor-general">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <h4 class="main-heading fw-bold text-center">
                    ASK FOR GENERAL INFO OR SUPPORT
                </h4>
                <p class="startup-text text-center">Ask For General Info Or Support On Moving To The New Location / New
                    To The City, Accommodation Related,
                    Getting Around, References, Catch Up. Establish Initial Contact And Connect Offline.</p>
                <div class="row askfor-background px-3 py-4 my-5 justify-content-center align-items-center">
                    <div class="col-md-4 col-lg-3 col-xl-2 col-sm-12">
                        <img src="../../../../../assets/unsplash_OhKElOkQ3RE (1).png">
                    </div>
                    <div class="col-md-8 col-lg-7 col-xl-8 col-sm-12">
                        <h4 class="askfor-comment text-white pt-4">What's on your mind, Name?</h4>
                        <hr class="text-white">
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12">
                        <div class="askfor-post">
                            <button class="askfor-btn text-white border-0">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>