.news-content {
  h6{
    color: var(--bg-color);
  }
}
.news-discription {
  a {
    color: var(--btn-black) !important;
  }
  :hover {
    color: var(--btn-background) !important;
  }
}
.allNews {
  height: 280px;
  overflow-y: auto;
  .title {
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
  }
}

.bannerImg {
  background: url("./../../../../../../assets/celebrate/celebrate_banner.jpg");
  background-repeat: var(--background-no-repeat);
  height: 250px;
  background-size: 100% 100%;
  position: var(--position-relative);
  .layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: var(--position-absolute);
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height-100);
    display: var(--display-Flex);
    align-items: var(--align-center);
  }
  h3 {
    letter-spacing: var(--letter-space-1);
    font-family: var(--family);
    font-size: var(--font-S-32);
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .bannerImg {
    background-size: cover;
    background-position-x: center;
    height: 150px;
    h3 {
      font-size: var(--font-S-18);
    }
  }
}

@media (min-width: 574px) and (max-width: 767px) {
  .bannerImg {
    height: 180px;
    h3 {
      font-size: var(--font-S-22);
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bannerImg {
    height: 200px;
    h3 {
      font-size: var(--font-S-26);
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bannerImg {
    h3 {
      font-size: var(--font-S-30);
    }
  }
}

// NEWS & UPDATES END
// RESPONSIVE CSS START
@media (min-width: 300px) and (max-width: 575px) {
  .news-content {
    .news-discription {
      text-align: justify;
      overflow-wrap: break-word;
      table {
        tbody{
          td, th, thead, tr {
            display: block !important;
          }
        }
      }
    }
  }
}
