.news-discription {
    a {
        color: var(--btn-black) !important;
    }
     :hover {
        color: var(--btn-background) !important;
    }
}

// NEWS & UPDATES END
// RESPONSIVE CSS START
@media (min-width: 300px) and (max-width: 575px) {
    .news-discription {
        text-align: justify;
        overflow-wrap: break-word;
    }
  }