<div class="container">
    <div class="row">
        <div class="news-heading  text-center">
            <h4 class="main-heading text-uppercase fw-bolder text-center"> NEWS & UPDATES</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="university-img">
                <div class="overlay">
                    <h4 class="text-white bottom-left px-3">Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry... </h4>
                </div>
            </div>
            <div class="col more-btn text-center mb-3">
                <button type="button" class="btn read-more text-capitalize mt-5 fs-5 mb-5 px-4">Read More</button>
            </div>
            <div class="news-content">
                <h6 class="news-discription fs-6 fw-bolder text-capitalize">News Title:</h6>
                <p class="news-discription fs-6 text-capitalize"> Memorial Service for Prof. Dr. (Col) A. Balasubramanian, Founder Chancellor of Sri Balaji University, Pune (SBUP) on 14th March, 2021 at SBUP Campus</p>

                <h6 class="news-discription fs-6 fw-bolder text-capitalize"> News Description:</h6>
                <p class="news-discription fs-6 text-capitalize"> Respected Sir/Madam,</p>
                <p class="news-discription fs-6 ">1. It is with deep sorrow and regret, we inform you that our dearest, most respected and loved Bala Sir, left for his heavenly abode on 20 February 2021 and his funeral rites were held in the campus of Sri Balaji University, Pune on
                    21 February 2021.<br> 2. Prof. Dr. (Col) A. Balasubramanian was an eminent educationist, philanthropist, a gifted writer and an illustrious army officer - A Legend in his lifetime. His legacy will be carried forward by the team
                    he has created.<br> 3. To pay homage to our beloved Bala Sir, a memorial service will be held on 14 March 2021 between 11:00 to 13:00 hrs, at Rathinathammal auditorium in Sri Balaji University, Pune. The entire memorial service
                    will also be live streamed.<br> 4. We understand that all of us in our hearts would like to be physically present for the memorial service but due to the pandemic situation it may not be possible for some. Therefore, there is an
                    ption, where you may join live, for which the link is:<br>
                    <a href="http://bit.ly/BalaSirMemorialService" class="text-decoration-none">http://bit.ly/BalaSirMemorialService</a> (Please note: This is an abbreviated link for Microsoft Team Link which will be live on 14 March 2021. To avoid
                    last minute technical issues please download Microsoft Teams app on your device (mobile/desktop) in advance. Here is the link to download Microsoft Teams app
                    <a href="https://www.microsoft.com/enin/microsoft-teams/download-app " class="text-decoration-none">https://www.microsoft.com/enin/microsoft-teams/download-app</a>)<br> 5. Keeping in line with the covid protocol and to also make
                    the necessary arrangements, we request you to kindly fill up the RSVP form
                    <a href="https://forms.gle/Xgj8ZDgTEJ1WU4Qy7" class="text-decoration-none">https://forms.gle/Xgj8ZDgTEJ1WU4Qy7</a> Using the same RSVP form, you may even send us your recorded tribute - written, audio or video which may be live
                    streamed by us.<br> 6. We cherish your association with our beloved Bala Sir and look forward to your continued relationship with Sri Balaji University, Pune. <br><br> Yours sincerely, <br> Mr. Parandhaman Balasubramanian.

                </p>
                <div class="col more-btn text-center mb-3">
                    <button type="button" class="btn read-more text-capitalize mt-5 fs-5 mb-5 px-4">View More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="news-heading text-center">
                <h4 class="main-heading text-uppercase fw-bolder"> ALL NEWS </h4>
            </div>
            <div class="college-groups text-center">
                <img src="../../../../../../assets/celebrate/group1.png" class="college-groups-image img-fluid" alt="college-groups-image">
            </div>
            <h6 class="image-discription fs-6 fw-bolder py-4 text-capitalize"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            <div class="college-groups text-center">
                <img src="../../../../../../assets/celebrate/group2.png" class="college-groups-image img-fluid" alt="college-groups-image">
            </div>
            <h6 class="image-discription fs-6 fw-bolder py-4  text-capitalize"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            <div class="college-groups text-center">
                <img src="../../../../../../assets/celebrate/group3.png" class="college-groups-image img-fluid" alt="college-groups-image">
            </div>
            <h6 class="image-discription fs-6 fw-bolder py-4 text-capitalize"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            <div class="col more-btn text-center mb-3">
                <button type="button" class="btn read-more text-capitalize mt-5 fs-5 mb-5 px-4">Read More</button>
            </div>
        </div>
    </div>
</div>
<!-- NEWS & UPDATES CONTAINER END -->
<!-- COMMUNICATION CHANNELS CONTAINER START -->
<div class="container">
    <div class="row ">
        <div class="news-heading my-5 text-center">
            <h4 class="main-heading text-uppercase fw-bolder">Our Communication Channels</h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 ">
                <div class="vice-chancellor m-auto">
                    <h6 class="news-discription fs-6 fw-bolder text-capitalize"> 1.<br> Dr. G.K. Shirude<br> Vice Chancellor – Sri Balaji University, Pune</h6>
                    <p class="news-discription">Mobile # 9860306084<br> Landline # 020-66741280<br> Email id: vc@sbup.edu.in</p>

                    <h6 class="news-discription fs-6 fw-bolder text-capitalize">2.<br> Brig. M.L. Bhambhani (Retd.)<br> Advisor – Sri Balaji University, Pune</h6>
                    <p class="news-discription">Mobile # 9765390250<br> Landline # 020-66741478<br> Email id: bhambhani@sbup.edu.in</p>

                    <h6 class="news-discription fs-6 fw-bolder text-capitalize">3<br> Dr. Biju G Pillai<br> Senior Director – IT & Admissions</h6>

                    <p class="news-discription">Dean, Sri Balaji University, Pune<br> Mobile # 9049985978<br> Landline # 020-66741222<br> Email id: bijupillai@sbup.edu.in</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <div class="vice-chancellor m-auto">
                    <h6 class="news-discription fs-6 fw-bolder text-capitalize">4.<br> Dr. Dimple Saini<br> Senior Director – Corporate Relations<br> Dean, Sri Balaji University, Pune<br> Chairman CDC, BCACS and BLC</h6>
                    <p class="news-discription">Mobile # 9823178782<br> Landline # 020-66741244<br> Email id: director.cr@sbup.edu.in </p>


                    <h6 class="news-discription fs-6 fw-bolder text-capitalize">5.<br> Prof. V.T. Vignesh<br> Director Academics & Examination<br> Sri Balaji University, Pune</h6>
                    <p class="news-discription">Mobile # 9923080846<br> Landline # 020-66741223<br> Email id: director.academics@sbup.edu.in</p>

                    <h6 class="news-discription fs-6 fw-bolder text-capitalize">6.<br> Deepak Rai</h6>
                    <p class="news-discription">Alumnus (Pioneer Batch 1999-2001)<br> Mobile # 9834662720<br> Email id: deepakrai9@gmail.com</p>
                </div>
            </div>
        </div>
    </div>