<app-users-banner [heading]="heading"></app-users-banner>
<div class="container">
    <div class="row my-xl-5 my-lg-5 my-md-5 my-sm-4 my-4">
        <app-loader *ngIf="loading"></app-loader>
        <ng-container *ngIf="!loading">
            <div class="col-lg-12" *ngFor="let news of allNewsUpdates">
                <div class="university-img py-3">
                    <img class="img-fluid" [src]="(news?.newsImage) ? imgPath + news?.newsImage : './assets/celebrate/balaji-university.png'"
                        alt="news photo">
                </div>
                <div class="news-content pt-3">
                    <h6 class="news-discription fs-6 fw-bolder text-capitalize">News Title:</h6>
                    <p class="news-discription fs-6 text-capitalize"> {{news?.title}}</p>
                    <p class="news-discription fs-6 text-capitalize">Created On: {{news?.created_at | date}}</p>
                    <p class="news-discription fs-6 text-capitalize">Author: {{news?.author}}</p>
                    <h6 class="news-discription fs-6 fw-bolder text-capitalize"> News Description:</h6>
                    <div class="news-discription fs-6 text-capitalize" [innerHtml]="news?.description">
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>