.founderPage {
  .know-us-section {
    .small-heading {
      color: var(--font-color-2);
      font-size: var(--font-S-18);
      font-size: var(--font-S-24);
      line-height: var(--line-height-28);
      font-weight: var(--font-B-600);
    }
    .text-name {
      color:var( --font-color);
      font-size: var(--font-S-16);
      line-height: var(--line-height-30);
      text-align: justify;
      font-weight: var(--font-B-400);
    }
    .text-para {
      font-size: var(--font-S-16);
      line-height: var(--line-height-32);
      text-align: justify;
      font-weight: var(--font-B-400);
    }
    
    .founderVideo {
      p {
        color: var(--btn-background);
      }
      iframe {
        width: var(--width-0100);
        height: 450px;
      }
    }
    .text-blue {
      color: var(--btn-background);
    }
    .knowmore-text{
      
    }
  }
}

@media screen and (max-width: 400px) and (min-width: 300px) {
  .founderPage {
    .know-us-section {
      .founderVideo {
        iframe {
          height: 200px;
        }
      }
      .small-heading {
        font-size: var(--font-S-14);
      }
    }
  }
}

@media screen and (max-width: 574px) and (min-width: 400px) {
  .founderPage {
    .know-us-section {
      .founderVideo {
        iframe {
          height: 288px;
        }
      }
      .small-heading {
        font-size: var(--font-S-14);
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 575px) {
  .founderPage {
    .know-us-section {
      .founderVideo {
        iframe {
          height: 352px;
        }
      }
      .small-heading {
        font-size: var(--font-S-16);
      }
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .founderPage {
    .know-us-section {
      .founderVideo {
        iframe {
          height: 430px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
  .founderPage {
    .know-us-section {
      .founderVideo {
        iframe {
          height: 400px;
        }
      }
    }
  }
}
