<div class="founderPage">
    <app-users-banner [heading]="heading"></app-users-banner>
    <div class="know-us-section">
        <div class="container">
            <div class="row justify-content-center py-4">
                <div class="col-lg-12 text-center">
                    <h6
                        class="main-heading fs-2 fw-bolder text-uppercase fw-bolder pt-xl-4 pt-lg-3 pt-md-3 pt-sm-2 pt-2">
                        THE FOUNDER
                        CHANCELLOR
                    </h6>
                    <div class="know-image">
                        <img src="./assets/know-us/balasir.png" class="w-50">
                    </div>
                </div>
                <div class="col-lg-12 py-xl-4 py-lg-4 py-md-4 py-sm-3">
                    <h6 class="main-heading fs-2 fw-bolder text-uppercase fw-bolder">LATE
                        PROF. DR.
                        (COL) A. BALASUBRAMANIAN
                        <br> <span class="small-heading fw-bold fs-6">Founder President & Chancellor, Sri
                            Balaji University, Pune</span>
                    </h6>
                    <p class="font-italic text-muted mb-2 pt-lg-3 pt-md-3 pt-sm-2 pt-2 text-para"><span
                            class="text-name fw-bold">
                            Prof. Dr.
                            (Col.) A. Balasubramanian </span>was an eminent educationist, philanthropist, a
                        gifted writer, and army officer. The founding father of Sri Balaji University, Pune
                        (SBUP),<span class="text-name fw-bold"> Prof. Dr. (Col.) A. Balasubramanian</span>, was a
                        powerhouse of energy, dynamism
                        and knowledge. His contributions had been instrumental in setting up Symbiosis
                        Institute of Management Studies (SIMS) and was the ‘Atlas’ of the Sri Balaji
                        University, Pune (SBUP).</p>
                    <p class="font-italic text-muted mb-2 pt-lg-3 pt-md-3 pt-sm-2 pt-2 text-para">
                        A soldier and a student, <span class="text-name fw-bold">Dr. (Col) A. Balasubramanian</span>
                        was also a trainer, a consultant, a gifted writer, an author and the pioneer who conceived the
                        idea
                        of creating the first Post Graduate Management Institute in India exclusively for the Defence
                        Personnel and their dependents. A retired Army Personnel, he was the first Indian from Armed
                        Forces
                        in the history of India to be conferred the Honorary Rank of Colonel after retirement. Standing
                        tall
                        with him on this exclusive dais are famous sportsmen like Kapil Dev, Sachin Tendulkar, Abhinav
                        Bindra, Mahender Singh Dhoni and the famous actor, Mohanlal. has many feathers in his cap and is
                        known for his creative, successful, and bold experiments in management education ventures.</p>
                    <p class="font-italic text-muted mb-2 pt-lg-3 pt-md-3 pt-sm-2 pt-2 text-para">
                        He was a firm believer in the values of <a href="#" class="text-decoration-none fw-bold text-blue">Discipline,
                            Determination, and Dedication</a>
                        and leaves no stone unturned in ensuring that these values become the lifestyle of the MBA
                        students
                        enrolled in the Society. It’s a common belief that a man is a product of one’s environment. But
                        for
                        men with a strong will power, the environment is never a limiting factor. Prof. Bala was one
                        such
                        individual who has fought against the environmental factors to craft a fortune for himself. Born
                        in
                        the iron grip of poverty education was a scarce commodity to come by. To make a place for
                        himself in
                        the world, he left the comforts of a protected family life and joined an orphanage and completed
                        his
                        education up to high school. He then joined the Indian Army as a Sepoy and retired as a Subedar
                        after a service of 28 years. While wearing the uniform, he acquired three post-graduate degrees
                        with
                        flying colors.</p>
                    <p class="font-italic text-muted mb-2 pt-lg-3 pt-md-3 pt-sm-2 pt-2 text-para">
                        His inclination towards education and knowledge did not end with acquiring degrees for himself,
                        but
                        led him to create The Sri Balaji University and the Institutes under it which have groomed more
                        than
                        16000 managers to date. His scholarly attributes and commitment to students have ranked him as
                        one
                        of the leading lights in the field of education in India. <span class="text-name fw-bold">Dr. (Col) A.
                            Balasubramanian </span>believes that ‘Education is the enhancer of knowledge, skill, and
                        attitude. It is the energy of a nation. It is a source of discipline, dedication and
                        determination
                        necessary for transforming the effort into action for achieving the goal’. In line with his
                        beliefs,
                        he steers the four prestigious management institutes in Pune, namely Balaji Institute of Modern
                        Management (BIMM), Balaji Institute of Telecom & Management (BITM), Balaji Institute of
                        International Business (BIIB) and Balaji Institute of Management & HRD (BIMHRD), collectively
                        forming the powerhouse of education known as the Sri Balaji University (SBUP).
                    </p>
                    <p class="font-italic text-muted mb-2 pt-lg-3 pt-md-3 pt-sm-2 pt-2 text-para">
                        The other colleges are Balaji College of Arts, Science & Commerce (BCACS), Balaji Junior College
                        of
                        Arts, Commerce & Science (BCACS) and Balaji Law College (BLC) providing education to
                        undergraduate
                        students.
                    </p>
                    <p class="font-italic text-muted mb-2 pt-lg-3 pt-md-3 pt-sm-2 pt-2 text-para">
                        The vision and mission statement of Dr. (Col) A. Balasubramanian is<a href="#"
                            class="text-decoration-none text-blue fw-bold"> 'Problems are
                            Opportunities’ <span class="text-muted ">and</span> ‘Be Selfish'.</a></p>

                </div>
                <div class="row justify-content-center pt-lg-3 pt-md-3 pt-sm-2 pt-2">
                    <div class="col-md-8 col-lg-8 text-center founderVideo p-0">
                        <iframe src="https://youtube.com/embed/7MMhuqtImo0"></iframe>
                        <p class="text-start my-3 fs-6 fw-bold"><a href="https://youtu.be/7MMhuqtImo0" class="text-blue">https://youtu.be/7MMhuqtImo0</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>