<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <img src="../../../../../assets/know-us/founder.jpg" class="img-fluid w-100"/>
        </div>
      </div>
     
      <div class="row">
        <div class="col-lg-12 text-center my-3">
            <h3 class="main-heading text-uppercase fw-bolder">THE FOUNDER</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col text-center">
          <iframe class="founderVideo"
            src="https://youtube.com/embed/7MMhuqtImo0"
          ></iframe>
        </div>
      </div>
      <br />
      <p class="font-italic text-muted mb-2 text-justify">
        <b>Dr. (Col.) A. Balasubramanian</b> is a triple Post Graduate and rare
        personality known for his creative approach and making history in the
        field of education. He is a classic example of courage, commitment and
        intimate relationship with the corporate world. He still claims to be a
        student, was a soldier for nearly 28 years, is a trainer, a consultant,
        an author of five books in management, a writer with more than 100 short
        stories and two novels to his credit, he is the one who conceived the
        very idea of creating the first Post Graduate Management Institute in
        India exclusively for the Defence Personnel and their Dependents. He is
        the first Indian from Armed Forces in the history of India to be
        conferred the Honorary Rank of Colonel after retirement. Much later
        cricket icons Kapil Dev, Mahinder Singh Dhoni and Sachin Tendulkar were
        conferred the honorary rank of Lt Col and Group Captain. Thus he has
        many feathers in his cap and is known for his creative, successful and
        bold experiments in management education ventures.
      </p>

      <p class="font-italic text-muted mb-2">
        He is an educationist who is clearly ahead of his time and has time and
        again demonstrated an uncanny ability to foresee the trends of the
        future within the education industry as well as in the corporate world.
        He has introduced many innovative ideas in Management Education of which
        many have become norms and style of management education.
      </p>

      <p class="font-italic text-muted mb-2">
        Dr. (Col.) A. Balasubramanian was born in a very poor farmer's family in
        South India where education was a scarce product. He ran away from home
        to join an orphanage to complete education upto High School. Later he
        joined the Indian Army and served there for about 28 years and retired
        as a Subedar. During his service with Army, he acquired three post
        graduate degrees with flying colors. His scholarly attributes and
        commitment to students has made him as one amongst the leading lights in
        the field of education in India. Education is enhancer of knowledge,
        skill and attitude. It is the energy of a nation. It is a source of
        discipline, dedication and determination to achieve the goal. He keep on
        saying. He is the founder of the prestigious Sri Balaji Society, Pune
        <a class="text-decoration-none" href="www.balajisociety.org">(www.balajisociety.org)</a> . He is running four prestigious management
        institutes namely Balaji Institute of Modern Management (BIMM), Balaji
        Institute of Telecom & Management (BITM), Balaji Institute of
        International Business (BIIB) and Balaji Institute of Management & HRD
        (BIMHRD).
      </p>

      <p class="font-italic text-muted mb-2">
        1000 Post Graduates in Management specializing in Sales & Marketing
        Management, Finance Management, Operations & Supply Chain Management,
        Human Resources Management, Telecom Management, International Business,
        Systems Management are passed out from all these four management
        institutes and these Post Graduates are well placed in the corporate
        world globally. Many of them are working in Gulf countries including
        Muscat and Dubai. The vision and mission statement of Dr. Bala is
        'Problems are opportunities and Be Selfish'. The other colleges run by
        him are Balaji College of Arts, Science & Commerce (BCACS), Balaji
        Junior College of Arts, Commerce & Science (BJCACS) and Balaji Law
        College (BLC) providing education to undergraduate students. He is also
        the Executive Director of BIMM and Dean of BITM, BIIB and BIMHRD. As a
        genuine philanthropist, he has generously donated lakhs of rupees for
        the educational purposes for which he was recently conferred an award in
        an All India conference.
      </p>

      <p class="font-italic text-muted mb-2">
        Sri Balaji Society, Pune means quality and commitment to the students'
        community. We believe that each and every student has the potential to
        be groomed to have a successful corporate career. Converting the right
        candidates to the right jobs through right training and development has
        always been the goal of our Society. We are deeply pleased to state that
        we have achieved the same to a larger extent as can be seen from the
        Track-Record of campus placements of our management institutes.
      </p>
      <div class="row">
        <div class="col my-2">
          <img
            src="../../../../../assets/know-us/know-our-president-dr-bala-1.jpg" class="img-fluid h-100 w-100"
          />
        </div>
        <div class="col my-2">
          <img src="../../../../../assets/know-us/bala7.jpg" class="img-fluid h-100 w-100"/>
        </div>
      </div>
      <div class="row">
        <div class="col my-2">
          <img src="../../../../../assets/know-us/bala6.jpg" class="img-fluid h-100 w-100"/>
        </div>
        <div class="col my-2">
          <img src="../../../../../assets/know-us/bala4.jpg" class="img-fluid h-100 w-100"/>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col my-2">
          <img src="../../../../../assets/know-us/appreciation.jpg" class="img-fluid h-100 w-100"/>
        </div>
        <div class="col my-2">
          <img src="../../../../../assets/know-us/honorary-colonels.jpg" class="img-fluid h-100 w-100"/>
        </div>
      </div>
    </div>
  </div>
</div>
