.know-us-section {
  .small-heading {
    color: #f65c8b;
  }
  .text-name {
    color: #fea641;
  }
  .text-para {
    text-align: var(--text-J);
  }
  .founderVideo {
    p {
      color: var(--btn-background);
    }
  }
}
