<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-center">
                <li>
                    <a class="btn btn-outline-success me-1" [routerLink]="['/auth/register']">Register</a>
                </li>
                <li>
                    <ng-container *ngIf="!isLogin">
                        <a class="btn btn-outline-success" [routerLink]="['/auth/login']">Login</a>
                    </ng-container>
                    <ng-container *ngIf="isLogin">
                        <a class="btn btn-outline-success" (click)="logout()">Logout</a>
                    </ng-container>
                </li>
                <ng-container *ngIf="isLogin">
                    <li>
                        <div class="dropdown btn-group">
                            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" [routerLink]="['/view-profile']">View Profile</button>
                                </li>
                                <li><button class="dropdown-item" [routerLink]="['/edit-profile']">Edit Profile</button></li>
                                <li><button class="dropdown-item" [routerLink]='["/auth/forgot-password"]' type="button">Reset
                                        Password</button></li>
                                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>