<app-dashboard-banner [heading]="heading"></app-dashboard-banner>
<div class="container">
    <div class="row mt-xl-5 mt-lg-5 mt-md-12 mt-sm-4 mt-3 mb-xl-4 mb-lg-4 mt-md-4 mt-sm-3 mt-3">
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/community/AlumniDirectory-1.png" alt="alumni img" class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">Alumni Directory</h6>
            <div class="description my-xl-4 pb-xl-3 pb-lg-3">
                <p>Find and connect with fellow Alumni form your batch, in your city or geography.</p>
            </div>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more information.</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/community/Professionalclub 1.png" alt="professional img" class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">Professional Clubs</h6>
            <div class="description my-xl-4 pb-xl-3 pb-lg-3">
                <p>Subscribe to your tribe (your community). Discuss, ideate, share, actively engage in professional
                    clubs and forums focusing on specific professional topics like CX, CRM, Strategy, Innovation,
                    Digital, E-commerce, IOT, Social, Mobile, Big Data, Analytics, Advertising & Media, Sales,
                    Marketing, Branding, Fin Tech, Block Chain, Human Capital, Future of Work, Not-For-Profit and many
                    more.
                <p>Get connected to industry focus groups – Automotive, Retail, IT, Public Sector, Education,
                    Hospitality, others.</p>
                <p>Want to start a specific Club - submit your request to Start a Club and drive it forward.</p>
            </div>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more information.</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/community/AlumniDirectory-3.png" alt="entrepreneurship img" class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">Entrepreneurship Club</h6>
            <div class="description my-xl-4 pb-xl-3 pb-lg-3">
                <p>Share your business venture information, float business ideas, visit the start- up corner, seek
                    funding, access resources and much more.</p>
            </div>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more information.</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/community/AskForSupport.png" alt="support img" class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">Ask for info or support</h6>
            <div class="description my-xl-4 pb-xl-3 pb-lg-3">
                <p>Reach out to the Alumni community based on region, geo, country, state, city for specific information
                    and get going. Moving to a new location, city ask for info or support around as basic and general
                    information as getting around and as specific questions such memberships to various professional
                    associations and certifications in your domain.</p>
            </div>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more information.</a>
        </div>
    </div>
</div>