<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <img
            src="./assets/know-us/managementteam.png"
            class="img-fluid w-100"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center my-2 my-lg-4 my-md-4 my-sm-4">
          <h3 class="main-heading text-uppercase fw-bolder">AICTE APPROVALS</h3>
        </div>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="py-3 text-center" colspan="5">Batch Approval Letter</th>
            <th class="text-center d-flex align-items-center" align="left" rowspan="2">Present Status</th>
            <th class="text-center" rowspan="2">Management Institutes</th>
          </tr>
          <tr>
            <!--   <th> 2011-13</th>-->
            <th class="py-3 text-center">2012-14</th>
            <th class="py-3 text-center">2013-15</th>
            <th class="py-3 text-center">2014-15</th>

            <th class="py-3 text-center">2015-16</th>
            <th class="py-3 text-center">2016-17</th>
          </tr>
          <tr>
            <!--    <td width="11%"><a target="_blank" href="aicte/BIMM-2011-13-AICTE-Approval.pdf">BIMM Letter </a></td>-->
            <td width="11%">
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BIMM-2012-14-AICTE-Approval.pdf"
                >BIMM Letter
              </a>
            </td>
            <td width="11%">
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BIMM-2013-15-AICTE-Approval.PDF"
                >BIMM Letter
              </a>
            </td>
            <td width="11%">
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2014-15/EOA-Report-2014-15-BIMM.PDF"
                >BIMM Letter
              </a>
            </td>
            <td width="11%">
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2015-16/EOA_Report_2015-16-BIMM.PDF"
                >BIMM Letter
              </a>
            </td>
            <td width="11%">
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2016-17/EOA_Report_2016-17-BIMM.PDF"
                class="orange-t"
                >BIMM Letter
              </a>
            </td>
            <td width="14%">
              <a
                target="_blank"
                href="http://www.aicte-india.org/excel/29jun/maharash.html"
                >AICTE Weblink</a
              >
            </td>
            <td>
              <a target="_blank" href="http://www.bimmpune.com"
                >Balaji Institute of Modern Management (BIMM)</a
              >
            </td>
          </tr>
          <tr>
            <!--  <td><a target="_blank" href="aicte/BITM-2011-13-AICTE-Approval.pdf">BITM Letter </a></td>-->
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BITM-2012-14-AICTE-Approval.pdf"
                >BITM Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BITM-2013-15-AICTE-Approval.PDF"
                >BITM Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2014-15/EOA-Report-2014-15-BITM.PDF"
                >BITM Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2015-16/EOA_Report_2015-16-BITM.PDF"
                >BITM Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2016-17/EOA Report 2016-17-BITM.PDF"
                class="orange-t"
                >BITM Letter
              </a>
            </td>

            <td>
              <a
                target="_blank"
                href="http://www.aicte-india.org/excel/29jun/maharash.html"
                >AICTE Weblink</a
              >
            </td>
            <td>
              <a target="_blank" href="http://www.bitmpune.com"
                >Balaji Institute of Telecom and Management (BITM)</a
              >
            </td>
          </tr>
          <tr>
            <!--  <td><a target="_blank" href="aicte/BIIB-2011-13-AICTE-Approval.pdf">BIIB Letter </a></td>-->
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BIIB-2012-14-AICTE-Approval.pdf"
                >BIIB Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BIIB-2013-15-AICTE-Approval.PDF"
                >BIIB Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2014-15/EOA-Report-2014-15-BIIB.PDF"
                >BIIB Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2015-16/EOA_Report_2015-16-BIIB.PDF"
                >BIIB Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2016-17/EOA_Report_2016-17_BIIB.PDF"
                class="orange-t"
                >BIIB Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.aicte-india.org/excel/29jun/maharash.html"
                >AICTE Weblink</a
              >
            </td>
            <td>
              <a target="_blank" href="http://www.biibpune.com"
                >Balaji Institute of International Business (BIIB)</a
              >
            </td>
          </tr>
          <tr>
            <!--                <td><a target="_blank" href="aicte/BIMHRD-2011-13-AICTE-Approval.pdf">BIMHRD Letter </a></td>-->
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BIMHRD-2012-14-AICTE-Approval.pdf"
                >BIMHRD Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/BIMHRD-2013-15-AICTE-Approval.PDF"
                >BIMHRD Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2014-15/EOA-Report-2014-15-BIMHRD.PDF"
                >BIMHRD Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.sribalajisocietypune.org/aicte/2015-16/EOA_Report_2015-16-BIMHRD.PDF"
                >BIMHRD Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="aicte/2016-17/EOA_Report_2016-17-BIMHRD.PDF"
                class="orange-t"
                >BIMHRD Letter
              </a>
            </td>
            <td>
              <a
                target="_blank"
                href="http://www.aicte-india.org/excel/29jun/maharash.html"
                >AICTE Weblink</a
              >
            </td>
            <td>
              <a target="_blank" href="http://www.bimhrdpune.com"
                >Balaji Institute of Management and Human Resource Development
                (BIMHRD)
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      =
    </div>
  </div>
</div>
