.card {
  background: #E2E7FF;
  
  .itemPic {
    min-height: 210px;
    max-height: 210px;
    img {
     height: 30vh;
    }
  }
  .view-btn {
    background: #011898;
    color: #fff;
    line-height: 1.8;
  }
}
