<div class="row p-3">
    <div class="col-lg-12">
        <form>
            <!-- <div class="row justify-content-end">
                <div class="col-auto">
                    <a type="button" class="btn btn-outline">Edit</a>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-4 my-2">
                    <label class="form-label fw-normal">First name <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter first name">
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.first_name.touched || submitted) && f.first_name.errors?.required">
                        First name is required.
                    </div> -->
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Middle name</label>
                    <input type="text" class="form-control" placeholder="Enter middle name">
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.first_name.touched || submitted) && f.first_name.errors?.required">
                        First name is required.
                    </div> -->
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Last name <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter last name">
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.first_name.touched || submitted) && f.first_name.errors?.required">
                        First name is required.
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 my-2">
                    <label class="form-label">Institute <span class="label-danger">*</span></label>
                    <select class="form-select">
                        <option>0</option>
                        <!-- <option value="" selected>Choose your institute</option>
                        <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                            {{institute.institute_name}}</option> -->
                    </select>
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.institute_id.touched || submitted) && f.institute_id.errors?.required">
                        Institute name is required.
                    </div> -->
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Batch year <span class="label-danger">*</span></label>
                    <select class="form-select">
                        <option>0</option>
                        <!-- <option value="" selected>Choose your institute</option>
                        <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                            {{institute.institute_name}}</option> -->
                    </select>
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.institute_id.touched || submitted) && f.institute_id.errors?.required">
                        Institute name is required.
                    </div> -->
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Institute wise roll # </label>
                    <input type="text" class="form-control" placeholder="Enter roll number">
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.first_name.touched || submitted) && f.first_name.errors?.required">
                        First name is required.
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 my-2">
                    <label class="form-label">Gender <span class="label-danger">*</span></label>
                    <select class="form-select">
                        <option>M</option>
                        <option>F</option>
                        <!-- <option value="" selected>Choose your institute</option>
                        <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                            {{institute.institute_name}}</option> -->
                    </select>
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.institute_id.touched || submitted) && f.institute_id.errors?.required">
                        Institute name is required.
                    </div> -->
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Marital status </label>
                    <select class="form-select">
                        <option>M</option>
                        <option>F</option>
                        <!-- <option value="" selected>Choose your institute</option>
                        <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                            {{institute.institute_name}}</option> -->
                    </select>
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.institute_id.touched || submitted) && f.institute_id.errors?.required">
                        Institute name is required.
                    </div> -->
                </div>
                <div class="col-md-4 my-2">
                    <label class="form-label">Blood group </label>
                    <select class="form-select">
                        <option>M</option>
                        <option>F</option>
                        <!-- <option value="" selected>Choose your institute</option>
                        <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                            {{institute.institute_name}}</option> -->
                    </select>
                    <!-- <div class="text-danger mt-2"
                        *ngIf="(f.institute_id.touched || submitted) && f.institute_id.errors?.required">
                        Institute name is required.
                    </div> -->
                </div>
            </div>
        </form>
    </div>
</div>
<!-- [formGroup]="registerForm" -->