<footer>
    <div class="footer">
        <div class="container-fluid px-xl-5 px-lg-2 px-sm-2 px-md-2 px-2">
            <div class="row">
                <div class="col-lg-3 my-3">
                    <div class="address_description py-3">
                        <a>
                            <img src="./assets/logo.webp" class="mb-2" alt="footer-logo">
                        </a>
                        <div class="links_heading">
                            <h4>Sri Balaji University, Pune</h4>
                        </div>
                        <p class="mb-4">Survey No. 55/2-7, Tathawade,<br> Off Mumbai-Bangalore bypass,<br> Pune-411033,
                            Maharashtra, India.</p>

                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 my-2">
                            <div class="links">
                                <div class="links_heading">
                                    <h4>Know Us</h4>
                                </div>
                                <ul>

                                    <li>
                                        <a class="ref" routerLink="/about-us/founder">Our Founder Chancellor</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/about-us/balaji-social-society">SBUP</a>
                                    </li>
                                    <!-- <li>
                                        <a class="ref" routerLink="/about-us/president-message">President's Message</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/team">Management Team</a>
                                    </li>
                                    <li>
                                        <a class="ref"  [routerLink]="['/sitemap']">Sitemap</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 my-2">
                            <div class="links">
                                <div class="links_heading">
                                    <h4>Common Purpose</h4>
                                </div>
                                <ul>
                                    <li>
                                        <a class="ref" routerLink="/common-purpose-culture/connect-vision">The Founder Message</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 my-2">
                            <div class="links">
                                <div class="links_heading">
                                    <h4>Collaborate</h4>
                                </div>
                                <ul>
                                    <li>
                                        <a class="ref" routerLink="/collaborate-contribute/mentorship">Mentorship</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/collaborate-contribute/careers">Careers and Jobs</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/collaborate-contribute/special-projects">Special
                                            Projects</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/collaborate-contribute/engage-with-society">Engage
                                            with SBUP</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 my-2">
                            <div class="links">
                                <div class="links_heading">
                                    <h4>celebrate</h4>
                                </div>
                                <ul>
                                    <li>
                                        <a class="ref" class="ref" routerLink="/celebrate/featured-alumni">Featured
                                            Alumni</a>
                                    </li>
                                    <li>
                                        <a class="ref" class="ref" routerLink="/celebrate/alumni-journey">Celebrate Journey, Achievements & Passion</a>
                                    </li>
                                    <li>
                                        <a class="ref" class="ref" routerLink="/celebrate/gallery">Gallary</a>
                                    </li>
                                    <li>
                                        <a class="ref" class="ref" routerLink="/celebrate/magazine">Corporate Citizen
                                            Magazine</a>
                                    </li>
                                    <li>
                                        <a class="ref" class="ref" routerLink="/celebrate/news-update">News and
                                            Updates</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 my-2">
                            <div class="links">
                                <div class="links_heading">
                                    <h4>Community</h4>
                                </div>
                                <ul>
                                    <li>
                                        <a class="ref" routerLink="/community/alumni-directory">Alumni Directory</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/community/professional-club">Professional Club</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/community/industry-club">Industry Club</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/community/entrepreneurship-club">Business Venture</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/startup-corner">Start-up Corner</a>
                                    </li>
                                    <li>
                                        <a class="ref" routerLink="/askfor-general">Ask for General info</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 my-2">
                            <div class="links">
                                <div class="links_heading">
                                    <h4>connect</h4>
                                </div>
                                <ul>
                                    <li>
                                        <a class="ref" routerLink="/connect/at-glance">Event at a Glance</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="links">
                        <div class="links_heading">
                            <h4>contact</h4>
                        </div>
                        <ul>
                            <li>
                                <a class="ref" routerLink="/contact/key-contact">Key Contacts</a>
                            </li>
                            <li>
                                <a class="ref" routerLink="/contact/social-links">SBUP Alumni Club-Social Channels</a>
                            </li>
                            <li class="my-3">
                                <p class="mb-4 lh-lg">Phone +91-20-6674 1235/36, 3063 1235/36<br>Telefax +91-20-6674 1234/3063
                                    1234</p>
                                <p class="mb-0 footer-mail"><a href="mailto:admissions@sbup.edu.in">admissions@sbup.edu.in</a>
                                </p>
                                <p class="footer-mail"><a href="https://www.sbup.edu.in/">www.sbup.edu.in</a></p>
                            </li>
                            <li>
                                <!-- Social links -->
                                <ul class="social-links my-5">
                                    <li class="me-2 blog">
                                        <a href="https://blog.sbup.edu.in/" target="_blank">
                                            <i class="fa fa-rss" aria-hidden="true"></i>    
                                        </a>
                                    </li>
                                    <li class="me-2 insta">
                                        <a href="https://www.instagram.com/sbup.official/" target="_blank">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="me-2 youtube">
                                        <a href="https://www.youtube.com/c/SriBalajiUniversityPune" target="_blank">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="me-2 mail">
                                        <a href="mailto:sribalajisocietyalumniglobal@gmail.com">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="me-2 linkdin">
                                        <a
                                            href="https://www.linkedin.com/school/renowned-educational-institution/" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="me-2 facebook">
                                        <a href="https://www.facebook.com/sbup.official/" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="me-2 twitter">
                                        <a href="https://twitter.com/sbupune" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Social links Close -->
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Copy Right Section -->
    <div class="copyright-section">
        <div class="container-fluid px-xl-5 px-lg-2 px-sm-2 px-md-2 px-2">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-12 text-sm-center text-md-center">
                    <p class="copyright-text">&copy;1999-2022 <a class="text-decoration-none visitors" href="https://www.sbup.edu.in/">SBUP</a> | All Rights Reserved.</p>
                </div>
                <div class="col-lg-5 col-md-12 text-sm-center text-md-center  ">
                    <p class="siteText">Website designed and developed by<a class="visitors" href="https://pulseplaydigital.com/">
                            PulsePlay Digital</a><br>with <span class="heart">&hearts;</span> from Dharamshala,
                        Himachal Pradesh, India</p>
                </div>
              <div class="col-lg-3 col-md-12 text-lg-center text-sm-center text-md-center">
                    <p class="webCounter">Website Visit counter<br><span class="visitors"> 467987</span> Visitors</p>
                </div> 
            </div>
        </div>
    </div>
    <!-- Copy Right Section Close -->
</footer>