// FOOTER CSS START
footer {
  letter-spacing: 1px;
  .footer {
    background: var(--footer-bg);
    padding: 50px 0 15px;
    a.active-link {
      background: var(--footer-link);
      padding: 10px;
    }
    .address_description {
      img {
        width: 155px;
      }
      h4 {
        font-size: 1.125rem;
        color: #fff;
        font-family: Montserrat;
        font-weight: 700;
        margin: 10px 0 25px 0;
        text-transform: capitalize;
      }
      p {
        font-size: 13px;
        color: #fff;
        font-family: Montserrat;
        line-height: 17.07px;
        font-weight: 500;
        a {
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
    .links {
      .links_heading {
        h4 {
          color: #fff;
          font-weight: 800;
          font-size: 14px;
          font-family: Montserrat;
          position: relative;
          text-transform: capitalize;
        }
        h4::after {
          content: "";
          position: absolute;
          height: 3px;
          width: 62px;
          background: #ffcc29;
          bottom: -4px;
          left: 0;
        }
      }

      ul {
        list-style: none;
        color: #fff;
        font-size: 12px;
        line-height: 12px;
        font-family: Montserrat;
        font-weight: 600;
        padding-inline-start: 0;
        li {
          a {
            line-height: 1.8rem;

            cursor: pointer;
            color: #fff;
            font-size: 12px;
            text-decoration: none;
          }
          a:hover {
            color: var(--btn-hover);
          }
          .ref:hover {
            // color: #011898;
            transition: all 0.3s ease-in-out;
          }
          .footer-mail a {
            color: #ffcc29;
          }
          .footer-mail a:hover {
            color: var(--btn-hover);
          }
        }
      }
      .social-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 10px;
        li {
          padding: 2px 5px 2px 0;
          display: flex;
          align-items: center;
          a {
            line-height: 0;
            i {
              font-size: 18px;
            }
            .blog {
              height: 18px;
              width: 18px;
            }
          }
        }
      }
    }
  }
  .copyright-section {
    background: var(--form-bg);
    color: #fff;
    padding: 20px 0;
    p {
      margin: 0;
      font-size: var(--font-S-14);
      .heart {
        color: var(--footer-link);
        font-size: var(--font-S-22);
      }
    }
    .copyright-text {
      a {
        text-decoration: none;
        color: var(--footer-link);
      }
      a:hover {
        color: #fff;
      }
    }
    .siteText {
      a {
        text-decoration: none;
        color: var(--footer-link);
      }
      a:hover {
        color: #fff;
      }
    }
    .webCounter {
      .visitors {
        color: var(--footer-link);
      }
      .visitors:hover {
        color: #fff;
      }
    }
  }
}
