<div class="container">
    <div class="row my-5">
        <div class="col-lg-9">
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                <!---- Basic Information Tab ---->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" routerLinkActive="active" [routerLink]="['/edit-profile/basic-info']"
                        id="nav-basic-tab" data-bs-toggle="tab" data-bs-target="#nav-basic" type="button" role="tab"
                        aria-controls="nav-basic" aria-selected="true">Basic Information</button>
                </li>
                <!---- Basic Information Tab Close---->
                <!---- Employement Information Tab ---->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" routerLinkActive="active" [routerLink]="['/edit-profile/employment-info']"
                        id="nav-business-tab" data-bs-toggle="tab" data-bs-target="#nav-business" type="button"
                        role="tab" aria-controls="nav-business" aria-selected="false">Employment/Business
                        Information</button>
                </li>
                <!---- Employement Information Tab Close---->
                <!---- Mentorship Tab ---->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" routerLinkActive="active" [routerLink]="['/edit-profile/mentorship']"
                        id="nav-mentorship-tab" data-bs-toggle="tab" data-bs-target="#nav-mentorship" type="button"
                        role="tab" aria-controls="nav-mentorship" aria-selected="false">Mentorship and Skill</button>
                </li>
                <!---- Mentorship Tab Close---->
                <!---- Work Experience Tab ---->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" routerLinkActive="active" [routerLink]="['/edit-profile/experience']"
                        id="nav-experience-tab" data-bs-toggle="tab" data-bs-target="#nav-experience" type="button"
                        role="tab" aria-controls="nav-experience" aria-selected="false">Work Experience</button>
                </li>
                <!---- Work Experience Tab Close ---->
                <!---- Education Tab ---->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" routerLinkActive="active" [routerLink]="['/edit-profile/education']"
                        id="nav-education-tab" data-bs-toggle="tab" data-bs-target="#nav-education" type="button"
                        role="tab" aria-controls="nav-education" aria-selected="false">Education</button>
                </li>
                <!---- Education Tab Close ---->
                <!---- Others Tab ---->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" routerLinkActive="active" [routerLink]="['/edit-profile/others']"
                        id="nav-others-tab" data-bs-toggle="tab" data-bs-target="#nav-others" type="button" role="tab"
                        aria-controls="nav-others" aria-selected="false">Others</button>
                </li>
                <!---- Others Tab Close ---->
            </ul>
            <div class="tab-content" id="myTabContent">
                <!---- Basic Information Form ---->
                <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                    <app-basic-info></app-basic-info>
                </div>
                <!---- Basic Information Form Close ---->
                <!---- Employement Business Form ---->
                <div class="tab-pane fade" id="nav-business" role="tabpanel" aria-labelledby="nav-business-tab">
                    <app-employment-business-info></app-employment-business-info>
                </div>
                <!---- Employement Business Form Close ---->
                <!-- Mentroship Form -->
                <div class="tab-pane fade" id="nav-mentorship" role="tabpanel" aria-labelledby="nav-mentorship-tab">
                    <app-mentorship></app-mentorship>
                </div>
                <!-- Mentroship Form Close -->
                <!-- Experience Form -->
                <div class="tab-pane fade" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">
                    <app-experience></app-experience>
                </div>
                <!-- Experience Form Close -->
                <!-- Education Form -->
                <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
                    <app-education></app-education>
                </div>
                <!-- Education Form Close -->
                <!-- Others Form -->
                <div class="tab-pane fade" id="nav-others" role="tabpanel" aria-labelledby="nav-others-tab">
                    <app-others></app-others>
                </div>
                <!-- Others Form Close-->
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <form [formGroup]="uploadImgForm">
                        <ng-container *ngIf="image !== undefined">
                            <div class="row justify-content-center mt-2">
                                <div class="col-lg-6 text-center">
                                    <img [src]="imgUrl + image" class="img-fluid" alt="picture">
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="currentUser">
                            <div class="row justify-content-center mt-2">
                                <div class="col-lg-6 text-center">
                                    <img [src]="imgUrl + currentUser?.profile_pic" class="img-fluid" alt="picture">
                                </div>
                            </div>
                        </ng-container>
                    <div class="card-body text-center">
                        <div class="choose_file">
                            <input type="file" formControlName="profile_pic" (change)="onUploadImage($event)" accept="image/*"/>
                            <button type="button" class="btn">Upload profile picture</button>
                        </div>
                        <div class="progress mt-3">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>