<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <img
            src="../../../../../assets/know-us/blessign.png"
            class="img-fluid w-100"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center my-3">
          <h3 class="main-heading text-uppercase fw-bolder">
            STALWARTS BLESSINGS
          </h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12 text-center mb-2">
            <span class="heighlight fw-bold">The History:</span><br />
            <b>Blessings to Sri Balaji Society, Pune on 13th Feb, 2000</b><br />
            (Reproduced from the Prospectus 2001)<br />
          </div>
        <div class="col-lg-6 col-md-6 mb-2">
            <img src="../../../../../assets/know-us/STALWARTS_BLESSINGS.jpg" class="img-fluid w-100"/>
        </div>
      </div>

      <div class="row">
        <div class="col mt-2">
          <p class="font-italic text-muted mb-2">
            On 13th february, 2000 seen from right to left are Gen. S.
            Padmanaabhan, Chief of the Army Staff, Mr. L. C. Singh, CEO,
            Nihilent Technologies; Maj Gen S Krishnamurthy (Regd)-Chairman,
            Governing Body BIMM; Lt Gen B T Pandit, Former Adjutant General;
            General V P Malik COAS; Dr. S B Majumdar, Founder Director &
            President Symbiosis; Admiral J G Nadkarni, Former Chief of Naval
            Staff; Air Chief Marshal H. Moolgavkar, Former Chief of Air Staff &
            Dr. (Col.) A. Balasubramanian, Executive Director & President Sri
            Balaji Society, Pune.
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12 text-center mb-2">
            <span class="heighlight fw-bold">
                The History:</span><br />
            <span class="heighlight">Mentors at our Induction Programme:</span> <b>&nbsp; First day for the freshers in the Campus, Batch 2009-11</b><br />
            Corporate Stalwarts from all over India<br />
          </div>
        <div class="col-lg-6 col-md-6 mb-2">
            <img src="../../../../../assets/know-us/blessing1.png" class="img-fluid w-100"/>
        </div>
      </div>
      
      <div class="row">
        <div class="col my-3">
         <b> 1.</b> Mr. R. Sundara Raghavan (Director-Portfolio Management, Future
          Knowledge Services Ltd.)<br />
         <b> 2.</b> Mr. Gopal Mahadevan (Executive VP & CFO, Thermax India Ltd)<br />
         <b> 3.</b> Mr. L. C. Jhamb (Director, Elo Matic India Ltd),<br />
          4. Mr. Nandakishore Rathi (Director, Campus Relations Oracle India
          Pvt. Ltd.)<br />
         <b> 5.</b> Mr. S. Varadarajan (EVP & Chief HR Office, Quatrro BPO Solutions
          (P) Ltd.)<br />
         <b> 6.</b> Mr. Jagdish Avchat (Director Delivery, Tech Mahindra Ltd.)<br />
         <b> 7.</b> Dr. (Col) A. Balasubramanian (President Sri Balaji Society,
          Pune)<br />
         <b> 8.</b> Mr. D. R. Kurane (President, Human Capital Management, YES bank
          Ltd.)<br />
         <b> 9.</b> Mr. Ravi Santhanam (Circle CEO, Maharashtra & Goa, Reliance
          Communications Ltd.)<br />
          <b>10.</b> Mr. Thothathri Raman (Consulting Editor, Business India)<br />
          <b>11.</b> Mr. Om Prakash Subbarao (Director, Consulting Practice India Pvt.
          Ltd.)<br />
          <b>12.</b> Mr. S. Balasubramanian (CFO, Zensar Technologies)<br />
          <b>13.</b> Lt. Gen. V. M. Patil ( PVSM, AVSM Chairman, Governing Body,
          BIMM)<br />
          <b>14.</b> Mr. K. Ravi Chandran (Head-HR, Future Knowledge Services Ltd.)<br />
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12 text-center mb-2">
            <span class="heighlight fw-bold">
                The History:</span><br />
            <span class="heighlight">Mentors at our Induction Programme:</span> <b>&nbsp; First day for the freshers in the Campus, Batch 2010-12</b><br />
            Corporate Stalwarts from all over India<br />
          </div>
        <div class="col-lg-6 col-md-6 mb-2">
            <img src="../../../../../assets/know-us/blessing3.png" class="img-fluid w-100"/>
        </div>
      </div>
      
      <div class="row">
        <div class="col my-3">
          <b>1.</b> Mr. Yogesh Bijlani, Country Head & Genearal Manager- APAC,
          Talenity<br />
          <b>2.</b> Mr. Sonjay Anand , CFO Tech Mahindra<br />
          <b>3.</b> Dr. Ajoy Kumar CEO, Max Neeman International<br />
          <b>4.</b> Dr.C.S. Rao, Chairman, Intel Technology India Pvt. Ltd.<br />
          <b>5.</b> Dr. (Col) A. Balasubramanian<br />
          <b>6.</b> Mr. Rajeev Bhadauria, President HR,Reliance Infrastructure Ltd.<br />
          <b>7.</b> Lt. Gen. V.M. Patil Chairman Governing Body BIMM<br />
          <b>8.</b> Mr. Akshay Joshi, Whole Time Director, BOB Capital Markets Ltd.<br />
          <b>9.</b> Mr. Pradeep Madhav, MD, STCI Primary Dealer Ltd., Marathon
          Emperor<br />
        </div>
      </div>
    </div>
  </div>
</div>
