<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../../../assets/know-us/blessign.png" /><br /><br />
      <h4 class="font-italic mb-4">STALWARTS BLESSINGS</h4>
      <div class="row">
        <div class="col text-center">
          <img
            src="../../../../../assets/know-us/STALWARTS_BLESSINGS.jpg"
          /><br />
          The History:<br />
          Blessings to Sri Balaji Society, Pune on 13th Feb, 2000<br />
          (Reproduced from the Prospectus 2001)<br />
        </div>
        <div class="col">
          <p class="font-italic text-muted mb-2">
            On 13th february, 2000 seen from right to left are Gen. S.
            Padmanaabhan, Chief of the Army Staff, Mr. L. C. Singh, CEO,
            Nihilent Technologies; Maj Gen S Krishnamurthy (Regd)-Chairman,
            Governing Body BIMM; Lt Gen B T Pandit, Former Adjutant General;
            General V P Malik COAS; Dr. S B Majumdar, Founder Director &
            President Symbiosis; Admiral J G Nadkarni, Former Chief of Naval
            Staff; Air Chief Marshal H. Moolgavkar, Former Chief of Air Staff &
            Dr. (Col.) A. Balasubramanian, Executive Director & President Sri
            Balaji Society, Pune.
          </p>
        </div>
      </div>
      <br />
      <hr />
      <div class="row">
        <div class="col">
          1. Mr. R. Sundara Raghavan (Director-Portfolio Management, Future
          Knowledge Services Ltd.)<br />
          2. Mr. Gopal Mahadevan (Executive VP & CFO, Thermax India Ltd)<br />
          3. Mr. L. C. Jhamb (Director, Elo Matic India Ltd),<br />
          4. Mr. Nandakishore Rathi (Director, Campus Relations Oracle India
          Pvt. Ltd.)<br />
          5. Mr. S. Varadarajan (EVP & Chief HR Office, Quatrro BPO Solutions
          (P) Ltd.)<br />
          6. Mr. Jagdish Avchat (Director Delivery, Tech Mahindra Ltd.)<br />
          7. Dr. (Col) A. Balasubramanian (President Sri Balaji Society,
          Pune)<br />
          8. Mr. D. R. Kurane (President, Human Capital Management, YES bank
          Ltd.)<br />
          9. Mr. Ravi Santhanam (Circle CEO, Maharashtra & Goa, Reliance
          Communications Ltd.)<br />
          10. Mr. Thothathri Raman (Consulting Editor, Business India)<br />
          11. Mr. Om Prakash Subbarao (Director, Consulting Practice India Pvt.
          Ltd.)<br />
          12. Mr. S. Balasubramanian (CFO, Zensar Technologies)<br />
          13. Lt. Gen. V. M. Patil ( PVSM, AVSM Chairman, Governing Body,
          BIMM)<br />
          14. Mr. K. Ravi Chandran (Head-HR, Future Knowledge Services Ltd.)<br />
        </div>
        <div class="col">
          <img src="../../../../../assets/know-us/blessing1.png" />
        </div>
      </div>
      <br />
      <hr />
      <div class="row">
        <div class="col text-center">
          <img src="../../../../../assets/know-us/blessing3.png" /><br />
          The History:<br />
          Mentors at our Induction Programme: First day for the freshers in the
          Campus, Batch 2010-12<br />
          Corporate Stalwarts from all over India<br /><br />
        </div>
        <div class="col">
          1. Mr. Yogesh Bijlani, Country Head & Genearal Manager- APAC,
          Talenity<br />
          2. Mr. Sonjay Anand , CFO Tech Mahindra<br />
          3. Dr. Ajoy Kumar CEO, Max Neeman International<br />
          4. Dr.C.S. Rao, Chairman, Intel Technology India Pvt. Ltd.<br />
          5. Dr. (Col) A. Balasubramanian<br />
          6. Mr. Rajeev Bhadauria, President HR,Reliance Infrastructure Ltd.<br />
          7. Lt. Gen. V.M. Patil Chairman Governing Body BIMM<br />
          8. Mr. Akshay Joshi, Whole Time Director, BOB Capital Markets Ltd.<br />
          9. Mr. Pradeep Madhav, MD, STCI Primary Dealer Ltd., Marathon
          Emperor<br />
        </div>
      </div>
    </div>
  </div>
</div>
