.main-heading {
    font-size: 30px;
    line-height:43.88px;
    color: #011898;
    font-family: Montserrat;
}
.card {
    background: linear-gradient(270deg, #FEA641 0%, #FDC480 100%);
    .card-header {
        height: 60px;
    }
    .alumni-pic{
        max-height: 220px;
        height: 220px;
        border-bottom: 1px solid #ededed;
        img {
            max-height: 220px;
            height: 220px;
            object-fit: cover;
        }
    }
    .card-btn{
        background: #011898;      
          color: #fff;       
          line-height: 1.8;
          width: 30%;
    }
    .noImg {
        min-height: 120px;
     height: 120px;
  object-fit: cover;
    }
}
// .card {
//     background: linear-gradient(270deg, #FEA641 0%, #FDC480 100%);
//     img {
//         min-height: 120px;
//         height: 120px;
//         object-fit: cover;
//     }
//     .view-btn {
//         background: #011898;
//         color: #fff;
//         line-height: 1.8;
//     }
//     .designation {
//         height: 38px;
//     }
// }

