.main-heading {
    font-size: 30px;
    line-height:43.88px;
    color: #011898;
    font-family: Montserrat;
}
.card {
    .card-header {
        height: 60px;
    }
    .alumni-pic{
        max-height: 220px;
        height: 220px;
        border-bottom: 1px solid #ededed;
        img {
            max-height: 220px;
            height: 220px;
            object-fit: cover;
        }
    }
    .noImg {
        border: 1px solid #ededed;
        max-height: 220px;
        height: 220px;
    }
}
