<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between my-4">
      <h4 class="main-heading text-uppercase fw-bolder mb-0">My posted Offer Expertise</h4>
  </div>
    <div class="col-lg-12 my-2" *ngFor="let item of allExpertise">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title fs-2 main-heading text-capitalize">{{ item?.author }}</h5>
              <div class="row">
                  <div class="col-lg-6">
                    <p><b>Job ID</b>: &nbsp; {{ item?.id }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Job Posted Date</b>: &nbsp; {{ item?.created_at | date:'medium'}} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Event Name</b>: &nbsp; {{ item?.eventName }} </p>
                  </div>
                  <div class="col-lg-6" *ngIf="item?.type == 'seminar'">
                    <p><b>Type</b>: &nbsp; Speak at National Seminar </p>
                  </div>
                  <div class="col-lg-6" *ngIf="item?.type == 'faculty'">
                    <p><b>Type</b>: &nbsp; Offer expertise as a Visting Faculty</p>
                  </div>
                  <div class="col-lg-6" *ngIf="item?.type == 'workshops'">
                    <p><b>Type</b>: &nbsp; Offer expertise to conduct Workshops </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Participation Type</b>: &nbsp; {{ item?.participationType }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Workshop</b>: &nbsp; {{ item?.workshopTopic }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Venue</b>: &nbsp; {{ item?.venue }} </p>
                  </div>
                  <div class="col-lg-12">
                    <p><b>Description</b>: &nbsp;  </p>
                    <div [innerHtml]="item.description"></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
