.resetPage{
.card{
    background: #F65C8B;

::placeholder {
   font-size: 14px;
  }
  .form-control{
      padding: 15px 15px;
  }
  .reset-btn{
      background-color: #011898;
   width: 100%;
   line-height: 38px;
  }
}
}