<div class="professional-club">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="main-heading text-uppercase fw-bolder mt-xl-4 mt-lg-3 mt-md-3 mt-sm-3 mb-0">PROFESSIONAL CLUB</h3>
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">

                    <div class="card border-0 pt-5">
                        <div class="card-image1 rounded-bottom rounded-3">
                            <img src="./assets/community/professional_club/unsplash_SYTO3xs06fU.png"
                                class="card-img-top" alt="Digital Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Digital</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image2 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_7tXA8xwe4W4.png"
                                class="card-img-top" alt="Strategy Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Strategy</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image3 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_GoXNygZlftg.png"
                                class="card-img-top" alt="Leadership Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Leadership And Change</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">

                    <div class="card border-0 pt-5">
                        <div class="card-image1 rounded-bottom rounded-3">
                            <img src="./assets/community/professional_club/unsplash_naSAHDWRNbQ.png"
                                class="card-img-top" alt="Artificial Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Artificial Intelligence</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image2 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_pypeCEaJeZY.png"
                                class="card-img-top" alt="Big Data Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Big Data</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image3 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_0VGG7cqTwCo.png"
                                class="card-img-top" alt="Digital Transformation Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Digital Transformation</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">

                    <div class="card border-0 pt-5">
                        <div class="card-image1 rounded-bottom rounded-3">
                            <img src="./assets/community/professional_club/unsplash_rYlYZjiu8f4.png"
                                class="card-img-top" alt="Finance Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Finance</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image2 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_7okkFhxrxNw.png"
                                class="card-img-top" alt="Fintech Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">FinTech</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image3 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_qCi_MzVODoU.png"
                                class="card-img-top" alt="Future work Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">HR / Future Of Work</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">

                    <div class="card border-0 pt-5">
                        <div class="card-image1  rounded-bottom rounded-3">
                            <img src="./assets/community/professional_club/unsplash_K1ukmy8bxdA (1).png"
                                class="card-img-top" alt="IOT Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Internet Of Things (IOT)</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1 mt-3"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image2 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_WqZwkrBuZIE.png"
                                class="card-img-top" alt="Logistics Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Logistics, Supply Chain</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1 mt-3"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image3 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_5r5554u-mHo.png"
                                class="card-img-top" alt="Marketing Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Marketing, Advertising &
                                Amp; Media</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1"> JoinClub</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-md-5 col-xl-4 col-lg-4 col-sm-6">

                    <div class="card border-0 pt-5">
                        <div class="card-image1 rounded-bottom rounded-3">
                            <img src="./assets/community/professional_club/unsplash_SYTO3xs06fU.png"
                                class="card-img-top" alt="Sales Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text fw-bold fs-5 pb-3 pt-3 lh-sm">Sales</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1 mt-3"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-4 col-sm-6">
                    <div class="card border-0 pt-5">
                        <div class="card-image2 rounded-bottom">
                            <img src="./assets/community/professional_club/unsplash_7tXA8xwe4W4.png"
                                class="card-img-top" alt="SMAC Img">
                        </div>
                        <div class="card-body">
                            <p class="card-text card-text fw-bold fs-5 pb-3 pt-3 lh-sm">SMAC (Social, Mobile,
                                Analytics, Cloud)</p>
                            <a class="btn btn-primary card-button px-4 fs-6 py-1 mt-3"> JoinClub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pb-5">
                    <h6 class="new-club text-black fs-5 fw-bolder pt-3"> Want to Start a New Club: Please submit your
                        request for Club Formation by filling up this form.</h6>
                    <h6 class="start-club fs-5 fw-bolder" (click)="joinClub()"> START A CLUB (Professional Focus) </h6>
                </div>
            </div>
        </div>
    </div>
</div>