.professional-club {
  .heading {
    font-size: 30px;
    line-height: 43.88px;
    color: #011898;
  }
  .card {
    .card-text {
      color: #f65c8b;
    }
    .card-button {
      background-color: #011898;
    }
  }
  .start-club {
    color: #011898;
    cursor: pointer;
  }
}
