<div class="row mb-xl-5 mb-lg-5 mb-md-4 mb-sm-4 mb-3 m-0">
  <app-loader *ngIf="loading"></app-loader>
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="specialProjectByAlumni?.length > 0">
      <div class="col-lg-4 card-main my-2" *ngFor="let item of specialProjectByAlumni">
        <div class="card">
          <div class="card-header border-0">
            <h5 class="card-title mb-0 text-white text-capitalize">
              <p class="mb-0 main-heading fs-5 fw-bold lh-base text-dark">{{ item?.title }} </p>
            </h5>
          </div>
          <div class="card-body">
            <div class="row ">
              <div class="col-lg-12">
                <p class="mb-2"><b>Charity/Initiative Name</b>: &nbsp; {{ item?.charityName }} </p>
              </div>
              <div class="col-lg-12">
                <p class="mb-2"><b>Monetary donations accepted</b>: &nbsp; <a>{{ item?.monetaryDonation == true ? 'Yes':
                    'No' }} </a></p>
              </div>
              <div class="col-lg-12">
                <p class="mb-2"><b>Time/effort donations invited</b>: &nbsp; {{ item?.timeDonation == true ? 'Yes' :
                  'No' }} </p>
              </div>
              <div class="col-lg-12">
                <p class="mb-2"><b>Contact mobile number</b>: &nbsp; {{ item?.contactPerson }} </p>
              </div>
              <div class="col-lg-12">
                <p class="mb-2"><b>Contact person email id</b>: &nbsp; {{ item?.email }} </p>
              </div>
              <div class="col-lg-12">
                <p class="mb-2"><b>Email id</b>: &nbsp; {{ item?.email }} </p>
              </div>
              <div class="col-lg-12">
                <p class="mb-2"><b>Social Media Link</b>: &nbsp; {{ item?.city }} </p>
              </div>
              <div class="col-lg-12">
                <p class="mb-2"><b>Brief description about the project</b>: &nbsp;</p>
                <p class="mb-2">{{ item?.description | stripHtml }} </p>
              </div>

            </div>
          </div>
          <div class="card-footer border-0">
            <a class="btn project-btn text-capitalize mt-1 w-auto fs-6" (click)="requestSent(item)">Request sent</a>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="specialProjectByAlumni?.length == 0">
      <div class="col-12 py-3 text-center fw-bold">
        <p class="fs-5">No data found!</p>
      </div>
    </ng-container>
  </ng-container>
</div>