.contactBanner {
    background       : url('./../../../../../assets/contact.jpg');
    background-repeat: no-repeat;
    background-size  : 100% 100%;
    min-height       : 580px;
    max-height       : 100%;
    align-items      : center;

    .bannerContent {
        color         : #fff;
        padding-bottom: 15px;
        h4 {
            font-size  : 64px;
            line-height: 78.02px;
            margin     : 0;
        }
    }    
}
.keyContact {
    .card {
        .card-body {
            max-height: 170px;
            min-height: 170px;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 574px) { 
    .keyContact {
        .card {
            .card-body {
                max-height: 200px;
                min-height: 200px;
            }
        }
    }
    
}