<!--- Home Banner Section --->
<div class="contactBanner">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-5 col-lg-5 col-md-9 col-sm-7 col-7 my-3 align-self-center"
      >
        <div class="bannerContent">
          <!-- <div class="col-lg-12 test">phfdjhf</div> -->
        </div>
      </div>
      <div class="col-xl-7 col-lg-5 col-md-3 col-sm-5"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-12 my-4">
      <app-loader *ngIf="loading"></app-loader>
      <mat-tab-group mat-align-tabs="center" *ngIf="!loading">
        <mat-tab label="Key Contacts">
          <div class="row justify-content-center m-0 pt-4 keyContact">
            <div class="col-lg-4 mb-2">
              <div class="card">
                <div class="card-body">
                  <p>
                    <img
                      style="text-align: left; width: 100%"
                      src="../../../../../assets/Balaji_logo1.png"
                      class=""
                    />
                  </p>
                  <strong>
                    <p class="text-danger">Alumni Connect</p>
                  </strong>
                  <p>
                    <a href="mailto:sribalajisocietyalumniglobal@gmail.com">
                      sribalajisocietyalumniglobal@gmail.com</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3 m-0 keyContact">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 my-2" *ngFor="let key of keyData">
              <div class="card">
                <div class="card-body">
                  <h3 class="text-danger text-capitalize mb-2">
                    {{ key?.title }}:
                  </h3>
                  <p
                    class="text-capitalize mb-1"
                    *ngIf="key?.designation !== null"
                  >
                    {{ key?.designation }}
                  </p>
                  <p class="mb-1" *ngIf="key?.phone !== null">
                    Tel: {{ key?.phone }}
                  </p>
                  <p class="mb-1" *ngIf="key?.fax !== null">
                    Fax: {{ key?.fax }}
                  </p>
                  <p class="m-0" *ngIf="key?.email !== null">
                    <a href="mailto:{{ key.email }}">Email: {{ key?.email }}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Sri Balaji Society Alumni Clubs – Social Channels">
          <div class="col-lg-12 mb-3">
            <div class="card">
              <div class="row justify-content-center m-0">
                <div class="col-lg-7 mb-3 px-0">
                    <ul class="p-3 m-0" style="list-style-type: none" *ngIf="socialData">
                      <li class="mb-3" *ngFor="let social of socialData">
                        <a class="text-decoration-none"
                          href="{{ social?.link }}">{{ social?.title }}</a>
                      </li>
                    </ul>
                    <div class="p-4" *ngIf="!socialData">
                      <h3 class="m-0 text-center">No Data Found</h3>
                    </div>
                </div>
                <div class="col-lg-5 p-3">
                  <iframe width="100%" height="260" src="https://www.youtube.com/embed/shv16JEFhac" title="YouTube video player"
                  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>  
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
