<!-- <app-loader *ngIf="loading"></app-loader> -->
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Past Events">
    <div class="row m-0 py-2">
      <app-loader *ngIf="loading"></app-loader>
      <ng-container *ngIf="!loading">
        <div class="col-lg-6 col-lg-6 my-2" *ngFor="let item of pastEvent">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="eventDate">
                    <ng-container *ngIf="item?.eventImage !== null">
                      <img class="img-fluid" [src]="imgPath + item?.eventImage" alt="Event pic">
                    </ng-container>
                    <ng-container *ngIf="item?.eventImage == null">
                      <img class="img-fluid eventDummyPic" alt="Event pic">
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-8 col-lg-8">
                  <p><strong>Alumni Club Name:</strong>&nbsp;{{ item?.title }} </p>
                  <p class="description"><strong>Description:</strong>&nbsp;{{ item?.description | stripHtml }}</p>
                  <a class="fw-bold text-decoration-none" href="#"><i class="fa fa-plus"
                      aria-hidden="true"></i>&nbsp;More Info & Registration</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Upcomming Events">
    <div class="row m-0 py-2">
      <app-loader *ngIf="loading"></app-loader>
      <ng-container *ngIf="!loading">
        <div class="col-lg-6 my-2" *ngFor="let item of upcomingEvent">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">
                  <div class="eventDate">
                    <ng-container *ngIf="item?.eventImage !== null">
                      <img class="img-fluid" [src]="imgPath + item?.eventImage" alt="Event pic">
                    </ng-container>
                    <ng-container *ngIf="item?.eventImage == null">
                      <img class="img-fluid eventDummyPic" alt="Event pic">
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-8">
                  <p><strong>Alumni Club Name:</strong>{{ item?.title }} </p>
                  <p class="description"><strong>Description:</strong>&nbsp;{{ item?.description }} </p>
                  <a class="fw-bold text-decoration-none" href="#"><i class="fa fa-plus"
                      aria-hidden="true"></i>&nbsp;More Info & Registration</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Share a professional event">
    <div class="row m-0 py-2">
      <div class="col-lg-12 my-2 px-0">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="d-sm-flex align-items-center justify-content-between mb-2">
                  <h1 class="h3 mb-0 text-gray-800 text-center">Event</h1>
                  <!-- <button class="btn btn-md btn-primary rounded">Back</button> -->
                </div>

                <form class="example-form" [formGroup]="industryForm">
                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="staticEmail" class="col-form-label fw-bold">Name Submitted by</label>
                      <input type="text" formControlName="nameSubmittedBy" class="form-control"
                        placeholder="Enter name here">
                    </div>
                    <div class="col-sm-10 col-md-6">
                      <label for="staticEmail" class="col-form-label fw-bold">Submitted by phone number</label>
                      <input type="text" formControlName="numberSubmittedBy" class="form-control"
                        placeholder="Enter number here">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="staticEmail" class="col-form-label fw-bold">Submitted by email id</label>
                      <input type="email" formControlName="emailSubmittedBy" class="form-control"
                        placeholder="Enter email here">
                      <!-- <div class="text-danger my-2" *ngIf="(f.title.touched || submitted) && f.title.errors?.required">
                                          Email is required.
                                        </div> -->
                    </div>
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Are you attending</label>
                      <select class="form-select" aria-label="Default select example" formControlName="attending">
                        <option selected>Select attending</option>
                        <option value="Local Meet & Greet">Yes</option>
                        <option value="Annual Reunion">No</option>
                        <option value="Annual Reunion">Undecided</option>
                      </select>
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="staticEmail" class="col-form-label fw-bold">Event Name:</label>
                      <input type="text" formControlName="title" class="form-control"
                        placeholder="Enter event name here">
                      <div class="text-danger my-2" *ngIf="(f.title.touched || submitted) && f.title.errors?.required">
                        Event name is required.
                      </div>
                    </div>

                    <div class="col-sm-10 col-md-6">
                      <label for="staticEmail" class="col-form-label fw-bold">Date:</label>
                      <input type="date" class="form-control" formControlName="date" id="formGroupExampleInput"
                        placeholder="Enter date" />
                      <div class="text-danger my-2" *ngIf="(f.title.touched || submitted) && f.title.errors?.required">
                        Event date is required.
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Time: </label>
                      <input type="time" class="form-control" formControlName="time" id="formGroupExampleInput" />
                    </div>
                    <div class="col-sm-10 col-md-6">
                      <label for="staticEmail" class="col-form-label fw-bold">Venue</label>
                      <input type="text" class="form-control" formControlName="venue" id="formGroupExampleInput"
                        placeholder="Enter venue" />
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">City</label>
                      <input type="text" class="form-control" formControlName="city" id="formGroupExampleInput"
                        placeholder="Enter city" />
                    </div>
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">State</label>
                      <input type="text" class="form-control" formControlName="state" id="formGroupExampleInput"
                        placeholder="Enter State" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Country</label>
                      <input type="text" class="form-control" formControlName="country" id="formGroupExampleInput"
                        placeholder="Enter country" />
                    </div>
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Cost per head</label>
                      <input type="number" class="form-control" formControlName="cost" id="formGroupExampleInput"
                        placeholder="Enter cost per head" />
                      <div class="text-danger my-2" *ngIf="(f.cost.touched || submitted) && f.cost.errors?.required">
                        Cost is required.
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-6 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Event website link</label>
                      <input type="text" class="form-control" formControlName="eventPageLink" id="formGroupExampleInput"
                        placeholder="Enter website link" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-12 col-md-12">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Description of event:</label>
                      <ckeditor formControlName="description"></ckeditor>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Event contact person
                        name:</label>
                      <input type="text" class="form-control" formControlName="eventHost" id="formGroupExampleInput"
                        placeholder="Enter name" />
                    </div>
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Event contact person
                        phone:</label>
                      <input type="text" class="form-control" formControlName="contactNumber" id="formGroupExampleInput"
                        placeholder="Enter phone" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Event contact person
                        email:</label>
                      <input type="email" class="form-control" formControlName="eventPersonEmail"
                        id="formGroupExampleInput" placeholder="Enter email" />
                    </div>

                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Companies participating:</label>
                      <input type="text" class="form-control" formControlName="companiesParticipating"
                        id="formGroupExampleInput" placeholder="Enter companies here" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Topic focus</label>
                      <input type="text" class="form-control" formControlName="topicFocus" id="formGroupExampleInput"
                        placeholder="Enter topic here" />
                    </div>
                    <div class="col-sm-10 col-md-6">
                      <label for="formGroupExampleInput" class="col-form-label fw-bold">Industry focus:</label>
                      <input type="text" class="form-control" formControlName="industryFocus" id="formGroupExampleInput"
                        placeholder="Enter industry" />
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-4 text-center">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-md btn-info mr-2 rounded text-white" (click)="submit()"
                          [disabled]="!industryForm.valid">Submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>