<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <img
            src="../../../../../assets/know-us/aiu.jpg"
            class="img-fluid w-100"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center my-2 my-lg-4 my-md-4 my-sm-4">
          <h3 class="main-heading text-uppercase fw-bolder">
            AIU EQUIVALENCE TO MBA
          </h3>
        </div>
      </div>

      <p class="font-italic text-muted mb-2">
        BIMM, BITM, BIIB, BIMHRD from Pune have been granted equivalence to MBA
        status amongst the PGDM Institutes in Pune. Other than us, Vaikunta
        Mehta Institute of Management & National Insurance Academy are the only
        institutes which have received the AIU recognition in Pune.
      </p>
      <br />
        <p class="txt6">BIMHRD</p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Sl. No</th>
              <th align="left">Course Name</th>
              <th>AIU Approval Letter</th>
            </tr>
            <tr>
              <td>1</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bimhrd-aiu/PGDM.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                POST GRADUATE DIPLOMA IN MANAGEMENT(PGDM-Marketing &amp;
                Finance)
              </td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bimhrd-aiu/Marketing-Finance.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-PM &amp; HRD)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bimhrd-aiu/HR.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <p class="txt6">BIIB</p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Sl. No</th>
              <th align="left">Course Name</th>
              <th>AIU Approval Letter</th>
            </tr>
            <tr>
              <td>1</td>
              <td>
                POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-International
                Business)
              </td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/biib-aiu/IB.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-Marketing)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/biib-aiu/IB-Marketing.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-Finance)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/biib-aiu/IB-Finance.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <p class="txt6">BITM</p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Sl. No</th>
              <th align="left">Course Name</th>
              <th>AIU Approval Letter</th>
            </tr>
            <tr>
              <td>1</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-Telecom)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bitm-aiu/Telecom.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM Telecom &amp;
                Marketing)
              </td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bitm-aiu/Telecom-Marketing.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-Marketing &amp;
                Finance)
              </td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bitm-aiu/Marketing-Finance.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <p class="txt6">BIMM</p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Sl. No</th>
              <th align="left">Course Name</th>
              <th>AIU Approval Letter</th>
            </tr>
            <tr>
              <td>1</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bimm-aiu/PGDM.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-IT &amp; Marketing)
              </td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bimm-aiu/IT-Marketing.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-PM &amp; HRD)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bimm-aiu/HR.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>POST GRADUATE DIPLOMA IN MANAGEMENT (PGDM-Executive)</td>
              <td>
                <a
                  target="_blank"
                  href="http://www.sribalajisocietypune.org/downloads/bimm-aiu/Executive.pdf"
                  >Click Here</a
                >
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
