<!--- Home Banner Section --->
<div class="bannerSlider">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../../../../../assets/home/Banner.png" class="d-block w-100" alt="Banner">
      </div>
      <div class="carousel-item">
          <img src="../../../../../assets/home/image1.png" class="d-block w-100" alt="Banner">
      </div>
      <div class="carousel-item">
          <img src="../../../../../assets/home/image 2.png" class="d-block w-100" alt="Banner">
      </div>
      <div class="carousel-item">
          <img src="../../../../../assets/home/image3.png" class="d-block w-100" alt="Banner">
      </div>
  </div>
</div>
<div class="container">
  <div class="row my-lg-5 my-md-5 my-sm-4 my-4">
      <div class="col openAdd text-center ">
          <a class="btn registerLogin fs-5 px-4" routerLink="/register">Register / Login</a>
      </div>
  </div>
</div>
</div>
<!-- BANNER CROUSEL END -->
<!--- INNER Section --->
<div class="innerSec my-lg-3 my-md-3 my-2">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12 my-lg-4 my-md-4 my-sm-3 my-3 text-center">
              <h4 class="heading fw-bolder text-uppercase ">EVENTS</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 my-2">
              <div class="event">
                  <img src="../../../../../assets/home/event.png" alt="PUNE MEET 2022">
                  <div class="upcoming text-uppercase">
                      <p class="m-0">Upcoming event</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 my-2 align-self-center">
              <div class="meet-content p-xl-4 p-lg-3 p-md-2 p-sm-1">
                  <div class="row">
                      <div class="col">
                          <h4 class="sub-heading fw-bolder text-uppercase">PUNE MEET 2022</h4>
                      </div>
                      <div class="col-lg-12">
                          <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                          </p>
                      </div>
                      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-4 col-6">
                          <button class="btn join-event text-uppercase w-100" type="button">JOIN EVENT</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- CONTAINER END -->
</div>
<!--- Inner Section Close --->
<!--- Featured Alumni Gallary Section --->
<div class="gallary alumni my-lg-4 my-md-4 my-sm-3 my-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-12  my-lg-5 my-md-5 my-sm-4 my-3">
              <h4 class="heading fw-bold text-uppercase text-center mb-0">FEATURED ALUMNI</h4>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <owl-carousel-o [options]="galleryOptions">
                  <ng-template carouselSlide *ngFor="let data of featuredAlumni">
                      <div class="gallaryImg">
                          <a href="">
                              <img [src]=[data.src]>
                          </a>
                          <div class="row featuredInfo">
                            <div class="col-lg-12 mt-3 text-center">
                              <h4 class="sub-heading fw-bold text-uppercase">{{ data?.name }}</h4>
                              <p class="fs-5 fw-bold text-capitalize mb-3">Batch : {{data?.batch}}</p>
                              <p class="fs-5 fw-bold text-capitalize mb-3">Current Designation : {{data?.current_designation}}</p>
                              <p class="fs-5 fw-bold text-capitalize mb-3">Current firm : {{data?.current_firm}}</p>
                              <p class="fs-5 fw-bold text-capitalize mb-3">Industry : {{data?.industry}}</p>
                              <p class="fs-5 fw-bold text-capitalize mb-3">Location : {{data?.Location}}</p>
                            </div>
                          </div>
                      </div>
                  </ng-template>
              </owl-carousel-o>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
              <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">Know More</a>
          </div>
      </div>
  </div>
</div>
<!--- Featured Alumni Gallary Section Close --->
<!-- CONNECT VISION START -->
<div class="connectVision">
  <div class="container">
      <div class="row text-center">
          <div class="col my-3 my-lg-5 my-md-5 my-sm-4">
              <h4 class="heading fw-bolder text-uppercase mb-0">Purpose</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 pe-xl-0 pe-lg-0 ">
              <div class="content">
                  <img class="w-100 content-img" src="../../../../../assets/home/vision.png" alt="services-img">
                  <a class="box-text"></a>
              </div>
              <div class="content-heading my-3">
                  <a class="mb-0 connect text-uppercase text-decoration-none">connect</a>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 px-xl-0 px-lg-0">
              <div class="content">
                  <img class="w-100 content-img" src="../../../../../assets/home/vision.png" alt="services-img">
                  <a class="box-text"></a>
              </div>
              <div class="content-heading my-3">
                  <a class="mb-0 network text-uppercase text-decoration-none">network</a>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 px-xl-0 px-lg-0">
              <div class="content">
                  <img class="w-100 content-img" src="../../../../../assets/home/vision.png" alt="services-img">
                  <a class="box-text"></a>
              </div>
              <div class="content-heading my-3">
                  <a class="mb-0 engage text-uppercase text-decoration-none">Engage & support</a>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 ps-xl-0  col-md-6 col-sm-6 ps-lg-0 ">
              <div class="content">
                  <img class="w-100 content-img" src="../../../../../assets/home/vision.png" alt="services-img">
                  <a class="box-text"></a>
              </div>
              <div class="content-heading my-3">
                  <a class="mb-0 learnGrow text-uppercase text-decoration-none">learn & grow</a>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
            <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">Know More</a>
        </div>
      </div>
  </div>
</div>
<!-- CONNECT VISION CLOSE -->
<!--- Map Section --->
<div class="homeMap my-lg-4 my-md-4 my-3">
  <div class="container">
      <div class="row text-center">
          <div class="col-lg-12 my-lg-5 my-md-5 my-sm-4 my-3">
              <h4 class="heading fw-bolder text-uppercase">AlUMNI AROUND THE WORLD</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-12 my-2">
              <img src=".../../../../../assets/home/map.png" />
          </div>
          <div class="col-xl-7 col-lg-7 col-md-12 my-2 align-self-center">
              <div class="mapCount">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6 my-2">
                          <div class="counter">
                              <h4 class="text-bolder">6405</h4>
                              <p class="text-center sub-heading fs-6 fw-bolder text-capitalize">India</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6 my-2">
                          <div class="counter">
                              <h4 class="text-bolder">118</h4>
                              <p class="text-center sub-heading fs-6 fw-bolder text-capitalize">Middle East & Africa</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6 my-2">
                          <div class="counter">
                              <h4 class="text-bolder">111</h4>
                              <p class="text-center sub-heading fs-6 fw-bolder text-capitalize">North Americas</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6 my-2">
                          <div class="counter">
                              <h4 class="text-bolder">67</h4>
                              <p class="text-center sub-heading fs-6 fw-bolder text-capitalize">Asia (Excluding India)</p>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                          <div class="counter">
                              <h4 class="text-bolder">57</h4>
                              <p class="text-center sub-heading fs-6 fw-bolder text-capitalize">UK/Europe</p>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                          <div class="counter">
                              <h4 class="text-bolder">49</h4>
                              <p class="text-center sub-heading fs-6 fw-bolder text-capitalize">Australia & New Zealand</p>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                          <div class="counter">
                              <h4 class="text-bolder">7</h4>
                              <p class="text-center sub-heading fs-6 fw-bolder text-capitalize">South America</p>
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
                        <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">View Map</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--- Map Section Close--->
<!--- Gallary Section --->
<div class="gallary mt-lg-4 mt-md-4 mt-sm-3 mt-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 my-lg-4 my-md-4 my-sm-3 my-3">
              <h4 class="heading fw-bold text-uppercase text-center mb-0">Gallery</h4>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <owl-carousel-o [options]="galleryOptions">
                  <ng-template carouselSlide *ngFor="let data of gallery">
                      <div class="gallaryImg">
                          <a href="">
                              <img [src]=[data.src]>
                          </a>
                      </div>
                  </ng-template>
              </owl-carousel-o>
          </div>
      </div>
      <div class="row justify-content-center pt-2">
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 text-center mt-3 mt-lg-5 mt-md-5 mt-sm-4">
              <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">View More</a>
          </div>
      </div>
  </div>
</div>
<!--- Gallary Section Close --->
<!-- Network Secton -->
<div class="instafeed my-lg-5 my-md-4 my-sm-3 my-3">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
                <h4 class="heading fw-bolder text-uppercase mb-0">NETWORK IS YOUR NETWORTH</h4>
          </div>
      </div>
      <div class="row m-0 py-4">
          <div class="networth text-center">

        <div class="elfsight-app-36d70a82-227c-4f3c-925b-bf7c0d7cd7a1 "></div>
              <!-- <img src="../../../../../assets/home/Rectangle.png" class="network-image img-fluid" alt="Instafeed"> -->
          </div>
      </div>
     
      <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
            <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">View More</a>
        </div>
      </div>
  </div>
</div>
