<div class="homePage commonTopPadding">
    <!--- Home Banner Section --->
    <div class="bannerSlider">
        <app-loader *ngIf="loading"></app-loader>
        <owl-carousel-o [options]="homebannerOptions" *ngIf="!loading">
            <ng-template carouselSlide *ngFor="let banner of homeBanner">
                <ng-container>
                    <div class="homebannerImg">
                        <img [src]="imgPath + banner?.file" alt="banner img">
                    </div>
                </ng-container>
            </ng-template>
        </owl-carousel-o>
    </div>
    <!-- BANNER CROUSEL END -->
    <!--- INNER Section --->
    <div class="innerSec my-lg-3 my-md-3 my-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 my-lg-4 my-md-4 my-sm-3 my-3">
                    <h4 class="main-heading fw-bolder text-uppercase mb-0">EVENTS</h4>
                </div>
            </div>
            <div class="row pb-xl-5 pb-lg-5 pb-md-4 pb-sm-4 pb-3">
                <div class="col-lg-6 col-md-6 my-2">
                    <div class="event">
                        <img src="./assets/home/event.webp" alt="PUNE MEET 2022">
                        <div class="upcoming text-capitalize">
                            <p class="m-0">Upcoming event</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 my-2 align-self-center">
                    <div class="meet-content p-xl-4 p-lg-3 p-md-2 p-sm-1">
                        <div class="row">
                            <div class="col">
                                <h4 class="main-heading mb-0 fw-bolder text-uppercase">PUNE MEET 2022</h4>
                                12 Oct, 2022
                            </div>
                            <div class="col-lg-12 py-xl-3 py-lg-3 py-md-2 py-sm-2 py-2">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-4 col-6">
                                <button class="btn join-event text-uppercase w-100" routerLink="/connect/at-glance">JOIN
                                    EVENT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- Inner Section Close --->
    <!--- Alumni Stories --->
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="alumni?.length > 0">
            <div class="alumniStories my-xl-4 my-lg-4 my-md-4 my-sm-4 mb-3">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let stories of alumni">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 pe-xl-0 pe-lg-0">
                                    <div class="story-content p-lg-5 p-md-5 p-sm-5 p-4">
                                        <h4 class="main-heading text-white fw-bold text-uppercase">Featured Alumni</h4>
                                        <div class="text-white text-description" [innerHtml]="stories?.description">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 ps-xl-0 ps-lg-0">
                                    <div class="storyDescription p-lg-5 p-md-5 p-sm-5 p-4">
                                        <div class="users mb-xl-4 mb-lg-4 mb-md-4 mb-sm-3 mb-2">
                                            <div class="user-logo">
                                                <img class="userImg" [src]="imgPath + stories?.picture" alt="user img" />
                                            </div>
                                            <div class="username">
                                                <h3 class="fw-bold">{{ stories?.alumni_name }}</h3>
                                            </div>
                                            <p class="quotes mb-0"><img src="./assets/home/quotes.png" alt="alumni img" />
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="storyLogo">
                                                    <div class="logo">
                                                        <img src="./assets/story-logo01.png" alt="story img" />
                                                    </div>
                                                    <div class="logo-content">
                                                        <p class="mb-0">{{ stories?.batch_year }}</p>
                                                    </div>
                                                </div>
                                                <div class="storyLogo">
                                                    <div class="logo">
                                                        <img src="./assets/story-logo02.png" alt="story img" />
                                                    </div>
                                                    <div class="logo-content">
                                                        <p class="mb-0">
                                                            {{ stories?.designation }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="storyLogo">
                                                    <div class="logo">
                                                        <img src="./assets/story-logo03.png" alt="story img" />
                                                    </div>
                                                    <div class="logo-content">
                                                        <p class="mb-0">{{ stories?.company }}</p>
                                                    </div>
                                                </div>
                                                <div class="storyLogo pb-xl-0 pb-lg-0">
                                                    <div class="logo">
                                                        <img src="./assets/story-logo05.png" alt="story img" />
                                                    </div>
                                                    <div class="logo-content">
                                                        <p class="mb-0">{{ stories?.location }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-lg-end justify-content-md-end justify-content-sm-start m-0">
                                            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 ps-sm-1 pe-md-0 pe-lg-0 mt-xl-0 mt-lg-0 mt-sm-2 mt-md-0 mt-2 text-xl-end text-lg-end text-md-end text-start">
                                                <ng-container *ngIf="currentUser">
                                                    <a (click)="viewAlumniDetail(stories)" class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">read
                                                        More</a>
                                                </ng-container>
                                                <ng-container *ngIf="!currentUser">
                                                    <a routerLink="/login" class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">read
                                                        More</a>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </ng-container>
        <ng-container *ngIf="alumni?.length == 0 ">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="fs-5 fw-bold">No data found</p>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <!---- Alumni stories Close  ---->
    <!--- Association Section --->
    <div class="association pb-3">
        <div class="container">
            <div class="row my-xl-4 my-lg-4 my-md-4 my-sm-4 my-3">
                <div class="col-lg-12">
                    <h4 class="main-heading mb-0 fw-bold text-uppercase text-lg-start text-md-start text-sm-start text-center">
                        Purpose</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 my-lg-3 my-md-3 my-sm-3 my-2">
                    <div class="content">
                        <a routerLink="/connect">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="./assets/association03.png" alt="association img" />
                            <div class="content-details fadeIn-bottom">
                                <p class="content-title">
                                    There are many variations of passages of Lorem Ipsum available the majority have suffered
                                </p>
                                <a>View Details</a>
                            </div>
                        </a>
                    </div>
                    <h5 class="associate-text my-3" routerLink="/connect">Connect</h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 my-lg-3 my-md-3 my-sm-3 my-2">
                    <div class="content">
                        <a routerLink="/community/alumni-directory">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="./assets/association04.png" alt="association img" />
                            <div class="content-details fadeIn-bottom">
                                <p class="content-title">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                </p>
                                <a>View Details</a>
                            </div>
                        </a>
                    </div>
                    <h5 routerLink="/community/alumni-directory" class="associate-text my-3">Network</h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 my-lg-3 my-md-3 my-sm-3 my-2">
                    <div class="content">
                        <a routerLink="/collaborate-contribute/engage-with-society">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="./assets/association01.png" alt="association img" />
                            <div class="content-details fadeIn-bottom">
                                <p class="content-title">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                </p>
                                <a>View Details</a>
                            </div>
                        </a>
                    </div>
                    <h5 class="associate-text my-3" routerLink="/collaborate-contribute/engage-with-society">Engage & Support
                    </h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 my-lg-3 my-md-3 my-sm-3 my-2">
                    <div class="content">
                        <a routerLink="/collaborate-contribute/mentorship">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="./assets/association02.png" alt="association img" />
                            <div class="content-details fadeIn-bottom">
                                <p class="content-title">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                </p>
                                <a>View Details</a>
                            </div>
                        </a>
                    </div>
                    <h5 class="associate-text my-3" routerLink="/collaborate-contribute/mentorship">Learn (LifeLong & Grow)
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!--- Association Section Close --->
    <!--- Map Section --->
    <div class="homeMap my-lg-4 my-md-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 my-lg-5 my-md-4 my-sm-4 my-3 pt-lg-0 pt-md-3 pt-3">
                    <h4 class="main-heading fw-bolder text-uppercase mb-0">SBUP AlUMNI AROUND THE WORLD</h4>
                </div>
            </div>
            <div class="row pb-lg-5 pb-md-5 pb-sm-4 pb-3">
                <div class="col-xl-4 col-lg-5 col-md-12 my-2">
                    <img src="./assets/home/map.webp" alt="map Img">
                </div>
                <div class="col-xl-8 col-lg-7 col-md-12 my-2 align-self-center">
                    <div class="mapCount">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                                <div class="counter">

                                    <h4 class="text-bolder fs-5"> {{locationCounts?.India}}</h4>
                                    <p class="text-center fs-6 fw-bolder text-capitalize">India</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                                <div class="counter">
                                    <h4 class="text-bolder fs-5">{{locationCounts?.Middle_East}}</h4>
                                    <p class="text-center fs-6 fw-bolder text-capitalize">Middle East & Africa
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                                <div class="counter">
                                    <h4 class="text-bolder fs-5">{{locationCounts?.North_America}}</h4>
                                    <p class="text-center fs-6 fw-bolder text-capitalize">North Americas</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                                <div class="counter">
                                    <h4 class="text-bolder fs-5">{{locationCounts?.Europe}}</h4>
                                    <p class="text-center fs-6 fw-bolder text-capitalize">UK/Europe
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                                <div class="counter">
                                    <h4 class="text-bolder fs-5">{{locationCounts?.Africa}}</h4>
                                    <p class="text-center fs-6 fw-bolder text-capitalize">Australia & New Zealand</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                                <div class="counter">
                                    <h4 class="text-bolder fs-5">{{locationCounts?.North_America}}</h4>
                                    <p class="text-center fs-6 fw-bolder text-capitalize">South America</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                                <div class="counter">
                                    <h4 class="text-bolder fs-5">{{locationCounts?.South_Asia}}</h4>
                                    <p class="text-center fs-6 fw-bolder text-capitalize">Asia (Excluding India)</p>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-8 col-md-6 col-sm-6 col-6 my-2 pe-xl-0 pe-lg-3 text-lg-end text-md-center text-center">
                                <a routerLink="/view-map" class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">View
                                    Map</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- Map Section Close--->
    <!--- Gallary Section --->
    <div class="gallary mt-lg-4 mt-md-4 mt-sm-3 mt-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 my-lg-4 my-md-4 my-sm-3 my-3">
                    <h4 class="main-heading fw-bold text-uppercase mb-0">Gallery</h4>
                </div>
            </div>
            <app-loader *ngIf="loading"></app-loader>
            <div class="row justify-content-center" *ngIf="!loading">
                <div class="col-lg-8">
                    <owl-carousel-o [options]="galleryOptions">
                        <ng-template carouselSlide *ngFor="let data of gallery">
                            <div class="gallaryImg">
                                <a href="">
                                    <img class="mb-3" [src]="imgPath + data.file" alt="Gallery Images">
                                </a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
                <div class="row justify-content-center pt-2">
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 text-center mt-2">
                        <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6" routerLink="/celebrate/gallery">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--- Gallary Section Close --->
        <!-- Network Secton -->
        <div class="instafeed my-xl-5 my-lg-5 my-md-4 my-sm-3 my-4 py-xl-5 py-lg-5 py-md-5 py-sm-4 py-3">
            <div class="container">
                <div class="row justify-content-center pt-xl-0 pt-lg-0 pt-md-0 pt-sm-0 pt-2">
                    <div class="col-lg-12">
                        <h4 class="main-heading fw-bolder text-uppercase mb-0">NETWORK IS YOUR NETWORTH</h4>
                    </div>
                </div>
                <div class="row m-0 py-4">
                    <div class="networth text-center">
                        <!-- <div id="instafeed"></div> -->
                        <div class="elfsight-app-fdaf0575-82b5-4216-9d86-8cde4bae4a72"></div>
                        <!-- <img src="./assets/home/Rectangle.png" class="network-image img-fluid" alt="Instafeed"> -->
                    </div>
                </div>
                <div class="row justify-content-center pb-xl-4 pb-lg-4 pb-md-4 pb-sm-3 pb-2">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
                        <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6" href="https://www.instagram.com/sbsalumniglobal/" target="_blank">Follow on instagram</a>
                    </div>
                </div>
            </div>
        </div>
        <!--- Stay Updated Section --->
        <div class="stay-updated mt-xl-5 mt-lg-5 mt-md-5 mt-sm-4 mt-4 mb-xl-4 mb-lg-4 mb-md-3 mb-sm-3 mb-3">
            <div class="container">
                <div class="row justify-content-between my-lg-5 my-md-5 my-sm-4 my-2 pt-xl-3 pt-lg-3 pt-md-3 pt-sm-3 pt-0">
                    <div class="col-xl-6 col-lg-6 col-md-5">
                        <h4 class="main-heading fw-bolder text-uppercase">stay updated</h4>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7">
                        <form [formGroup]="form">
                            <div class="input-group">
                                <input type="email" class="form-control" formControlName="email" placeholder="EMAIL ADDRESS" aria-label="Recipient's username" aria-describedby="button-addon2" />
                                <button class="btn common_buttons text-white" id="button-addon2" (click)="subscribe()">
                                    Subscribe now
                                </button>
                            </div>
                            <div class="invalidText fw-bold alert alert-danger p-2 mt-2" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                Email is required.
                            </div>
                            <div class="invalidText fw-bold alert alert-danger p-2 mt-2" *ngIf="f.email.dirty && f.email.errors?.pattern">
                                Email format is incorrect.
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row pb-xl-4 pb-lg-4 pb-md-4 pb-sm-3 pb-0">
                    <div class="col-xl-4 col-lg-4 col-md-4 my-2 pe-xl-5 pe-lg-4 pe-md-1">
                        <div class="box">
                            <div class="box-heading">
                                <img src="./assets/home/learn_grow.jpg" alt="learn img" />
                                <div class="box-text">
                                    <div class="icon">
                                        <img class="text-logo" src="./assets/Mask-Group01.png" alt="maskgroup img" />
                                        <h4 class="mb-0 text-white text-uppercase">learn & grow</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="boxUL">
                                <ul>
                                    <li>
                                        <a routerLink="/collaborate-contribute/mentorship"><span
                                                class="text">Mentorship</span>
                                            <span class="icon"><img src="./assets/box-arrow.png"
                                                    alt="box img" /></span></a>
                                    </li>
                                    <li>
                                        <a routerLink="/community/professional-club"><span class="text">Exclusive
                                                resources</span>
                                            <span class="icon"><img src="./assets/box-arrow.png"
                                                    alt="box img" /></span></a>
                                    </li>
                                    <li>
                                        <a routerLink="/collaborate-contribute/engage-with-society"><span
                                                class="text">Contribute
                                                back </span>
                                            <span class="icon"><img src="./assets/box-arrow.png"
                                                    alt="box img" /></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 my-2 px-xl-4 px-lg-3 px-md-1">
                        <div class="box">
                            <div class="box-heading">
                                <img src="./assets/home/latest-news.jpg" alt="learn img" />
                                <div class="box-text">
                                    <div class="icon">
                                        <img class="text-logo" src="./assets/Mask-Group02.png" alt="mask img" />
                                        <h4 class="mb-0 text-white text-uppercase">Latest News</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="boxUL">
                                <app-loader *ngIf="loading"></app-loader>
                                <ul *ngIf="!loading">
                                    <ng-container *ngIf="allNews?.length > 0">
                                        <li *ngFor="let news of allNews">
                                            <a routerLink="/celebrate/news-detail" [queryParams]="news" [skipLocationChange]="true"><span class="text">{{news?.title}}</span>
                                                <span class="icon"><img src="./assets/box-arrow.png"
                                                        alt="box img" /></span></a>
                                        </li>
                                    </ng-container>
                                    <ng-container *ngIf="allNews?.length == 0">
                                        <div class="col-12 py-3 text-center fw-bold">
                                            <p class="fs-5">No data found!</p>
                                        </div>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 my-2 ps-xl-5 ps-lg-4 ps-md-1">
                        <div class="box">
                            <div class="box-heading">
                                <img src="./assets/home/stay-updated.jpg" alt="event img" />
                                <div class="box-text">
                                    <div class="icon">
                                        <img class="text-logo" src="./assets/Mask-Group03.png" alt="mask img" />
                                        <h4 class="mb-0 text-white text-uppercase">Latest Events</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="boxUL">
                                <app-loader *ngIf="loading"></app-loader>
                                <ul *ngIf="!loading">
                                    <ng-container *ngIf="allEvents?.length > 0">
                                        <li *ngFor="let event of allEvents">
                                            <a routerLink="/connect/event-detail" [queryParams]="event"><span
                                                    class="text">{{event.date | date: 'd MMM, y' }}</span>
                                                <span class="icon"><img src="./assets/box-arrow.png"
                                                        alt="box img" /></span></a>
                                        </li>
                                    </ng-container>
                                    <ng-container *ngIf="allEvents?.length == 0">
                                        <div class="col-12 py-3 text-center fw-bold">
                                            <p class="fs-5">No data found!</p>
                                        </div>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- Stay Updated Section Close --->
    </div>