<!--- Home Banner Section --->
<div class="bannerSlider">
    <app-loader *ngIf="loading"></app-loader>
    <owl-carousel-o [options]="homebannerOptions" *ngIf="!loading">
        <ng-template carouselSlide *ngFor="let banner of homeBanner">
            <div class="homebannerImg">
                <img [src]="banner?.src">
            </div>
        </ng-template>
    </owl-carousel-o>

    <!-- <div class="container">
        <div class="row my-lg-5 my-md-5 my-sm-4 my-4">
            <div class="col openAdd text-center ">
                <a class="btn registerLogin fs-5 px-4" routerLink="/register">Register / Login</a>
            </div>
        </div>
    </div> -->
</div>
<!-- BANNER CROUSEL END -->
<!--- INNER Section --->
<div class="innerSec my-lg-3 my-md-3 my-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 my-lg-4 my-md-4 my-sm-3 my-3">
                <h4 class="main-heading fw-bolder text-uppercase">EVENTS</h4>
            </div>
        </div>
        <div class="row pb-xl-5 pb-lg-5 pb-md-4 pb-sm-4 pb-3">
            <div class="col-lg-6 col-md-6 my-2">
                <div class="event">
                    <img src="./assets/home/event.webp" alt="PUNE MEET 2022">
                    <div class="upcoming text-capitalize">
                        <p class="m-0">Upcoming event</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 my-2 align-self-center">
                <div class="meet-content p-xl-4 p-lg-3 p-md-2 p-sm-1">
                    <div class="row">
                        <div class="col">
                            <h4 class="main-heading fs-3 fw-bolder text-uppercase">PUNE MEET 2022</h4>
                        </div>
                        <div class="col-lg-12">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-4 col-6">
                            <button class="btn join-event text-uppercase w-100" routerLink="/connect/at-glance">JOIN
                                EVENT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTAINER END -->
</div>
<!--- Inner Section Close --->
<!--- Featured Alumni Gallary Section --->
<!-- <div class="gallary alumni my-lg-4 my-md-4 my-sm-3 my-2 mb-lg-2 mb-md-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  my-lg-5 my-md-5 my-sm-4 my-3">
                <h4 class="heading fw-bold text-uppercase text-center mb-0">FEATURED ALUMNI</h4>
            </div>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <div class="row justify-content-center" *ngIf="!loading">
            <div class="col-lg-8">
                <owl-carousel-o [options]="galleryOptions">
                    <ng-template carouselSlide *ngFor="let data of alumni">
                        <div class="gallaryImg">
                            <a href="">
                                <img [src]="imgPath + data.picture" alt="Featured Alumni Images">
                            </a>
                            <div class="row featuredInfo">
                                <div class="col-lg-12 mt-3 text-center">
                                    <h4 class="sub-heading fw-bold text-uppercase">{{ data?.alumni_name }}</h4>
                                    <p class="fs-5 fw-bold text-capitalize mb-3">Batch : {{data?.batch_year}}</p>
                                    <p class="fs-5 fw-bold text-capitalize mb-3">Current Designation :
                                        {{data?.designation}}</p>
                                    <p class="fs-5 fw-bold text-capitalize mb-3">Current firm : {{data?.company}}</p>
                                    <p class="fs-5 fw-bold text-capitalize mb-3">Industry : {{data?.industry}}</p>
                                    <p class="fs-5 fw-bold text-capitalize mb-3">Location : {{data?.location}}</p>
                                </div>
                                <div class="row justify-content-center m-0">
                                    <div
                                        class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center mt-2 mt-lg-4 mt-md-4 mt-sm-4">
                                        <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6"
                                            (click)="viewAlunni(data.id)">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div> -->
<!--- Featured Alumni Gallary Section Close --->
<!--- Alumni Stories --->
<div class="alumniStories my-xl-5 my-lg-5 my-md-5 my-sm-4 mb-3">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let stories of alumni">
            <div class="row">
                <div class="col-xl-6 col-lg-6 pe-xl-0 pe-lg-0">
                    <div class="story-content p-lg-5 p-md-5 p-sm-5 p-4">
                        <h4 class="main-heading text-white fw-bold text-uppercase">Featured Alumni</h4>
                        <div class="text-white" [innerHtml]="stories?.description"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 ps-xl-0 ps-lg-0">
                    <div class="storyDescription p-lg-5 p-md-5 p-sm-5 p-4">
                        <div class="users mb-xl-4 mb-lg-4 mb-md-4 mb-sm-3 mb-2">
                            <div class="user-logo">
                                <img class="userImg" [src]="imgPath + stories?.picture" />
                            </div>
                            <div class="username">
                                <h3>{{ stories?.alumni_name }}</h3>
                            </div>
                            <p class="quotes mb-0"><img src="./../../../../../assets/home/quotes.png"/></p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="storyLogo">
                                    <div class="logo">
                                        <img src="./assets/story-logo01.png" />
                                    </div>
                                    <div class="logo-content">
                                        <p class="mb-0">{{ stories?.batch_year }}</p>
                                    </div>
                                </div>
                                <div class="storyLogo">
                                    <div class="logo">
                                        <img src="./assets/story-logo02.png" />
                                    </div>
                                    <div class="logo-content">
                                        <p class="mb-0">
                                            {{ stories?.designation }}
                                        </p>
                                    </div>
                                </div>
                                <div class="storyLogo">
                                    <div class="logo">
                                        <img src="./assets/story-logo03.png" />
                                    </div>
                                    <div class="logo-content">
                                        <p class="mb-0">{{ stories?.company }}</p>
                                    </div>
                                </div>
                                <div class="storyLogo">
                                    <div class="logo">
                                        <img src="./assets/story-logo04.png" />
                                    </div>
                                    <div class="logo-content">
                                        <p class="mb-0">
                                            {{ stories?.industry }}
                                        </p>
                                    </div>
                                </div>
                                <div class="storyLogo">
                                    <div class="logo">
                                        <img src="./assets/story-logo05.png" />
                                    </div>
                                    <div class="logo-content">
                                        <p class="mb-0">{{ stories?.location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
<!---- Alumni stories Close  ---->
<!--- Association Section --->
<div class="association">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="main-heading fw-bold text-uppercase">our purpose of almuni associations</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a>
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association03.png" />
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered
                            </p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Connect</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a>
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association04.png" />
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered
                            </p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Network</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a>
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association01.png" />
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered
                            </p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Engage & Support</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                <div class="content">
                    <a>
                        <div class="content-overlay"></div>
                        <img class="content-image" src="./assets/association02.png" />
                        <div class="content-details fadeIn-bottom">
                            <p class="content-title">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered
                            </p>
                            <a href="#">View Details</a>
                        </div>
                    </a>
                </div>
                <h5 class="associate-text my-3">Learn (LifeLong & Grow)</h5>
            </div>
        </div>
    </div>
</div>
<!--- Association Section Close --->
<!-- CONNECT VISION START -->
<!-- <div class="connectVision">
    <div class="container">
        <div class="row text-center">
            <div class="col my-3 my-lg-5 my-md-5 my-sm-4">
                <h4 class="heading fw-bolder text-uppercase mb-0">Purpose</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 pe-xl-0 pe-lg-0 ">
                <div class="content">
                    <img class="w-100 content-img" src="./assets/home/purpose01.webp" alt="services-img">
                    <a class="box-text"></a>
                </div>
                <div class="content-heading my-3">
                    <a class="mb-0 connect text-uppercase text-decoration-none">connect</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 px-xl-0 px-lg-0">
                <div class="content">
                    <img class="w-100 content-img" src="./assets/home/purpose02.webp" alt="services-img">
                    <a class="box-text"></a>
                </div>
                <div class="content-heading my-3">
                    <a class="mb-0 network text-uppercase text-decoration-none">network</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 px-xl-0 px-lg-0">
                <div class="content">
                    <img class="w-100 content-img" src="./assets/home/purpose03.webp" alt="services-img">
                    <a class="box-text"></a>
                </div>
                <div class="content-heading my-3">
                    <a class="mb-0 engage text-uppercase text-decoration-none">Engage & support</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 ps-xl-0  col-md-6 col-sm-6 ps-lg-0 ">
                <div class="content">
                    <img class="w-100 content-img" src="./assets/home/purpose04.webp" alt="services-img">
                    <a class="box-text"></a>
                </div>
                <div class="content-heading my-3">
                    <a class="mb-0 learnGrow text-uppercase text-decoration-none">learn & grow</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
                <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6"
                    routerLink="/connect/at-glance">Know More</a>
            </div>
        </div>
    </div>
</div> -->
<!-- CONNECT VISION CLOSE -->
<!--- Map Section --->
<div class="homeMap my-lg-4 my-md-4 my-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-lg-5 my-md-5 my-sm-4 my-3">
                <h4 class="main-heading fw-bolder text-uppercase">AlUMNI AROUND THE WORLD</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-12 my-2">
                <img src="./assets/home/map.webp" />
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 my-2 align-self-center">
                <div class="mapCount">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                            <div class="counter">
                                <h4 class="text-bolder">6405</h4>
                                <p class="text-center fs-5 fw-bolder text-capitalize">India</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                            <div class="counter">
                                <h4 class="text-bolder">118</h4>
                                <p class="text-center fs-5 fw-bolder text-capitalize">Middle East & Africa
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                            <div class="counter">
                                <h4 class="text-bolder">111</h4>
                                <p class="text-center fs-5 fw-bolder text-capitalize">North Americas</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                            <div class="counter">
                                <h4 class="text-bolder">57</h4>
                                <p class="text-center fs-5 fw-bolder text-capitalize">UK/Europe
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                            <div class="counter">
                                <h4 class="text-bolder">23</h4>
                                <p class="text-center fs-5 fw-bolder text-capitalize">Australia & New Zealand</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                            <div class="counter">
                                <h4 class="text-bolder">111</h4>
                                <p class="text-center fs-5 fw-bolder text-capitalize">South America</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-2">
                            <div class="counter">
                                <h4 class="text-bolder">67</h4>
                                <p class="text-center fs-5 fw-bolder text-capitalize">Asia (Excluding India)</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8 col-md-6 col-sm-12 my-2 pe-xl-0 pe-lg-3 text-lg-end text-md-center text-center">
                            <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">View
                                Map</a>
                        </div>
                    </div>
                    <!-- <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
                            <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6">View
                                Map</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Map Section Close--->
<!--- Gallary Section --->
<div class="gallary mt-lg-4 mt-md-4 mt-sm-3 mt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-lg-4 my-md-4 my-sm-3 my-3">
                <h4 class="main-heading fw-bold text-uppercase mb-0">Gallery</h4>
            </div>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <div class="row justify-content-center" *ngIf="!loading">
            <div class="col-lg-8">
                <owl-carousel-o [options]="galleryOptions">
                    <ng-template carouselSlide *ngFor="let data of gallery">
                        <div class="gallaryImg">
                            <a href="">
                                <img [src]="imgPath + data.file" alt="Gallery Images">
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
        <div class="row justify-content-center pt-2">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 text-center mt-3 mt-lg-5 mt-md-5 mt-sm-4">
                <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6"
                    routerLink="/celebrate/gallery">View More</a>
            </div>
        </div>
    </div>
</div>
<!--- Gallary Section Close --->
<!-- Network Secton -->
<div class="instafeed my-xl-5 my-lg-5 my-md-4 my-sm-3 my-4 py-xl-5 py-lg-5 py-md-5 py-sm-4 py-4">
    <div class="container">
        <div class="row justify-content-center pt-xl-4 pt-lg-4 pt-md-4 pt-sm-3 pt-2">
            <div class="col-lg-12">
                <h4 class="main-heading fw-bolder text-uppercase">NETWORK IS YOUR NETWORTH</h4>
            </div>
        </div>
        <div class="row m-0 py-4">
            <div class="networth text-center">
                <!-- <div id="instafeed"></div> -->
                <div class="elfsight-app-36d70a82-227c-4f3c-925b-bf7c0d7cd7a1 "></div>
                <!-- <img src="./assets/home/Rectangle.png" class="network-image img-fluid" alt="Instafeed"> -->
            </div>
        </div>
        <div class="row justify-content-center pb-xl-4 pb-lg-4 pb-md-4 pb-sm-3 pb-2">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center mt-2 mt-lg-3 mt-md-3 mt-sm-3">
                <a class="btn btn-lg btn-md common_buttons rounded-0 text-white shadow text-uppercase fs-6"
                    href="https://www.instagram.com/sbsalumniglobal/" target="_blank">View More</a>
            </div>
        </div>
    </div>
</div>
<!--- Stay Updated Section --->
<div class="stay-updated my-xl-5 my-lg-5 my-md-5 my-sm-4 my-4">
    <div class="container">
        <div class="row justify-content-between my-lg-5 my-md-5 my-sm-4 my-3 pt-xl-3 pt-lg-3 pt-md-3 pt-sm-3 pt-2">
            <div class="col-xl-6 col-lg-6 col-md-5">
                <h4 class="main-heading fw-bolder text-uppercase">stay updated</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-7">
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="EMAIL ADDRESS"
                            aria-label="Recipient's username" aria-describedby="button-addon2" />
                        <button class="btn btn-primary" type="button" id="button-addon2">
                            Subscribe now
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pb-xl-4 pb-lg-4 pb-md-4 pb-sm-3 pb-0">
            <div class="col-xl-4 col-lg-4 my-2">
                <div class="box">
                    <div class="box-heading">
                        <img src="./assets/learnBox01.jpg" />
                        <div class="box-text">
                            <div class="icon">
                                <img class="text-logo" src="./assets/Mask-Group01.png" />
                                <h4>learn & grow</h4>
                            </div>
                        </div>
                    </div>
                    <div class="boxUL">
                        <ul>
                            <li>
                                <a href=""><span class="text">Mentorship</span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                            <li>
                                <a href=""><span class="text">Exclusive resources</span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                            <li>
                                <a href=""><span class="text">Contribute back </span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 my-2">
                <div class="box">
                    <div class="box-heading">
                        <img src="./assets/learnBox02.jpg" />
                        <div class="box-text">
                            <div class="icon">
                                <img class="text-logo" src="./assets/Mask-Group02.png" />
                                <h4>Latest News</h4>
                            </div>
                        </div>
                    </div>
                    <div class="boxUL">
                        <ul>
                            <li>
                                <a href=""><span class="text">Memorial Service for...</span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                            <li>
                                <a href=""><span class="text">Sri Balaji University Rajasthan</span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                            <li>
                                <a href=""><span class="text">Sri Balaji University Hyderabad</span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 my-2">
                <div class="box">
                    <div class="box-heading">
                        <img src="./assets/learnBox03.jpg" />
                        <div class="box-text">
                            <div class="icon">
                                <img class="text-logo" src="./assets/Mask-Group03.png" />
                                <h4>Latest Club</h4>
                            </div>
                        </div>
                    </div>
                    <div class="boxUL">
                        <ul>
                            <li>
                                <a href=""><span class="text">13 Jan 2022</span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                            <li>
                                <a href=""><span class="text">26 Jan 2022 </span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                            <li>
                                <a href=""><span class="text">8 Ma rch 2022</span>
                                    <span class="icon"><img src="./assets/box-arrow.png" /></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Stay Updated Section Close --->