<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label class="form-label">First name</label>
                        <input type="text" class="form-control" formControlName="fname" placeholder="Enter First name">
                    </div>
                    <div class="col-md-6 my-2">
                        <label class="form-label">Last name</label>
                        <input type="text" class="form-control" formControlName="lname" placeholder="Enter Last name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label class="form-label">Institute</label>
                        <select class="form-select" formControlName="institute" placeholder="Select Batch Year">
                            <option value="" selected>Choose your institute</option>
                            <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                                {{institute.institute_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 my-2">
                        <label class="form-label">Batch Year</label>
                        <select placeholder="Select Batch Year" class="form-select" formControlName="bYear">
                            <option value="" selected>Choose your batch</option>
                            <option [value]="batch.id" *ngFor="let batch of getBatch">{{batch.batch}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" formControlName="city" placeholder="Enter City">
                    </div>
                    <div class="col-md-6 my-2">
                        <label class="form-label">Country</label>
                        <input type="text" class="form-control" formControlName="country" placeholder="Enter Country">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label class="form-label">Current Region</label>
                        <select class="form-select" formControlName="countryregion" (change)="changeCountry($event)">
                            <ng-container *ngFor="let row of countries">
                                <option [value]="row.code">{{row.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-md-6 my-2">
                        <label class="form-label">Mobile Number</label>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" value="{{form?.value?.code}}" class="form-control px-2"
                                    formControlName="code" placeholder="Code">
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" formControlName="mobile"
                                    placeholder="Enter Number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label class="form-label">Birthdate</label>
                        <input type="text" placeholder="DD/MM/YYYY" class="form-control" formControlName="date"
                            bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    </div>
                    <div class="col-md-6 my-2">
                        <label class="form-label">Personal email Id</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Enter Email Id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label class="form-label">Current Company</label>
                        <input type="text" class="form-control" formControlName="cmpny"
                            placeholder="Enter Current Company">
                    </div>
                    <div class="col-md-6 my-2">
                        <label class="form-label">Current Designation</label>
                        <input type="email" class="form-control" formControlName="designation"
                            placeholder="Enter Current Designation">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label class="form-label">Security Questions</label>
                        <select class="form-select" formControlName="questions">
                            <option value="1">First Car</option>
                            <option value="2">First Movie</option>
                        </select>
                    </div>
                    <div class="col-md-6 my-2">
                        <label class="form-label">Security Answer</label>
                        <input type="email" class="form-control" formControlName="ans"
                            placeholder="Enter Security Answer">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- <ngx-recaptcha2 #captchaElem [siteKey]="''">
                        </ngx-recaptcha2> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  align-self-center my-2">
                        <button type="submit" class="btn btn-danger my-2">SIGNUP</button>
                    </div>
                    <div class="col-md-6  align-self-center my-2">
                        <button type="submit" [routerLink]="['/auth/login']" class="btn btn-success my-2">ALREADY
                            ACCOUNT</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>