<div class="commonPurposePage commonTopPadding">
    <div class="bannerImg">
        <div class="layer">
            <div class="container">
                <div class="row m-0 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <h3 class="text-white fw-bold mb-0 lh-sm text-uppercase">Continuous Learning</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-xl-4 my-lg-4 my-md-4 my-sm-4 my-3 m-0">
            <div class="col-lg-12">
                <section id="sirDream">
                    <h4
                        class="main-heading my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3 text-center text-uppercase lh-base fw-bold">
                        Continuous Learning</h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 text-center mt-3 mb-4">
                            <p>Late Prof. Dr. (Col.) A Balasubramanian was a voracious reader, himself and would always
                                say one must read, learn, change, adapt to the changing times. Bala Sir would say –
                                train your mind as you train you would train your body.</p>
                            <p>One of Bala Sir’s many visions was to empower students’ community through access to
                                thousands of books, international magazines, newspapers from around India and the world,
                                all available at the Sri Balaji University, Pune (SBUP) library.</p>
                            <p>One of Bala Sir’s dreams was to create a platform where students, alumni and corporate
                                community would come together to learn and train even after the regular academic
                                pursuits were over. Bala Sir believed one must constantly invest time and energy in
                                learning, as it is a lifelong process.</p>
                            <p>Sri Balaji University, Pune has taken steps to implement it’s Honorable Founder President
                                and Chancellor’s dream of ‘Continuous Learning’ through the below Learning & Development
                                Initiatives that enable the learning journey of students, alumni, corporate leaders and
                                entrepreneurs at a discounted exclusive costs to make it accessible and affordable to
                                the wider audience.</p>
                        </div>
                        <br>
                    </div>
                </section>
                <section id="buildMDP">
                    <h4
                        class="main-heading text-uppercase fw-bold my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3 text-center lh-base">
                        SBUP Sri BUILD – MDP</h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center mt-3">
                            <p>Sri Balaji University, Pune presents the SBUP Digital Learning Platform whereby students,
                                alumni, corporate executive, managers, leaders, SMB and entrepreneurs can sign-up online
                                and continue their learning journeys from the comfort of their homes / offices at their
                                own pace.</p>
                        </div>
                    </div>
                </section>
                <section id="e_learning">
                    <h4
                        class="main-heading text-uppercase fw-bold my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3 text-center lh-base">
                        SBUP E-Learning Platform
                    </h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center mt-3">
                            <p>Sri Balaji University, Pune presents the SBUP Digital Learning Platform whereby students, alumni, corporate executive, managers, leaders, SMB and entrepreneurs can sign-up online and continue their learning journeys from the comfort of their homes / offices at their own pace.</p>
                        </div>
                    </div>
                </section>
                <section id="coursera">
                    <h4
                        class="main-heading text-uppercase fw-bold my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3 text-center lh-base">
                        SBUP Alumni – Coursera Access
                    </h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center mt-3">
                            <p>Sri Balaji University, Pune has signed an exclusive MoU with Coursera Platform to provide it’s students and alumni exclusive access to popular courses at discounted prices.</p>
                            <p>For SBUP current students – the Coursera training program are FREE.</p>
                            <p>For SBUP alumni exclusive – the Coursera training program access may be made available on a need basis. Please email <a href="alumni@sbup.edu.in">alumni@sbup.edu.in</a></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>