.bg-gradient-primary {
    min-height: 100vh;
}
.text-danger {
    font-size: 12px;
}
.label-danger {
    color:red;
}
.custom-form {
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 1.65rem 0rem 0.625rem 0.19rem;
    border-bottom: 1px solid #9e9e9e;
}
.custom-label {
    padding: 1rem 0rem;
}