<app-dashboard-banner [heading]="heading"></app-dashboard-banner>
<div class="container">
    <div class="special-projects">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
                <div class="img">
                    <img src="./assets/collaborate/homeCareer.png" alt="career img" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
                <div class="description my-xl-4">
                    <ul class="px-3">
                        <li class="lh-lg"> Contribute on blogs, posts regarding career advancement</li>
                        <li class="lh-lg">Lateral career rotations</li>
                        <li class="lh-lg">Skill development</li>
                        <li class="lh-lg">Professional certification tips</li>
                        <li class="lh-lg">Post a career advancement or job opportunity</li>
                        <li class="lh-lg">Search and apply for available jobs</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-xl-5 mb-lg-5 mb-md-5 mb-sm-4 mb-4">
            <div class="col-lg-12 text-center mb-xl-4 mb-lg-4 mb-md-3 mb-sm-3 mb-2 mt-xl-2 mt-lg-2 mt-md-2 mt-sm-2 mt-0">
                <h3 class="main-heading text-uppercase fw-bold mb-0">Jobs at a glance</h3>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2">
                <div class="project-box my-3 py-3 px-2 pt-4">
                    <h4 class="posted text-black fw-bold text-center fs-5">Jobs Posted by Me</h4>
                    <h2 class="number fw-bold text-center mt-5 fs-2">1</h2>
                    <div class="row justify-content-between m-0 py-2">
                        <div class="col-md-6 col-lg-5 col-xl-5 col-sm-6 col-6">
                            <a routerLink="/collaborate-contribute/add-job" class="btn btn-md project-btn fs-6 lh-base">Add</a>
                        </div>
                        <div class="col-md-6 col-lg-5 col-xl-5 col-sm-6 col-6">
                            <a routerLink="/collaborate-contribute/posted-jobs-by-me" class="btn project-btn fs-6 lh-base">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 order-xl-2 order-lg-2 order-md-2 order-sm-3 order-3">
                <div class="project-box my-3 py-3 px-2 pt-4">
                    <h4 class="posted text-black fw-bold text-center text-capitalize fs-5">All jobs</h4>
                    <h2 class="number fw-bold text-center mt-5 fs-2">56</h2>
                    <div class="row justify-content-center m-0 py-2">
                        <div class="col-md-10 col-lg-7 col-xl-6 col-sm-9 col-6">
                            <a (click)="search()" class="btn project-btn fs-6 lh-base">View All Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-8 my-3 order-xl-3 order-lg-3 order-md-3 order-sm-1 order-1">
                <img src="./assets/collaborate/box.png" class="img-fluid" alt="collaborate Img">

            </div>
        </div>
    </div>
    <app-available-jobs *ngIf="searchData"></app-available-jobs>
</div>