<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="main-heading text-uppercase fw-bolder">CAREERS AND JOBS</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3 class="main-heading text-capitalize fw-bolder fs-4">Jobs at a glance</h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body text-center">
                      <h5 class="card-title fs-4 lh-1">Posted Jobs By Me</h5>
                      <p class="card-text fs-2 fw-bold text-primary py-3">0</p>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <a routerLink="/collaborate-contribute/add-job" class="btn btn-primary me-2 rounded-1 text-uppercase">Add</a>
                        <a routerLink="/collaborate-contribute/available-jobs" class="btn btn-primary me-2 rounded-1 text-uppercase">View</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title fs-4 lh-1">Job Sought By Alumni</h5>
                        <p class="card-text fs-2 fw-bold text-primary py-3">10</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" routerLink="/collaborate-contribute/available-jobs" class="btn btn-primary me-2 rounded-1 text-uppercase">Seek a job</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h3 class="main-heading text-capitalize fw-bolder fs-4">Latest Jobs Posted</h3>
    </div>
</div>