.card {
  .card-title {
    height: 44px;
  }
}
.special-projects {
  .project-box {
    background: var(--card-bg);
  }
  ul li {
    line-height: 24.38px;
  }
  .number {
    color: var(--bs-primary);
  }
  .project-btn {
    background: var(--btn-background);
    border: 1px solid var(--btn-background);
    color: var(--bs-white);
    border-radius: var(--border-radius-2);
    width: var(--width);
  }
  .project-btn:hover {
    background: var(--bs-white);
    color: var(--bs-background);
  }
}
