<div class="d-sm-flex align-items-center justify-content-between my-4">
    <h4 class="main-heading text-uppercase fw-bolder mb-0">featured alumni</h4>
    <button class="btn btn-md btn-primary rounded" (click)="navigateBack()">Back</button>
  </div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        img
                    </div>
                    <div class="col-lg-8">
                        <p class="mb-2"><strong>Name :</strong> &nbsp; {{ alumni_details?.alumni_name}}</p>
                        <p class="mb-2"><strong>Batch :</strong> &nbsp;{{ alumni_details?.batch_year}}</p>
                        <p class="mb-2"><strong>Current Designation :</strong> &nbsp;{{ alumni_details?.designation}}</p>
                        <p class="mb-2"><strong>Current Firm :</strong> &nbsp;{{ alumni_details?.firm}}</p>
                        <p class="mb-2"><strong>Industry :</strong> &nbsp;{{ alumni_details?.industry}}</p>
                        <p class="mb-2"><strong>Current Location :</strong> &nbsp;{{ alumni_details?.location}}</p>
                    </div>
                    <div col-lg-12>
                        <p>In {{alumni_details.alumni_name}}’s own words:</p>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer bg-transparent border-0">
                <a class="btn btn-primary" (click)="onReadData(item)">Read More</a>
            </div> -->
        </div>
    </div>
   
</div>