.card {
    background: var(--card-bg);
    .card-header {
      height: 80px;
    }
    .card-body {
      height: 132px;
    }
    .alumni-pic {
      min-height: 320px;
      max-height: 320px;
      background-color: var(--bs-white);
      img {
        min-height: 320px;
        max-height: 320px;
      }
    }
    .noImg {
      min-height: 320px;
      max-height: 320px;
    }
}