.founderPage {
    .quotes {
        color: var(--btn-background);
        font-size: 20px;
        font-family: 'Montserrat';
    }
    .card {
        .card-header {
            height: 66px;
            .card-title {
                color: var(--bg-color);
                font-family: 'Montserrat';
            }
        }
        // .card-body {
        //     height: 110px;
        // }
        .alumni-pic {
            min-height: 320px;
            max-height: 320px;
            background-color: var(--bs-white);
            img {
                min-height: 320px;
                max-height: 320px;
            }
        }
        .noImg {
            min-height: 320px;
            max-height: 320px;
        }
    }
}
.leamLead {
    background: var(--card-bg);
}
@media screen and (max-width: 574px) and (min-width: 300px) {
    .founderPage {
        .quotes {
            font-size: 16px;
        }
    }
}

// @media screen and (max-width: 768px) and (min-width: 575px) {
//   .founderPage {
//     .card {
//       .alumni-pic {
//         min-height: 242px;
//         max-height: 242px;
//         img {
//           min-height: 242px;
//           max-height: 242px;
//         }
//       }
//     }
//   }
// }
@media screen and (max-width: 992px) and (min-width: 768px) {
    .founderPage {
        .card {
            .alumni-pic {
                min-height: 270px;
                max-height: 270px;
                img {
                    min-height: 270px;
                    max-height: 270px;
                }
            }
        }
    }
}