<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../../../assets/know-us/managementteam.png" /><br /><br />
      <h4 class="font-italic mb-4">TOP BRASS OF SRI BALAJI SOCIETY</h4>
      <div class="row mb-2">
        <div class="col">
          <img src="../../../../../assets/know-us/bala.png" />
        </div>
      </div>
      <app-loader *ngIf="loading"></app-loader>
      <div class="row" *ngIf="!loading">
        <div
          class="col-xl-4 col-lg-4 col-md-4 col-sm-6 my-2"
          *ngFor="let team of teamData"
        >
          <div class="card teamData p-2">
            <div class="row">
              <div class="col-md-4 align-self-center">
                <img
                  [src]="imgPath + team?.image"
                  class="teamImg"
                  alt="Team-Pic"
                />
              </div>
              <div class="col-md-8 text-center">
                <div class="card-body p-0">
                  <h4 class="card-title fw-bold mb-1">{{ team?.name }}</h4>
                  <p class="card-text mb-1">{{ team?.designation }}</p>
                  <img
                    [src]="imgPath + team?.institute_logo"
                    class="imgLogo my-1 mx-1"
                    alt="Team-Pic"
                  />
                  <p class="card-text institute-name text-capitalize">
                    {{ team?.institute_name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
