form {
    .form-group{
        label {
            font-weight: 500;
        }
    }
}
.btn-info {
    background: var(--btn-background);
    color: var(--bs-white);
    border: 1px solid var(--btn-background);
}
.btn-info:hover {
    background: var(--bs-white);
    color: var(--btn-background);
}

