.special-projects {
  .project-box {
    background: #E2E7FF;
    height: 180px;
  }
  .number {
    color: #011898;
  }
  .project-btn {
    background-color: #011898;
    width: 100%;
    font-size: 12px !important;
  }
  ul li{
    line-height: 24.38px;
  }
}
