.special-projects {
  .project-box {
    background: #fdc480;
    height: 180px;
  }
  .number {
    color: #011898;
  }
  .project-btn {
    background-color: #011898;
    width: 100%;
    font-size: 12px !important;
  }
}
