<div class="forgot-password commonTopPadding">
    <app-users-banner [heading]="heading"></app-users-banner>
    <div class="container">
        <div class="row justify-content-center my-4 pt-lg-5 pb-lg-5">
            <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
                <form [formGroup]="forgotPassForm">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12 login-background order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2">
                            <div class="row py-lg-5 py-md-5 py-sm-4 py-3">
                                <div class="col-lg-12 text-center">
                                    <h3 class="login-heading fw-bold fs-3 lh-base text-white pt-lg-5 pt-md-3 pt-3 mb-0 pb-lg-4">SBUP Exclusive Alumni
                                    </h3>
                                </div>
                                <div class="row justify-content-center m-0 mt-4 pt-2">
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-8 text-center">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 pe-lg-0 pe-md-0 pe-sm-0 my-1">
                                                <button class="btn loginBtn w-100 lh-lg rounded-0 fw-bold shadow-none text-black" routerLink="/login">Login</button>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 ps-lg-0 ps-md-0 ps-sm-0 my-1">
                                                <button class="btn signUpBtn w-100 lh-lg rounded-0 fw-bold text-white" routerLink="/register">Signup</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7 col-sm-12 py-xl-5 py-lg-5 py-md-4 py-sm-3 py-3 px-xl-4 px-lg-4 px-md-4 px-sm-3 login-form order-xl-2 order-lg-2 order-md-2 order-sm-1 order-1">
                            <div class="row pt-xl-5 pt-lg-5 pt-md-4 pt-sm-3 pt-3 px-3">
                                <div class="col-lg-8 col-xl-8 col-md-10 col-sm-10">
                                    <input type="email" class="form-control rounded-0 fs-6 text-black p-xl-2 p-lg-2 p-md-2 p-sm-2 p-2" formControlName="email" placeholder=" Your Mobile Number/Email ID" />
                                    <div class="invalidText fw-bold mt-2 alert alert-danger p-2" *ngIf="
                      (f.email.touched || submitted) && f.email.errors?.required">
                                        Enter your mobile number / email id
                                    </div>
                                    <div class="invalidText fw-bold mt-2 alert alert-danger p-2" *ngIf="(f.email.touched || submitted) && f.email.errors?.pattern">
                                        Please enter valid email address.
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3 pb-xl-5 pb-lg-5 pb-md-5 pt-xl-4 pt-lg-4 pt-md-3 pt-sm-3 pt-2 mt-xl-3 mt-md-3 mt-sm-3">
                                <div class="col-lg-4 col-xl-4 col-md-5 col-sm-6 align-self-center my-2 pt-xl-2 pt-lg-2 pt-md-2">
                                    <a (click)="submit()" class="btn btn-primary rounded-0 fw-bolder shadow text-white btn-forgotton">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>