<div class="forgot-password">
  <div class="container">
    <div class="row justify-content-center my-4 pt-lg-5 pb-lg-5">
      <div class="col-lg-9 col-md-12 col-sm-12">
        <form [formGroup]="forgotPassForm">
          <div class="row justify-content-center">
            <div class="col-md-5 col-lg-5 col-sm-12 pe-lg-0 login-background pb-5">
              <div class="left-box pt-5 pb-5">
                <h3 class="login-heading fw-bold fs-2 lh-base text-white pt-5 pb-2">
                  SBUP Exclusive <br />Alumni
                </h3>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <a class="btn btn-login border-0 fw-bold fs-4 text-white ps-0 bg-transparent">
                    LOG IN
                  </a>
                  <a class="btn btn-sign ps-lg-4 border-0 fs-4 fw-bold text-white bg-transparent"
                    [routerLink]="['/register']">
                    SIGN UP
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-12 pe-md-0 pt-5 pb-5 login-form ps-lg-5">
              <div class="row pt-5 px-3">
                <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
                  <input type="email" class="form-control rounded-0 fs-6 text-black py-3" formControlName="email"
                    placeholder=" Your Mobile Number/Email ID" />
                  <div class="text-danger fw-bold mt-2" *ngIf="
                      (f.email.touched || submitted) && f.email.errors?.required
                    ">
                    Your Mobile Number/Email ID
                  </div>
                  <div class="text-danger fw-bold mt-2" *ngIf="
                      (f.email.touched || submitted) && f.email.errors?.pattern
                    ">
                    Please enter valid email address.
                  </div>
                </div>
              </div>
              <div class="row px-3 pb-5 pt-4">
                <div class="col-lg-4 col-xl-4 col-md-5 col-sm-6 align-self-center my-2">
                  <a [routerLink]="['/login']"
                    class="btn btn-primary rounded-0 fw-bolder shadow text-white btn-forgotton my-2">Submit</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>