.forgot-password {
  .login-background {
    background-image: url("../../../../../assets/users/loginBg.png");
    background-color: var(--btn-background);
    height: var(--height-auto);
    background-size: var(--background-s-cover);
    .login-heading {
      font-family: var(--family);
    }
    .btn-login {
      opacity: var(--opacity-0-3);
    }
    .loginBtn {
      background-color:  var(--form-bg);
    }
    .signUpBtn {
      background-color: #68ccff;
    }
  }
    .login-form {
      background-color:  var(--form-bg);
        .btn-forgotton {
          background-color: var(--btn-background);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          width: var(--width-0100);
          line-height: 40px;
        }
        .form-control {
          font-size: var(--font-s-12);
        }
    }
  }
  