<div class="balajiSociety commonTopPadding">
  <div class="bannerImg">
    <div class="container">
      <div class="row m-0 justify-content-center">
        <div class="col-lg-12 text-center">
          <h3 class="text-white fw-bold mb-0 text-capitalize">SRI BALAJI UNIVERSITY, PUNE (SBUP)</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="know-section">
    <div class="container">
      <div class="row justify-content-center py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="col-lg-12 pb-xl-5 pb-lg-5 pb-md-4 pb-sm-3 pb-3">
          <h6 class="main-heading mb-0 text-lg-start text-md-center text-sm-start fw-bolder text-uppercase fw-bolder">
            SRI BALAJI UNIVERSITY, PUNE (SBUP)
          </h6>
        </div>
        <p class="font-italic text-muted lh-base"><span
            class="text-name fw-bold">Sri
            Balaji
            University, </span> Pune, is an
          institution of excellence in Pune. The university is running under the able guidance and
          leadership of its founding father and Chancellor, Professor Dr. (Col) A.
          Balasubramanian.
          The university at present has four management institutions: Balaji Institute of Modern
          Management (BIMM), Balaji Institute of Telecom Management (BITM), Balaji Institute of
          International Business (BIIB), and Balaji Institute of Management and Human Resources
          Development (BIMHRD). Apart from these four institutions it also has a law college –
          Balaji
          Law College (BLC) and an Undergraduate and Graduate level college namely – Balaji
          College of
          Arts Commerce and Science (BCACS) and Balaji Junior College of Arts Commerce and Science
          (BCACS). BLC and BCACS are affiliated to the Savitribai Phule Pune University.</p>

        <div class="col-lg-12 py-xl-5 py-lg-5 py-md-4 py-sm-3 py-3">
          <h6 class="main-heading mb-0 text-lg-start text-md-center text-sm-start fw-bolder text-uppercase fw-bolder">
            BIMM
          </h6>
        </div>
        <div class="col-lg-5 my-lg-0 my-md-3 my-sm-3 my-2">
          <div class="sbup-image text-center">
            <img src="./assets/know-us/bimm.png" class="w-100 img-fluid">
          </div>
        </div>
        <div class="col-lg-7">
          <p class="font-italic text-muted lh-base">The first institution in
            the
            Sri
            Balaji
            University: <span class="text-name fw-bold">IIMM (Indian Institute of Modern Management) </span>
            was
            started in the year 1999,
            within the campus premises of the Agrasen Maharaj High School located in Yerwada, Pune.
          </p>
          <p class="font-italic text-muted lh-base">
            IIMM was offering PGDM certificates in Management education with optional specialization
            PGDM certificates in PGDM in Personnel Management and PM&HRM (Personnel Management and
            Human
            Resource Management) and PGDM in Information Technology and Marketing (IT & Marketing).
          </p>
          <p class="font-italic text-muted lh-base">
            The institute enjoys a stellar reputation in the corporate world through the quality and
            excellence displayed by its students and alumni in the industry. The name ‘IIMM’ was
            later
            changed into <span class="text-name fw-bold">BIMM (Balaji Institute of Modern Management)</span>
            when the institute secured AICTE’s
            approval in the year 2005. The institute offers two year full-time MBA Programs and also
            MBA
            for experienced professional called MBA-Executive. The specializations offered are:
            Sales
            and Marketing (including Retail and Insurance), Finance and Financial Services, Systems,
            Operations & Supply Chain Management, Business Analytics, PM&HRM (Personnel Management
            and
            Human Resource Management).</p>
        </div>

        <div class="col-lg-12 py-xl-5 py-lg-5 py-md-4 py-sm-3 py-3">
          <h6 class="main-heading text-lg-start text-md-center text-sm-start mb-0 fw-bolder text-uppercase fw-bolder">
            BITM
          </h6>
        </div>
        <div class="col-lg-7">
          <p class="font-italic text-muted lh-base"> The second institution in
            the Sri
            Balaji University:<span class="text-name fw-bold"> ICTM (Indian Centre for Telecom
              Management)
            </span>
            and
            Human
            Resource Management) and PGDM in Information Technology and Marketing (IT & Marketing).
          </p>
          <p class="font-italic text-muted lh-base">
            This institution offers unique telecom and telecommunication courses related to the IT
            and
            technical infrastructure and systems related to management so that its students can be
            transformed into professionals ready to manage the technical side of the business.
          </p>
          <p class="font-italic text-muted lh-base">
            The institute was established keeping in mind the tremendous growth potential of the IT,
            ITES and other service industry in India. IITM was rechristened into <span class="text-name fw-bold">BITM
              (Balaji
              Institute
              of Telecom & Management) </span>when the institute secured AICTE’s approval in the
            year 2005. The
            institute offers two year full-time MBA Programs with specializations in Telecom
            Management,
            Sales and Marketing (including Retail and Insurance), Finance and Financial Services,
            Systems, Operations & Supply Chain Management and Business Analytics. </p>
        </div>
        <div class="col-lg-5 my-lg-0 my-md-3 my-sm-3 my-2">
          <div class="sbup-image text-center">
            <img src="./assets/know-us/bitm.png" class="w-100 img-fluid">
          </div>
        </div>

        <div class="col-lg-12 py-xl-5 py-lg-5 py-md-4 py-sm-3 py-3">
          <h6 class="main-heading text-lg-start text-md-center text-sm-start mb-0 fw-bolder text-uppercase fw-bolder">
            BIIB
          </h6>
        </div>
        <div class="col-lg-6 my-lg-0 my-md-3 my-sm-3 my-2">
          <div class="sbup-image text-center">
            <img src="./assets/know-us/bibb.png" class="w-100 img-fluid">
          </div>
        </div>
        <div class="col-lg-6">
          <p class="font-italic text-muted lh-base"> The third institution in
            the
            society:<span class="text-name fw-bold"> ICIB (Indian Centre for International Business)
            </span>
            was
            started in the year 2003 within the Agrasen Maharaj Campus.
          </p>
          <p class="font-italic text-muted lh-base">
            The institute offers programs catering towards the development of its students into
            future-ready international level individuals. With courses catering towards the
            marketing,
            financial and international aspects of management the institute transforms its students
            into
            professionals, trained to control, manage and excel in companies working on the
            international level.
          </p>
          <p class="font-italic text-muted lh-base">
            IIIB was rechristened into <span class="text-name fw-bold">(Balaji Institute of International
              Business) </span>when the institute
            secured AICTE’s approval in the year 2005. The institute offers two year full-time MBA
            Programs with specializations in International Business, Sales and Marketing (including
            Retail and Insurance), Financial Management and Business Analytics. </p>
        </div>

        <div class="col-lg-12 py-xl-5 py-lg-5 py-md-4 py-sm-3 py-3">
          <h6 class="main-heading text-lg-start text-md-center text-sm-start mb-0 fw-bolder text-uppercase fw-bolder">
            BIMHRD
          </h6>
        </div>
        <div class="col-lg-7">
          <p class="font-italic text-muted lh-base"> The fourth institution in
            the
            society:<span class="text-name fw-bold"> ICMHRD (Indian Centre for Management and Human Resources
              Development)
            </span>
            was established in the year 2004 in the Brahma Estate building in Kondwa Kund in Pune.
          </p>
          <p class="font-italic text-muted lh-base">
            The institute’s primary objective and mandate are to transform its students into
            industry-ready corporate citizens, leaders, managers, and entrepreneurs. The institute
            offers courses related to general management, marketing and finance, and PM&HRD. The
            institute enjoys a good name in the corporate world thanks to the efforts of its
            students
            into excelling in their respective fields in the industry.
          </p>
          <p class="font-italic text-muted lh-base">
            The name IIMHRD was later changed into <span class="text-name fw-bold"> BIMHRD (Balaji Institute
              of Management & Human
              Resource Development)</span>when the institute secured AICTE’s approval in the year
            2005. The
            institute offers two year full-time MBA Programs with specializations in Sales and
            Marketing
            (including Retail and Insurance), Finance and Financial Services, Systems, Operations &
            Supply Chain Management, Business Analytics, PM&HRM (Personnel Management and Human
            Resource
            Management).</p>
        </div>
        <div class="col-lg-5 my-lg-0 my-md-3 my-sm-3 my-2">
          <div class="sbup-image text-center">
            <img src="./assets/know-us/bimhrd.png" class="w-100 img-fluid">
          </div>
        </div>

        <div class="col-lg-12 py-xl-5 py-lg-5 py-md-4 py-sm-3 py-3">
          <h6 class="main-heading text-lg-start text-md-center text-sm-start mb-0 fw-bolder text-uppercase fw-bolder">
            BLC & BCACS
          </h6>
        </div>
        <div class="col-lg-5 my-lg-0 my-md-3 my-sm-3 my-2">
          <div class="sbup-image text-center">
            <img src="./assets/know-us/blc.png" class="w-100 img-fluid">
          </div>
        </div>
        <div class="col-lg-7">
          <p class="font-italic text-muted lh-base"> <span class="text-name fw-bold">
              Balaji Law
              College (BLC)
            </span>
            was started in the year 2003. Balaji Law College stands firm with
            the four management institutes of Sri Balaji University, poised to hone its students so
            that
            they wear not only the black gown of law but also the grey corporate suit of business,
            giving them an edge over their competition in the legal sector. Within a few years of
            its
            inception, Balaji Law College has successfully formed a place for itself in the legal
            education sector and has stood the test of time in creating a new breed of responsible,
            knowledgeable and well equipped law graduates willing to contribute to the legal
            fraternity,
            deliver and assist in the delivery of justice and be an asset not only to their company
            but
            also to the country.
          </p>
          <p class="font-italic text-muted lh-base"> <span class="text-name fw-bold">
              Balaji
              College of Arts, Commerce and Science (BCACS)
            </span>
            was started in the year 2003. BCACS’s
            mandate is to enable quality and excellence in the pedagogy and impartation of
            information
            and knowledge in the field of arts, commerce, and science. The institution produces
            graduates who are trained to excel in their chosen field whether in the field of higher
            education or within their workplaces so that they raise the flag of quality and
            excellence
            by means of their work increasing the goodwill and the image of their institution. BCACS
            offer B.Com. and B.B.A. degrees.
          </p>
          <p class="font-italic text-muted lh-base"> <span
              class="text-name fw-bold">
              Balaji
              Junior College of Arts, Commerce and Science (BCACS)
            </span>
            Functioning with the BCACS,
            The BJCACS has been established with an intent of helping its students into developing
            their
            fundamentals and honing their existing edge of information and knowledge so that they
            cross
            the border into university education from school level education by developing quality
            and
            excellence in their studies and work. Also started in the year 2003, the institute
            prepares
            its students to deliver their best in their chosen field of study so that they are able
            to
            develop excellence in their chosen field as they take the first step into the terrain of
            university-level learning and education, improving their image and the image of their
            institution by means of the output displayed by them in their studies, play and work.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>