<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <img
            src="./assets/know-us/forsocial.jpg"
            class="img-fluid w-100"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center my-2 my-lg-4 my-md-4 my-sm-4">
          <h3 class="main-heading text-uppercase fw-bolder">
            SRI BALAJI SOCIETY, PUNE FOR SOCIAL
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 my-2">
          <img src="./assets/know-us/social1.jpg" class="img-fluid w-100 mb-2"/><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Students Donate Rs 2,00000/- (Two Lakhs). Paraplegic Rehabilitation
            Centre, Kirkee. A rehabilitation Centre meant for the after care and
            rehabilitation of personnel's of Defence forces of India who are
            medically boarded out / retired form service due to Spinal Cord
            Injury while serving the Nation.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 my-2">
          <img src="./assets/know-us/social2.jpg" class="img-fluid w-100 mb-2"/><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Master Hridayeshwar Singh Bhati from Jaipur, The 9 years old
            'Innovator' of 'Circular Chess for Six Players' Who receives the
            'Child Innovator Award' Carrying ` 50,000/- from Sri Balaji Society,
            Pune
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 my-2">
          <img src="./assets/know-us/social3.jpg" class="img-fluid w-100 mb-2"/><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Mr. Ashish Sakharkar, Silver Medalist, Mr. Universe- 2007, Spain was
            presented a cheque of Rs. 1 Lac by students of BIIB.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 my-2">
          <img src="./assets/know-us/social4.jpg" class="img-fluid w-100 mb-2"/><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Mr. Dhanraj Pillai, Former Captain, Indian Hockey Team was presented
            a cheque of Rs. 1 Lac by students of BIMM
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 my-2">
          <img src="./assets/know-us/social5.jpg" class="img-fluid w-100 mb-2"/><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Mr. and Mrs. Ghatge, were presented a cheque of Rs. 1 Lac by
            students of BIMHRD
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 my-2">
          <img src="./assets/know-us/social6.jpg" class="img-fluid w-100 mb-2"/><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Special efforts are taken at Sri Balaji Society, Pune to create a
            greater social consciousness among the would-be managers by giving
            them a chance to actually take up social causes. At Sri Balaji
            Society, Pune students of batch 2006-08 initiated NAMAN - A salute
            to Indians, where they got together to help the needy &
            underprivileged children. This year the students of Sri Balaji
            Society, Pune felicitated Mr Sadanand (83) and Mrs Lilavati Ghadge
            (70 years old) , Marathi folk (Powda) performers and Guinnes record
            holders for their innovative communication tool- 'rail natya'. Mr.
            and Mrs. Ghadge are victims of state neglect and have been reduced
            to poverty. However the students of Sri Balaji Society, Pune got
            together, collected voluntary funds and presented a cheque of Rs
            1,00, 348 to the couple. Activities such as these define the social
            awareness of Sri Balaji Society, Pune students, reinforcing our
            commitment towards upholding our social values.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="know-section">
  <div class="container shadow">
  <div class="row justify-content-center">
      <div class="know-balaji">
      </div>
      <h6 class="main-heading fs-2 text-center fw-bolder text-uppercase fw-bolder pt-xl-5 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
          SRI BALAJI UNIVERSITY,PUNE (SBUP)
      </h6>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para"><span class="text-name">Sri Balaji
              University,</span> Pune, is an
          institution of excellence in Pune. The university is running under the able guidance and
          leadership of its founding father and Chancellor, Professor Dr. (Col) A.
          Balasubramanian.
          The university at present has four management institutions: Balaji Institute of Modern
          Management (BIMM), Balaji Institute of Telecom Management (BITM), Balaji Institute of
          International Business (BIIB), and Balaji Institute of Management and Human Resources
          Development (BIMHRD). Apart from these four institutions it also has a law college –
          Balaji
          Law College (BLC) and an Undergraduate and Graduate level college namely – Balaji
          College of
          Arts Commerce and Science (BCACS) and Balaji Junior College of Arts Commerce and Science
          (BCACS). BLC and BCACS are affiliated to the Savitribai Phule Pune University.</p>
      <h6 class="main-heading fs-2 text-center fw-bolder text-uppercase fw-bolder pt-xl-5 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
          BIMM
      </h6>
      <div class="sbup-image text-center pt-4 pb-4">
          <img src="../../../../../assets/know-us/image 10 (2).png" class="w-75">
      </div>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">The first institution in the Sri
          Balaji
          University:<span class="text-name">IIMM (Indian Institute of Modern Management) </span>
          was
          started in the year 1999,
          within the campus premises of the Agrasen Maharaj High School located in Yerwada, Pune.
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          IIMM was offering PGDM certificates in Management education with optional specialization
          PGDM certificates in PGDM in Personnel Management and PM&HRM (Personnel Management and
          Human
          Resource Management) and PGDM in Information Technology and Marketing (IT & Marketing).
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          The institute enjoys a stellar reputation in the corporate world through the quality and
          excellence displayed by its students and alumni in the industry. The name ‘IIMM’ was
          later
          changed into <span class="text-name">BIMM (Balaji Institute of Modern Management)</span>
          when the institute secured AICTE’s
          approval in the year 2005. The institute offers two year full-time MBA Programs and also
          MBA
          for experienced professional called MBA-Executive. The specializations offered are:
          Sales
          and Marketing (including Retail and Insurance), Finance and Financial Services, Systems,
          Operations & Supply Chain Management, Business Analytics, PM&HRM (Personnel Management
          and
          Human Resource Management).</p>
      <h6 class="main-heading fs-2 text-center fw-bolder text-uppercase fw-bolder pt-xl-5 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
          BITM
      </h6>
      <div class="sbup-image text-center pt-4 pb-4">
          <img src="../../../../../assets/know-us/image 11.png" class="w-75">
      </div>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para"> The second institution in the Sri
          Balaji University:<span class="text-name">ICTM (Indian Centre for Telecom
              Management)
          </span>
          and
          Human
          Resource Management) and PGDM in Information Technology and Marketing (IT & Marketing).
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          This institution offers unique telecom and telecommunication courses related to the IT
          and
          technical infrastructure and systems related to management so that its students can be
          transformed into professionals ready to manage the technical side of the business.
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          The institute was established keeping in mind the tremendous growth potential of the IT,
          ITES and other service industry in India. IITM was rechristened into <span
              class="text-name">BITM (Balaji Institute
              of Telecom & Management) </span>when the institute secured AICTE’s approval in the
          year 2005. The
          institute offers two year full-time MBA Programs with specializations in Telecom
          Management,
          Sales and Marketing (including Retail and Insurance), Finance and Financial Services,
          Systems, Operations & Supply Chain Management and Business Analytics. </p>
      <h6 class="main-heading fs-2 text-center fw-bolder text-uppercase fw-bolder pt-xl-5 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
          BIIM
      </h6>
      <div class="sbup-image text-center pt-4 pb-4">
          <img src="../../../../../assets/know-us/image 12.png" class="w-75">
      </div>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para"> The third institution in the
          society:<span class="text-name">ICIB (Indian Centre for International Business)
          </span>
          was
          started in the year 2003 within the Agrasen Maharaj Campus.
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          The institute offers programs catering towards the development of its students into
          future-ready international level individuals. With courses catering towards the
          marketing,
          financial and international aspects of management the institute transforms its students
          into
          professionals, trained to control, manage and excel in companies working on the
          international level.
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          IIIB was rechristened into <span class="text-name">(Balaji Institute of International
              Business) </span>when the institute
          secured AICTE’s approval in the year 2005. The institute offers two year full-time MBA
          Programs with specializations in International Business, Sales and Marketing (including
          Retail and Insurance), Financial Management and Business Analytics. </p>
      <h6 class="main-heading fs-2 text-center fw-bolder text-uppercase fw-bolder pt-xl-5 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
          BIMHRD
      </h6>
      <div class="sbup-image text-center pt-4 pb-4">
          <img src="../../../../../assets/know-us/image 12.png" class="w-75">
      </div>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para"> The fourth institution in the
          society:<span class="text-name">ICMHRD (Indian Centre for Management and Human Resources
              Development)
          </span>
          was established in the year 2004 in the Brahma Estate building in Kondwa Kund in Pune.
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          The institute’s primary objective and mandate are to transform its students into
          industry-ready corporate citizens, leaders, managers, and entrepreneurs. The institute
          offers courses related to general management, marketing and finance, and PM&HRD. The
          institute enjoys a good name in the corporate world thanks to the efforts of its
          students
          into excelling in their respective fields in the industry.
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para">
          The name IIMHRD was later changed into BIMHRD <span class="text-name"> (Balaji Institute
              of Management & Human
              Resource Development)</span>when the institute secured AICTE’s approval in the year
          2005. The
          institute offers two year full-time MBA Programs with specializations in Sales and
          Marketing
          (including Retail and Insurance), Finance and Financial Services, Systems, Operations &
          Supply Chain Management, Business Analytics, PM&HRM (Personnel Management and Human
          Resource
          Management).</p>
      <h6 class="main-heading fs-2 text-center fw-bolder text-uppercase fw-bolder pt-xl-5 pt-lg-5 pt-md-5 pt-sm-3 pt-3">
          BLC & BCACS
      </h6>
      <div class="sbup-image text-center pt-4 pb-4">
          <img src="../../../../../assets/know-us/image 14.png" class="w-75">
      </div>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para"> <span class="text-name"> Balaji Law
              College (BLC)
          </span>
          was started in the year 2003. Balaji Law College stands firm with
          the four management institutes of Sri Balaji University, poised to hone its students so
          that
          they wear not only the black gown of law but also the grey corporate suit of business,
          giving them an edge over their competition in the legal sector. Within a few years of
          its
          inception, Balaji Law College has successfully formed a place for itself in the legal
          education sector and has stood the test of time in creating a new breed of responsible,
          knowledgeable and well equipped law graduates willing to contribute to the legal
          fraternity,
          deliver and assist in the delivery of justice and be an asset not only to their company
          but
          also to the country.
      </p>
      <p class="font-italic text-muted mb-2 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para"> <span class="text-name"> Balaji
              College of Arts, Commerce and Science (BCACS)
          </span>
          was started in the year 2003. BCACS’s
          mandate is to enable quality and excellence in the pedagogy and impartation of
          information
          and knowledge in the field of arts, commerce, and science. The institution produces
          graduates who are trained to excel in their chosen field whether in the field of higher
          education or within their workplaces so that they raise the flag of quality and
          excellence
          by means of their work increasing the goodwill and the image of their institution. BCACS
          offer B.Com. and B.B.A. degrees.
      </p>
      <p class="font-italic text-muted mb-5 pt-xl-2 pt-lg-2 pt-md-2 pt-sm-3 pt-2 text-para"> <span class="text-name"> Balaji
              Junior College of Arts, Commerce and Science (BCACS)
          </span>
          Functioning with the BCACS,
          The BJCACS has been established with an intent of helping its students into developing
          their
          fundamentals and honing their existing edge of information and knowledge so that they
          cross
          the border into university education from school level education by developing quality
          and
          excellence in their studies and work. Also started in the year 2003, the institute
          prepares
          its students to deliver their best in their chosen field of study so that they are able
          to
          develop excellence in their chosen field as they take the first step into the terrain of
          university-level learning and education, improving their image and the image of their
          institution by means of the output displayed by them in their studies, play and work.
      </p>
  </div>
</div>
</div>
