.balajiSociety {
  .bannerImg {
    background: url("./../../../../../../assets/know-us/backgroundbalaji.png");
    background-repeat: var(--background-no-repeat);
    height: 250px;
    background-size: 100% 100%;
    display: var(--display-Flex);
    align-items: var(--align-center);
    h3 {
      letter-spacing: var(--letter-space-1);
      font-family: var(--family);
      font-size: var(--font-S-34);
    }
  }

  .know-section {
    .sbup-image {
      img {
        object-fit: var(--object-cover);
      }
    }
    .small-heading {
      color: #f65c8b;
    }
    .text-name {
      color: #fea641;
    }
    p {
      text-align: var(--text-J);
    }
  }
}

@media screen and (max-width: 400px) and (min-width: 300px) {
  .balajiSociety {
    .know-section {
      .sbup-image {
        img {
          height: 230px;
        }
      }
    }
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  .balajiSociety {
    .bannerImg {
      background-size: cover;
      background-position-x: center;
      h3 {
        font-size: var(--font-S-18);
      }
    }
  }
}

@media (min-width: 574px) and (max-width: 767px) {
  .balajiSociety {
    .bannerImg {
      h3 {
        font-size: var(--font-S-22);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .balajiSociety {
    .bannerImg {
      h3 {
        font-size: var(--font-S-26);
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .balajiSociety {
    .bannerImg {
      h3 {
        font-size: var(--font-S-30);
      }
    }
  }
}
