<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="../../../../../assets/know-us/forsocial.jpg" /><br /><br />
      <h4 class="font-italic mb-4">SRI BALAJI SOCIETY, PUNE FOR SOCIAL</h4>
      <div class="row">
        <div class="col">
          <img src="../../../../../assets/know-us/social1.jpg" /><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Students Donate Rs 2,00000/- (Two Lakhs). Paraplegic Rehabilitation
            Centre, Kirkee. A rehabilitation Centre meant for the after care and
            rehabilitation of personnel's of Defence forces of India who are
            medically boarded out / retired form service due to Spinal Cord
            Injury while serving the Nation.
          </p>
        </div>
        <div class="col">
          <img src="../../../../../assets/know-us/social2.jpg" /><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Master Hridayeshwar Singh Bhati from Jaipur, The 9 years old
            'Innovator' of 'Circular Chess for Six Players' Who receives the
            'Child Innovator Award' Carrying ` 50,000/- from Sri Balaji Society,
            Pune
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="../../../../../assets/know-us/social3.jpg" /><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Mr. Ashish Sakharkar, Silver Medalist, Mr. Universe- 2007, Spain was
            presented a cheque of Rs. 1 Lac by students of BIIB.
          </p>
        </div>
        <div class="col">
          <img src="../../../../../assets/know-us/social4.jpg" /><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Mr. Dhanraj Pillai, Former Captain, Indian Hockey Team was presented
            a cheque of Rs. 1 Lac by students of BIMM
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="../../../../../assets/know-us/social5.jpg" /><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Mr. and Mrs. Ghatge, were presented a cheque of Rs. 1 Lac by
            students of BIMHRD
          </p>
        </div>
        <div class="col">
          <img src="../../../../../assets/know-us/social6.jpg" /><br />
          <p class="font-italic text-muted mb-2 cust-spac">
            Special efforts are taken at Sri Balaji Society, Pune to create a
            greater social consciousness among the would-be managers by giving
            them a chance to actually take up social causes. At Sri Balaji
            Society, Pune students of batch 2006-08 initiated NAMAN - A salute
            to Indians, where they got together to help the needy &
            underprivileged children. This year the students of Sri Balaji
            Society, Pune felicitated Mr Sadanand (83) and Mrs Lilavati Ghadge
            (70 years old) , Marathi folk (Powda) performers and Guinnes record
            holders for their innovative communication tool- 'rail natya'. Mr.
            and Mrs. Ghadge are victims of state neglect and have been reduced
            to poverty. However the students of Sri Balaji Society, Pune got
            together, collected voluntary funds and presented a cheque of Rs
            1,00, 348 to the couple. Activities such as these define the social
            awareness of Sri Balaji Society, Pune students, reinforcing our
            commitment towards upholding our social values.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
