.bannerImg {
    background: url("./../../../../../assets/dashboardBanner.webp");
    background-repeat: var(--background-no-repeat);
    height: 250px;
    background-size: 100% 100%;
    position: var(--position-relative);
    .layer {
      background-color: rgba(0, 0, 0, 0.6);
      position: var(--position-absolute);
      top: 0;
      left: 0;
      width: var(--width);
      height: var(--height-100);
      display: var(--display-Flex);
      align-items: var(--align-center);
    }
    h3 {
      letter-spacing: var(--letter-space-1);
      font-family: var(--family);
      font-size: var(--font-S-32);
    }
  }

  @media (min-width: 300px) and (max-width: 575px) {
    .bannerImg {
      background-size: cover;
      background-position-x: center;
      h3 {
        font-size: var(--font-S-18);
      }
    }
  }
  
  @media (min-width: 574px) and (max-width: 767px) {
    .bannerImg {
      h3 {
        font-size: var(--font-S-22);
      }
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .bannerImg {
      h3 {
        font-size: var(--font-S-26);
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .bannerImg {
      h3 {
        font-size: var(--font-S-30);
      }
    }
  }