<div class="d-sm-flex align-items-center justify-content-between my-4">
    <h4 class="main-heading text-uppercase fw-bolder mb-0">CORPORATE CITIZEN MAGAZINE</h4>
    <button class="btn btn-md btn-primary rounded" (click)="back()">Back</button>
</div>
<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/image 27.png" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v2-issue20/corporate-citizen-magazine-issue-20.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/image 28.png" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v2-issue20/corporate-citizen-magazine-issue-v2-issue8.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/image 29.png" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v2-issue20/corporate-citizen-magazine-issue-v2-issue15.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/magazine4.jpg" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v2-issue20/corporate-citizen-magazine-issue-v2-issue3.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/magazine5.jpg" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v2-issue20/corporate-citizen-magazine-issue-v2-issue2.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/magazine6.jpg" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v2-issue20/corporate-citizen-magazine-issue-v2-issue6.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/magazine7.jpg" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v2-issue20/corporate-citizen-magazine-issue-22.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./assets/magazine/magazine8.jpg" class="img-fluid w-100 mb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-5 text-lg-start text-sm-start">
                        <a target="_blank" href="https://corporatecitizen.in/v3-Issue8/blowing-my-own-trumpet-med-in-india.html" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Read</a>
                    </div>
                    <div class="col-lg-7 col-sm-7 text-lg-end text-sm-end">
                        <a target="_blank" href="https://corporatecitizen.in/" class="btn btn-md btn-primary mt-2  text-decoration-none text-uppercase">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>