<div class="bg-gradient-primary">
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div>
                                        <h1 class="h4 text-gray-900 mb-2">Password Recovery</h1>
                                        <p class="mb-2">To recover your password please fill in your email address</p>
                                    </div>
                                    <form [formGroup]="forgotPassForm">
                                        <div class="row">
                                            <div class="col-md-12 my-2">
                                                <label class="form-label">Email<span
                                                        class="label-danger"> *</span></label>
                                                <input type="email" class="form-control"
                                                    formControlName="email" placeholder="Login Email ID">
                                                <div class="text-danger mt-2"
                                                    *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                                    Email is required.
                                                </div>
                                                <div class="text-danger mt-2"
                                                    *ngIf="f.email.dirty && f.email.errors?.pattern">
                                                    Email format is incorrect.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-7 col-sm-8 my-2">
                                                <button type="submit" (click)="submit()" [disabled]="!forgotPassForm.valid"
                                                    class="btn btn-danger my-2">Submit</button>
                                                <a class="text-decoration-none mx-2" [routerLink]="['/auth/login']">Back
                                                    to Login</a>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <span>Don't Have An Account Yet ?<a class="text-decoration-none small"
                                                [routerLink]="['/auth/register']"> Signup!</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>