<!-- container start -->
<div class="container bg-light p-4">
    <!-- ul sbs-sitemap start-->
    <ul class="sbs-sitemap">
        <!-- start row site-map -->
        <div class="row site-map">
            <!-- start home  -->
            <div class="col-lg-6 col-md-6">
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Home">Home</a></h4>
                </div>
            </div>
            <!-- end home -->
            <!-- start the founder  -->
            <div class="col-lg-6 col-md-6">
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Founder">The Founder</a></h4>
                </div>
            </div>
            <!-- end the founder -->
            <!-- start Sri Balaji Society  -->
            <div class="col-lg-6 col-md-6">
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Sri Balaji Society">Sri Balaji Society</a></h4>
                </div>
            </div>
            <!-- end Sri Balaji Society -->
            <!-- start featured alumni -->
            <div class="col-lg-6 col-md-6">
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Featured Alumni">Featured Alumni</a></h4>
                </div>
            </div>
            <!-- end featured alumni-->
            <!-- start alumni club  -->
            <div class="col-lg-6 col-md-6">
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Alumni Club">Alumni Club</a></h4>
                </div>
            </div>
            <!-- end alumni club -->
            <!-- start news  -->
            <div class="col-lg-6 col-md-6">
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="News">News</a></h4>
                </div>
            </div>
            <!-- End news -->
            <!-- start Common Purpose & Culture colomn -->
            <div class="col-lg-6 col-md-6">
                <!-- start Common Purpose & Culture  -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Common Purpose & Culture">Common Purpose & Culture</a></h4>
                </div>
                <!-- End Common Purpose & Culture  -->
                <!-- start Common Purpose & Culture inner parts  -->
                <ul class="founder-messages">
                    <li class="list-icons text-danger"><a href="#" target="blank" title="The Founder's Message">The
                            Founder's Message</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Sri Balaji Society: Alumni Connect Vision">Sri Balaji Society: Alumni Connect
                            Vision</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Sri Balaji Society: Alumni Connect Strategy Framework">Sri Balaji Society: Alumni
                            Connect Strategy Framework</a></li>
                </ul>
                <!-- End Common Purpose & Culture inner parts  -->
            </div>
            <!-- End Common Purpose & Culture Colomn -->
            <!-- connect col start -->
            <div class="col-lg-6 col-md-6">
                <!-- start connect -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Connect">Connect</a></h4>
                </div>
                <!-- end connect -->
                <!-- start connect inner parts -->
                <ul class="founder-messages">
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Alumni Events">Alumni
                            Events</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Annual Alumni Re-Union"> Annual
                            Alumni Re-Union</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Alumni Driven Events">Alumni
                            Driven Events</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Events At/By Sri Balaji Society Alma Mater">Events At/By Sri Balaji Society Alma
                            Mater</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Industry/Professional Events">Industry/Professional Events</a></li>
                </ul>
                <!-- end connect inner parts -->
            </div>
            <!-- connect col end -->
            <!-- know us col start -->
            <div class="col-lg-6 col-md-6">
                <!-- know us start -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Connect">Know Us</a></h4>
                </div>
                <!-- know us end  -->
                <!-- start know us inner parts -->
                <ul class="founder-messages">
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Welcome to Sri Balaji Society ">Welcome to Sri Balaji Society </a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Sri Balaji Society Group">Sri
                            Balaji Society Group</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title="The Founder">The Founder</a>
                    </li>
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="President's Message">President's Message</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title=" Management Team"> Management
                            Team</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title=" Stalwarts Blessings">
                            Stalwarts Blessings</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title=" Sri Balaji Society for Social"> Sri Balaji Society for Social</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title=" AICTE Approvals"> AICTE
                            Approvals</a></li>
                    <li class="list-icons text-danger"><a href="#" target="blank" title=" AIU Equivalence to MBA"> AIU
                            Equivalence to MBA</a></li>
                </ul>
                <!-- end know us inner parts -->
            </div>
            <!-- know us col end -->
            <!-- Collaborate & Contribute -->
            <div class="col-lg-6 col-md-6">
                <!-- Collaborate & Contribute start -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Collaborate & Contribute">Collaborate & Contribute</a></h4>
                </div>
                <!-- Collaborate & Contribute end -->
                <!-- Collaborate & Contribute inner part start -->
                <ul class="founder-messages">
                    <!-- Mentorship start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Mentorship">Mentorship</a></li>
                    <!-- Mentorship end -->
                    <!-- Careers and Jobs start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Careers and Jobs">Careers and
                            Jobs</a></li>
                    <!-- Careers and Jobs end -->
                    <!-- Careers and Jobs inner part start -->
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Post/Seek a Job</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Careers and Jobs"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Career Corner</a></li>
                    <!-- Careers and Jobs inner part end  -->
                    <!-- Special Projects start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Special Projects">Special
                            Projects</a></li>
                    <!-- Special Projects end-->
                    <!-- Special Projects inner part star -->
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Start a Special
                            Project</a></li>
                    <!-- Special Projects inner part end -->
                    <!-- Engage with Sri Balaji Society start-->
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Engage with Sri Balaji Society">Engage with Sri Balaji Society</a></li>
                    <!-- Engage with Sri Balaji Society end -->
                    <!-- Engage with Sri Balaji Society inner part start-->
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Participate in
                            Admission Panel</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Speak at a National
                            Seminar</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Offer expertise as a
                            Visiting Faculty</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Offer expertise to
                            conduct Workshops</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Share Internship
                            opportunities</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Share Campus
                            Placement Opportunities</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Post/Seek a Job"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true" style></i>Support Corporate
                            Interface Program</a></li>
                    <!-- Engage with Sri Balaji Society inner part end -->
                </ul>
                <!-- Collaborate & Contribute inner part close -->
            </div>
            <!-- Collaborate & Contribute colomn end -->
            <!-- Community col start -->
            <div class="col-lg-6 col-md-6">
                <!-- Community Start -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="community">Community</a></h4>
                </div>
                <!-- Community end -->
                <!-- ul start -->
                <ul class="founder-messages">
                    <!-- Alumni Directory Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Alumni Directory">Alumni
                            Directory</a></li>
                    <!-- Alumni Directory End -->
                    <!-- Professional Club Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Professional Clubs">Professional Clubs</a></li>
                    <!-- Professional Club  End -->
                    <!-- Professional Club Inner Parts Start -->
                    <li class="child-list px-2"><a href="#" target="blank" title="Digital"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Digital</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Strategy"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Strategy</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Leadership And Change"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Leadership And Change</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Artificial Intelligence"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Artificial Intelligence</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Big Data"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Big Data</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Digital Transformation"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Digital Transformation</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Finance "><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Finance </a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="FinTech"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>FinTech</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="HR / Future of Work"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>HR / Future of Work</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Internet of Things (IOT)"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Internet of Things
                            (IOT)</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Logistics, Supply Chain"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Logistics, Supply Chain</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Marketing, Advertising & Media"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Marketing, Advertising
                            & Media</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Sales"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Sales</a></li>
                    <li class="child-list px-2"><a href="#" target="blank"
                            title="SMAC (Social, Mobile, Analytics, Cloud)"><i class="fa fa-angle-double-right me-2"
                                aria-hidden="true"></i>SMAC (Social, Mobile, Analytics, Cloud)</a></li>
                    <!-- Professional Club Inner Parts End -->
                    <!-- Industry Club Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Industry Clubs">Industry
                            Clubs</a></li>
                    <!-- Industry Club End -->
                    <!-- Industry Club Inner Parts Start -->
                    <li class="child-list px-2"><a href="#" target="blank" title="Automotive"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Automotive</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Public"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Public</a></li>
                    <li class="child-list px-2"><a href="#" target="blank"
                            title="Engineering, Construction, and Operations"><i class="fa fa-angle-double-right me-2"
                                aria-hidden="true"></i>Engineering, Construction, and Operations</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Healthcare"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Healthcare</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Aerospace and Defense"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Aerospace and Defense</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Banking, Finance & Insurance"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Banking, Finance &
                            Insurance</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Chemicals"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Chemicals</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Consumer Products"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Consumer Products</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Defense and Security"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Defense and Security</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="E-Commerce"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>E-Commerce</a></li>
                    <!-- Industry Club SInner Parts End -->
                    <!-- Entrepreneurship Club Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Entrepreneurship Club">Entrepreneurship Club</a></li>
                    <!-- Entrepreneurship Club End -->
                    <!-- Entrepreneurship Club Inner Parts Start -->
                    <li class="child-list px-2"><a href="#" target="blank" title="Share your Business Venture Info"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Share your Business Venture
                            Info</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Start-Up Corner"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Start-Up Corner</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Ask for info or support">Ask for info
                            or support</a></li>
                    <!-- Entrepreneurship Club SInner Parts End -->
                </ul>
                <!-- ul close -->
            </div>
            <!-- Community col end -->
            <!-- Celebrate col start -->
            <div class="col-lg-6 col-md-6">
                <!-- Celebrate Start -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Celebrate">Celebrate</a></h4>
                </div>
                <!-- Celebrate end -->
                <!-- ul start -->
                <ul class="founder-messages">
                    <!-- Featured Alumni Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Featured Alumni">Featured
                            Alumni</a></li>
                    <!-- Featured Alumni End -->
                    <!--Celebrate Achievements & Passion Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Professional Clubs">Celebrate
                            Achievements & Passion</a></li>
                    <!-- Celebrate Achievements & Passion  End -->
                    <!-- Celebrate Achievements & Passion inner parts Start -->
                    <li class="child-list px-2"><a href="#" target="blank" title="Alumni Journey"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Alumni Journey</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Alumni Achievements"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Alumni Achievements</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Alumni Passion"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Alumni Passion</a></li>
                    <!-- Celebrate Achievements & Passion inner parts end -->
                    <!--Gallery Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Gallery">Gallery</a></li>
                    <!-- Gallery  End -->
                    <!-- Gallery inner parts Start -->
                    <li class="child-list px-2"><a href="#" target="blank" title="Class wise picture"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Class wise picture</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Alumni Club Inauguration"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Alumni Club
                            Inauguration</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Annual Alumni Events"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Annual Alumni Events</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Alumni Driven Event"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Alumni Driven Event</a>
                    </li>
                    <li class="child-list px-2"><a href="#" target="blank"
                            title="Alumni Engaging at Sri Balaji Society - Alma Mater"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Alumni Engaging at Sri
                            Balaji Society - Alma Maters</a></li>
                    <li class="child-list px-2"><a href="#" target="blank" title="Alumni YouTube Channel"><i
                                class="fa fa-angle-double-right me-2" aria-hidden="true"></i>Alumni YouTube Channel</a>
                    </li>
                    <!-- Gallery inner parts end -->
                    <!--Corporate Citizen Magazine Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Corporate Citizen Magazine">Corporate Citizen Magazine</a></li>
                    <!-- Corporate Citizen Magazine End -->
                    <!--News and Updates Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="News and Updates">News and
                            Updates</a></li>
                    <!-- News and Updates  End -->
                </ul>
                <!-- ul close -->
                <!-- Log In Start -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Log In">Log In</a></h4>
                </div>
                <!-- Log In end -->
                <!-- ul start -->
                <ul class="founder-messages">
                    <!-- registration Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Registration">Registration</a>
                    </li>
                    <!-- registration End -->
                </ul>
                <!-- ul close -->
                <!-- Contact Us Start -->
                <div id="rich-text">
                    <h4><a href="#" target="blank" title="Contact Us">Contact Us</a></h4>
                </div>
                <!-- ul start -->
                <ul class="founder-messages">
                    <!-- Featured Alumni Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank" title="Featured Alumni">Featured
                            Alumni</a></li>
                    <!-- Featured Alumni End -->
                    <!-- Celebrate Achievements & Passion Start -->
                    <li class="list-icons text-danger"><a href="#" target="blank"
                            title="Celebrate Achievements & Passion">Celebrate Achievements & Passion</a></li>
                    <!-- Celebrate Achievements & Passion End -->
                </ul>
                <!-- ul close -->
            </div>
            <!-- Contact Us end -->
        </div>
        <!-- end row site-map -->
    </ul>
    <!-- ul sbs-sitemap start-->
</div>
<!-- end container here -->