.sitemap {
    
  a {
    color: #011898 !important;
  }
  .sbs-sitemap {
   ul li {
        list-style: none !important;
      }
      ul li a{
          color: #000000 !important;
      }
    .rich-text {
      h4 {
        line-height: 1;
      }
      .founder-messages{
          background-color: transparent;
          color: #000000;
      }
    }
    
  }
  ul.founder-messages {
    margin: 23px 0;
  }
}
