<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-lg-6 col-md-8 col-sm-9">
            <form [formGroup]="loginForm">
                <div class="row">
                    <div class="col-md-12 my-2">
                        <label class="form-label">Email <span class="label-danger">*</span></label>
                        <input type="email" class="form-control" formControlName="email"
                            placeholder="Enter email ID">
                        <div class="text-danger mt-2"
                            *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                            Email is required.
                        </div>
                        <div class="text-danger mt-2"
                            *ngIf="(f.email.touched || submitted) && f.email.errors?.pattern">
                            Please enter valid email address.
                        </div>
                    </div>
                    <div class="col-md-12 my-2">
                        <label class="form-label">Password <span class="label-danger">*</span></label>
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Enter password">
                        <div class="text-danger mt-2"
                            *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                            Password is required.
                        </div>
                        <div class="text-danger mt-2"
                            *ngIf="(f.password.touched || submitted) && f.password.errors?.minlength">
                            Password must be at least 5 characters long.
                        </div>
                        <div class="text-danger mt-2"
                            *ngIf="(f.password.touched || submitted) && f.password.errors?.maxlength">
                            Password can be max 10 characters long.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12  align-self-center my-2">
                        <button type="submit" (click)="login()" [disabled]="!loginForm.valid"
                            class="btn btn-danger my-2">Login</button>
                        <a [routerLink]="['/forgot-password']" class="mx-2">Forgot Your Password ?</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-end my-2">
                        <span>Don't Have An Account Yet ? <a [routerLink]="['/register']">Signup!</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>