<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form [formGroup]="registerForm">
                <div class="row">
                    <div class="col-md-4 my-2">
                        <label class="form-label">First name <span class="label-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="first_name"
                            placeholder="Enter First name">
                        <div class="text-danger mt-2"
                            *ngIf="(f.first_name.touched || submitted) && f.first_name.errors?.required">
                            First name is required.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Last name <span class="label-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="last_name"
                            placeholder="Enter Last name">
                        <div class="text-danger mt-2"
                            *ngIf="(f.last_name.touched || submitted) && f.last_name.errors?.required">
                            Last name is required.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Institute <span class="label-danger">*</span></label>
                        <select class="form-select" formControlName="institute_id">
                            <option value="" selected>Choose your institute</option>
                            <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                                {{institute.institute_name}}</option>
                        </select>
                        <div class="text-danger mt-2"
                            *ngIf="(f.institute_id.touched || submitted) && f.institute_id.errors?.required">
                            Institute name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2">
                        <label class="form-label">Batch Year <span class="label-danger">*</span></label>
                        <select placeholder="Select Batch Year" class="form-select" formControlName="batchYear_id">
                            <option value="" selected>Choose your batch</option>
                            <option [value]="batch.id" *ngFor="let batch of getBatch">{{batch.batch}}</option>
                        </select>
                        <div class="text-danger mt-2"
                            *ngIf="(f.batchYear_id.touched || submitted) && f.batchYear_id.errors?.required">
                            Batch year is required.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">City <span class="label-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="city" placeholder="Enter City">
                        <div class="text-danger mt-2" *ngIf="(f.city.touched || submitted) && f.city.errors?.required">
                            City name is required.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Country <span class="label-danger">*</span></label>
                        <select class="form-select" formControlName="country" (change)="changeCountry($event)">
                            <option *ngFor="let row of countries" [value]="row.code">{{row.name}}</option>
                        </select>
                        <div class="text-danger mt-2"
                            *ngIf="(f.country.touched || submitted) && f.country.errors?.required">
                            Country name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2">
                        <label class="form-label">Country Region <span class="label-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="current_region"
                            placeholder="Enter Region">
                        <div class="text-danger mt-2"
                            *ngIf="(f.current_region.touched || submitted) && f.current_region.errors?.required">
                            Country region is required.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Mobile Number <span class="label-danger">*</span></label>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-3 pb-2">
                                <input type="text" class="form-control px-2" formControlName="code" placeholder="Code">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-9">
                                <input type="text" class="form-control" (keypress)="keyPressNumbers($event)"
                                    formControlName="mobile_number" placeholder="Enter Number">
                            </div>
                            <div class="text-danger mt-2"
                                *ngIf="(f.mobile_number.touched || submitted) && f.mobile_number.errors?.required">
                                Mobile number is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Birthdate <span class="label-danger">*</span></label>
                        <input type="text" placeholder="DD/MM/YYYY" class="form-control" formControlName="birth_date"
                            bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        <div class="text-danger mt-2"
                            *ngIf="(f.birth_date.touched || submitted) && f.birth_date.errors?.required">
                            Date of birth is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2">
                        <label class="form-label">Personal email Id <span class="label-danger">*</span></label>
                        <input type="email" class="form-control" formControlName="personal_email"
                            placeholder="Enter Email Id">
                        <div class="text-danger mt-2"
                            *ngIf="(f.personal_email.touched || submitted) && f.personal_email.errors?.required">
                            Email is required.
                        </div>
                        <div class="text-danger mt-2"
                            *ngIf="f.personal_email.dirty && f.personal_email.errors?.pattern">
                            Email format is incorrect.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Current Company <span class="label-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="current_company"
                            placeholder="Enter Current Company">
                        <div class="text-danger mt-2"
                            *ngIf="(f.current_company.touched || submitted) && f.current_company.errors?.required">
                            Company name is required.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Current Designation <span class="label-danger">*</span></label>
                        <input type="email" class="form-control" formControlName="current_designation"
                            placeholder="Enter Current Designation">
                        <div class="text-danger mt-2"
                            *ngIf="(f.current_designation.touched || submitted) && f.current_designation.errors?.required">
                            Designation is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2">
                        <label class="form-label">Password <span class="label-danger">*</span></label>
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Enter Password">
                        <div class="text-danger mt-2"
                            *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                            Password is required.
                        </div>
                        <div class="text-danger mt-2"
                            *ngIf="(f.password.touched || submitted) && f.password.errors?.minlength">
                            Password must be at least 5 characters long.
                        </div>
                        <div class="text-danger mt-2"
                            *ngIf="(f.password.touched || submitted) && f.password.errors?.maxlength">
                            Password can be max 10 characters long.
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Confirm Password <span class="label-danger">*</span></label>
                        <input type="password" class="form-control" formControlName="password_confirmation"
                            placeholder="Enter Confirm Password">
                        <div *ngIf="(f.password_confirmation.touched || submitted) && f.password_confirmation.errors">
                            <div class="text-danger mt-2" *ngIf="f.password_confirmation.errors.required">
                                Confirm password is required</div>
                            <div class="text-danger mt-2" *ngIf="f.password_confirmation.errors.MustMatch">
                                Confirm password does not match.</div>
                        </div>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="form-label">Security Questions <span class="label-danger">*</span></label>
                        <select class="form-select" formControlName="securityQuestions_id">
                            <option value="" selected>Choose first question</option>
                            <option [value]="que.id" *ngFor="let que of questions">{{que.question}}
                            </option>
                        </select>
                        <div class="text-danger mt-2"
                            *ngIf="(f.securityQuestions_id.touched || submitted) && f.securityQuestions_id.errors?.required">
                            Security question is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2">
                        <label class="form-label">Security Answer <span class="label-danger">*</span></label>
                        <input type="email" class="form-control" formControlName="security_answers"
                            placeholder="Enter Security Answer">
                        <div class="text-danger mt-2"
                            *ngIf="(f.security_answers.touched || submitted) && f.security_answers.errors?.required">
                            Answer is required.
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
                        </ngx-recaptcha2>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center my-2">
                        <button type="submit" (click)="submitForm()"
                            class="btn btn-danger my-2 me-2">SIGNUP</button>
                        <button type="submit" [routerLink]="['/auth/login']"
                            class="btn btn-success my-2">ALREADY
                            ACCOUNT</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>