<!-- <app-dashboard-banner [heading]="heading"></app-dashboard-banner> -->
<app-common-banner></app-common-banner>
<div class="container">
    <div class="row mt-xl-5 mt-lg-5 mt-md-12 mt-sm-4 mt-3 mb-xl-4 mb-lg-4 mt-md-4 mt-sm-3 mt-3">
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/collaborate/homeMentorship.png" alt="mentorship img"
                    class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">MENTORSHIP</h6>
            <div class="description my-xl-4">
                <p class="fw-bold">Mentorship program is one of the ways to pay it forward.</p>
                <ul class="px-3">
                    <li class="lh-lg"> Become a Mentor: Want to share your expertise, contribute, give back
                        and support junior Alumni and/or students at the Institute.</li>
                    <li class="lh-lg">Connect with a Mentor: To seek career counselling, tips and benefit
                        from experience.</li>
                </ul>
            </div>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more
                information.</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/collaborate/homeCareer.png" alt="career img" class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">CAREERS AND JOBS</h6>
            <div class="description my-xl-4">
                <ul class="px-3">
                    <li class="lh-lg"> Contribute on blogs, posts regarding career advancement</li>
                    <li class="lh-lg">Lateral career rotations</li>
                    <li class="lh-lg">Skill development</li>
                    <li class="lh-lg">Professional certification tips</li>
                    <li class="lh-lg">Post a career advancement or job opportunity</li>
                    <li class="lh-lg">Search and apply for available jobs</li>
                </ul>
            </div>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more
                information.</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/collaborate/homeMentorship.png" alt="mentorship img"
                    class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">SPECIAL PROJECTS</h6>
            <ul class="px-3">
                <li class="lh-lg">Not-for-profit causes</li>
                <li class="lh-lg">Charity</li>
                <li class="lh-lg">Social community drives/initiatives</li>
                <li class="lh-lg">Blood donation drives</li>
                <li class="lh-lg">Alumni Fund (to help support distressed Alumni families
                    in case of emergency).</li>
            </ul>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more
                information.</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <div class="img">
                <img src="./assets/collaborate/homeEngage.png" alt="career img" class="img-fluid">
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 ps-xl-5 ps-lg-5 my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
            <h6 class="main-heading fw-bold text-uppercase">ENGAGE WITH SRI BALAJI
                University, pune</h6>
            <div class="description my-xl-2">
                <ul class="px-3">
                    <li class="lh-lg"> As a visiting faculty</li>
                    <li class="lh-lg">Conduct workshop</li>
                    <li class="lh-lg">Participate as a guest speaker at National Seminars</li>
                    <li class="lh-lg">Serve as an expert panelist – admissions</li>
                    <li class="lh-lg">Share internship/company project studies opportunities at
                        your company</li>
                    <li class="lh-lg">Share campus placement opportunities</li>
                    <li class="lh-lg">Support Company Interface Programs</li>
                </ul>
            </div>
            <a class="mt-3 fs-6 viewLink fw-bold text-decoration-none" routerLink="/login">Login for more
                information.</a>
        </div>
    </div>
</div>