<div class="search-filter">
    <div class="section-heading">
        <span class="text-left-listing">
            Current User Listing
        </span>
        <span class="text-right-download">
            <i class="fa fa-download" aria-hidden="true"></i>&nbsp;
            Download Excel
        </span>
    </div>
    <form class="p-3">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEmail4">Search By Name:</label>
                <input type="name" class="form-control" id="inputName" placeholder="Search by name">
            </div>
            <div class="form-group col-md-4">
                <label for="inputemail">Search By Email:</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Search by email">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Search By Mobile Number:</label>
                <input type="number" class="form-control" id="inputMobileNumber" placeholder="Search by mobile number">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAddress">Search Institute Name:</label>
                <select class="form-control" placeholder="Select institute name">
                <option value="" selected disabled hidden>Select institute name</option>
                <option> select</option>
                <option> select</option>
                <option> select</option>
                <option> select</option>
                 </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputemail">Search By Passout Year:</label>
                <select class="form-control" placeholder="Select institute name">
                    <option value="" selected disabled hidden>Select year</option>
                    <option> select</option>
                    <option> select</option>
                    <option> select</option>
                    <option> select</option>
                     </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Search By Status:</label>
                <select class="form-control" placeholder="Select institute name">
                    <option value="" selected disabled hidden>Select status</option>
                    <option> select</option>
                    <option> select</option>
                    <option> select</option>
                    <option> select</option>
                     </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAddress">Search By Company Name:</label>
                <input type="text" class="form-control" id="inputCompanyName" placeholder="Search by company name">
            </div>
            <div class="form-group col-md-4">
                <label for="inputemail">Search By Registered Date From:</label>
                <input type="date" class="form-control" id="inputRegisteredDate" placeholder="Search by registered date from">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Search By Registered Date To:</label>
                <input type="date" class="form-control" id="inputStatus" placeholder="Search by registered date to">
            </div>
        </div>
    </form>
</div>