<app-users-banner [heading]="heading"></app-users-banner>
<div class="container">
    <div class="row my-xl-5 my-lg-5 my-md-5 my-sm-4 my-3">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="main-heading text-uppercase fw-bolder">News & Update</h3>
                </div>
            </div>
            <app-loader *ngIf="loading"></app-loader>
            <div *ngIf="!loading">
                <div class="university-img py-3">
                    <img class="img-fluid"
                        [src]="(newsDetail?.newsImage) ? imgPath + newsDetail?.newsImage : './assets/celebrate/balaji-university.png'"
                        alt="news photo">
                </div>
                <div class="news-content pt-3">
                    <h6 class="news-discription fs-6 fw-bolder text-capitalize">News Title:</h6>
                    <p class="news-discription fs-6 text-capitalize"> {{newsDetail?.title}}</p>
                    <p class="news-discription fs-6 text-capitalize">Created On: {{newsDetail?.created_at | date}}</p>
                    <p class="news-discription fs-6 text-capitalize">Author: {{newsDetail?.author}}</p>
                    <h6 class="news-discription fs-6 fw-bolder text-capitalize"> News Detail Description:</h6>
                    <div class="news-discription fs-6 text-capitalize" [innerHtml]="newsDetail?.description">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="text-center">
                <h4 class="main-heading text-uppercase fw-bolder"> ALL NEWS </h4>
            </div>
            <app-loader *ngIf="loading"></app-loader>
            <ng-container *ngIf="!loading">
                <div class="allNews">
                    <mat-list>
                        <mat-list-item *ngFor="let news of allNewsUpdates">
                            <mat-icon mat-list-icon>image</mat-icon>
                            <div mat-line> <small class="text-muted">{{news.created_at | date}}</small> </div>
                            <div mat-line>
                                <h6 class="title fs-6 text-capitalize my-2" routerLink="/celebrate/news-detail"
                                    [skipLocationChange]="true" [queryParams]="news"> {{news?.title}}</h6>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </ng-container>
        </div>
    </div>