<!-- <div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="main-heading text-uppercase fw-bolder">ENGAGE WITH SRI BALAJI SOCIETY</h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                      <h5 class="card-title fs-4 lh-1">Available Event</h5>
                      <p class="card-text fs-2 fw-bold text-primary py-3">0</p>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <a  class="btn btn-primary me-2 rounded-1 text-uppercase" routerLink="/collaborate-contribute/available-event">View Event</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title fs-4 lh-1">Offer Expertise</h5>
                        <p class="card-text fs-2 fw-bold text-primary py-3">1</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a routerLink="/collaborate-contribute/add-expertise" class="btn btn-primary me-2 rounded-1 text-uppercase">Add</a>
                                <a class="btn btn-primary me-2 rounded-1 text-uppercase" (click)="viewExpertise()">View</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title fs-4 lh-1">Share Opportunities</h5>
                        <p class="card-text fs-2 fw-bold text-primary py-3">0</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-primary me-2 rounded-1 text-uppercase" routerLink="/collaborate-contribute/add-opportunity" >Add</a>
                                <a class="btn btn-primary me-2 rounded-1 text-uppercase" (click)="viewOpportunity()">View</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-my-posted-opportunity *ngIf="postedOpportunity"></app-my-posted-opportunity>
<app-my-posted-expertise *ngIf="postedExpertise"></app-my-posted-expertise> -->
<!-- engage-society -->
<div class="engage-society">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="main-heading text-uppercase fw-bolder">ENGAGE WITH SRI BALAJI SOCIETY</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                    <img src="./assets/collaborate/engage.png" class="img-fluid">
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 ps-lg-5 py-2 align-self-center">
                    <ul>
                    <li class="sub-text">As a visiting faculty</li>
                    <li class="sub-text"> Conduct workshop</li>
                    <li class="sub-text">Participate as a guest speaker at National Seminars</li>
                    <li class="sub-text">Serve as an expert panelist – admissions</li>
                    <li class="sub-text">Share internship/company project studies opportunities at
                        your company
                    </li>
                    <li class="sub-text"> Share campus placement opportunities</li>
                    <li class="sub-text"> Support Company Interface Programs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row py-lg-5 py-sm-2">
                <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6">
                    <div class="project-box my-3 py-3 px-2">
                        <h4 class="posted text-black fw-bold text-center fs-6 ">Offer Expertise</h4>
                        <h2 class="number fw-bold text-center mt-5 fs-2">0</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 pt-3">
                            <a routerLink="/collaborate-contribute/add-expertise" class="btn project-btn shadow text-white fs-6">Add</a>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 pt-3 ">
                            <a (click)="viewExpertise()" class="btn project-btn shadow text-white fs-6">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6">
                    <div class="project-box my-3 py-3 px-2">
                        <h4 class="posted text-black fw-bold text-center fs-6 ">Available Event</h4>
                        <h2 class="number fw-bold text-center mt-5 fs-2">0</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 pt-3 ">
                            <a routerLink="/collaborate-contribute/available-event" class="btn project-btn shadow text-white fs-6">View Event</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6">
                    <div class="project-box my-3 py-3 px-2">
                        <h4 class="posted text-black fw-bold text-center fs-6 ">Share Opportunities</h4>
                        <h2 class="number fw-bold text-center mt-5 fs-2">0</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 pt-3">
                            <a routerLink="/collaborate-contribute/add-opportunity" class="btn project-btn shadow text-white fs-6">Add</a>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 pt-3 ">
                            <a (click)="viewOpportunity()" class="btn project-btn shadow text-white fs-6">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- end engage-society section-->
<app-my-posted-opportunity *ngIf="postedOpportunity"></app-my-posted-opportunity>
<app-my-posted-expertise *ngIf="postedExpertise"></app-my-posted-expertise>