.engage-society {
    .project-box {
      background: #fdc480;
      height: 150px;
    }
    .number {
      color: #011898;
    }
    .project-btn {
      background-color: #011898;
      width: 100%;
      font-size: 12px !important;
    }
  }
  