<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="heading text-uppercase fw-bolder">INDUSTRY CLUB</h3>
    </div>
    <div class="col-lg-3"><a class="btn btn-primary" (click)="joinClub()">Start a club</a></div>
</div>
<div class="row">
    <div class="col-lg-4 my-2 px-2" *ngFor="let item of industryClub">
        <div class="card">
            <img src="./../../../../../../assets/gallary01.png" class="card-img-top" alt="...">
            <div class="card-header bg-transparent text-center fs-5 border-0">
                <h3 class="card-title mb-2 fw-bold fs-5"><a>{{ item?.title }}</a></h3>
            </div>
            <div class="card-body text-center">
              <a class="btn btn-primary" (click)="joinUnjoin(item)">{{ club == true ? 'Join club' : 'Unjoin club' }}</a>
            </div>
        </div>
    </div>
</div>