<app-dashboard-banner [heading]="heading"></app-dashboard-banner>
<div class="industry-club">
    <div class="container">
        <div class="row my-xl-5 my-lg-5 my-md-4 my-sm-3 my-3">
            <div class="col-lg-12 text-center">
                <h3 class="main-heading text-uppercase fw-bold mb-0">INDUSTRY CLUB
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image1 rounded-bottom rounded-3">
                        <img src="./assets/community/industry club/industry1.png" class="card-img-top"
                            alt="Automative Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold pb-3 pt-3 lh-sm">Automative</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image2 rounded-bottom">
                        <img src="./assets/community/industry club/industry2.png" class="card-img-top"
                            alt="Public Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold pb-3 pt-3 lh-sm">Public</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image3 rounded-bottom">
                        <img src="./assets/community/industry club/industry3.png" class="card-img-top"
                            alt="Industry Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold  pb-3 pt-3 lh-sm">Engineering, Construction,
                            And Operations</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image1 rounded-bottom rounded-3">
                        <img src="./assets/community/industry club/industry4.png" class="card-img-top"
                            alt="Healthcare Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold  pb-3 pt-3 lh-sm">Healthcare</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image2 rounded-bottom">
                        <img src="./assets/community/industry club/industry5.png" class="card-img-top"
                            alt="Aerospace Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold  pb-3 pt-3 lh-sm">Aerospace And Defense</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image3 rounded-bottom">
                        <img src="./assets/community/industry club/industry6.png" class="card-img-top"
                            alt="Banking Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold  pb-3 pt-3 lh-sm">Banking, Finance, Insurance</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image1 rounded-bottom rounded-3">
                        <img src="./assets/community/industry club/industry7.png" class="card-img-top"
                            alt="Chemicals Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold  pb-3 pt-3 lh-sm">Chemicals</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image2 rounded-bottom">
                        <img src="./assets/community/industry club/industry8.png" class="card-img-top"
                            alt="Consumer Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold  pb-3 pt-3 lh-sm">Consumer Products</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image3 rounded-bottom">
                        <img src="./assets/community/industry club/industry9.png"  class="card-img-top"
                            alt="Defense Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold pb-3 pt-3 lh-sm">Defense and Security</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-image1  rounded-bottom rounded-3">
                        <img src="./assets/community/industry club/industry10.png" 
                            class="card-img-top" alt="IOT Img">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text fw-bold pb-3 pt-3 lh-sm">E-Commerce</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join Club</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-xl-5 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <div class="col-lg-8 text-center">
                    <h6 class="new-club text-black fw-bolder pt-3 lh-base common_text"> Want to Start a New Club: <br>Please submit
                        your
                        request for Club Formation by filling up this form.</h6>
                    <h6 class="start-club fw-bolder lh-base common_text" (click)="joinClub()"> START A CLUB (Professional Focus)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>