<app-dashboard-banner [heading]="heading"></app-dashboard-banner>
<div class="industry-club">
    <div class="container">
        <div class="row mt-xl-5 mt-lg-5 mt-md-5 mt-sm-4 mt-3">
            <app-loader *ngIf="loading"></app-loader>
            <ng-container *ngIf="!loading">
                <ng-container *ngIf="industry?.length > 0">
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 mb-xl-5 mb-lg-3 mb-md-3 mb-3"
                        *ngFor="let item of industry">
                        <div class="card border-0">
                            <div class="card-image rounded-bottom rounded-3">
                                <img [src]="imgPath + item?.featured_image" class="card-img-top clubImg"
                                    alt="Digital Img">
                            </div>
                            <div class="card-body text-center">
                                <p class="card-text fw-bold pb-3 pt-3 lh-sm">{{item?.name}}</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 text-center">
                                <a class="btn btn-primary card-button px-4 btn-xl btn-lg btn-md btn-sm py-1"> Join
                                    Club</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="industry?.length == 0">
                    <div class="col-12 py-3 text-center fw-bold">
                        <p class="fs-5">No data found!</p>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="row justify-content-center mb-xl-5 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <div class="col-lg-8 text-center">
                <h6 class="new-club text-black fw-bolder pt-3 lh-base common_text"> Want to Start a New Club:
                    <br>Please submit your request for Club Formation by filling up this form.
                </h6>
                <h6 class="start-club fw-bolder lh-base common_text" (click)="joinClub()"> START A CLUB (Industry Focus)
                </h6>
            </div>
        </div>
    </div>
</div>