<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="v-pills-tabContent">
        <img src="../../../../../assets/know-us/about.jpg" /><br /><br />
        <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
        <p class="font-italic text-muted mb-2">
          India is going through an Industrial Revolution. Many multinationals,
          transnational & global companies are investing in the Indian economy
          and Indian companies are going global. In the globalised business
          environment demand for well trained work force is increasing. Not
          withstanding the upheavals in the global market, India is still poised
          to keep her growing phase as can be seen in the economic growth rate
          compared to the other countries in the World. Right person to the
          right job with right attitude is the demand of the industry.
        </p>

        <h3>Sri Balaji Society, Pune functions like a Corporate Entity</h3>
        <p class="font-italic text-muted mb-2">
          Sri Balaji Society, Pune/ Management institutes/ Colleges are run on
          the lines of a corporate entity. The Directors of the Management
          Institutes function like CEO’s. Students are treated as 'Student
          Managers' with due respect, love, concern, dignity and authority.
          Those who perform are rewarded. Delinquent students are dealt with
          disciplinarily. Discipline, Dedication and Determination are our
          ‘Mantras’. The ability to perform and grow towards a definite career
          in any part of the country are the qualities expected from every
          'Student Manager'. Here 'Time' is treated as the most precious
          resource. Our classes generally commence at early morning hours say
          08:00 am or 09:00 am and may go on even beyond 07:00 pm with minimum
          breaks. We also hold late night classes/examinations as and when
          required.
        </p>
        <h4 class="font-italic mb-4">THE BEGINNING</h4>
        <div class="row">
          <img src="../../../../../assets/know-us/the-beginning.jpg" />
          <img src="../../../../../assets/know-us/balaji-society.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
