<div class="header-banner">
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="row main-header">
                <div class="col-xl-8 col-lg-8 header-logos col-md-6 col-sm-12 text-center pt-lg-2">
                    <a href="/">
                        <img src="./assets/logo.png" class="logo me-2 img-fluid" alt=" Shri Balaji Logo">
                        <img src="./assets/logosbs.png" class="logo-img img-fluid" alt="Shri Balaji Logo">
                    </a>
                </div>
                <div
                    class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 open-add align-self-center text-lg-end pe-lg-0 pe-md-0 mt-3 mt-xl-0  mt-lg-0 mt-md-0">
                    <button type="button" class="btn admission-open fs-6">Admission Open</button>
                </div>
                <div *ngIf="!currentUser"
                    class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 open-add align-self-center text-end pe-lg-0 pe-md-0 mt-3 mt-xl-0  mt-lg-0 mt-md-0">
                    <button type="button" class="btn login-register fs-6" routerLink="/login"
                        routerLinkActive="active-link">Log In/ Register</button>
                </div>
                <div *ngIf="currentUser"
                    class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5 open-add align-self-center text-lg-end  pe-lg-0 pe-md-0 mt-3 mt-xl-0  mt-lg-0 mt-md-0">
                    <div class="dropdown">
                        <a class="btn border-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="./assets/Ellipse-19.png" class="w-50"> <span class="header-icon"><i
                                    class="fa fa-angle-down ps-2" aria-hidden="true"></i></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="view-profile">View Profile</a></li>
                            <li><a class="dropdown-item" routerLink="edit-profile">Edit Profile</a></li>
                            <li><a class="dropdown-item" routerLink="reset-password">Reset Password</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class=" fa-burger fs-4 mobile-toggle border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">☰ </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll main-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-6" aria-current="page" routerLink="/"
                            routerLinkActive="active-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-6" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" routerLink="/about-us" routerLinkActive="active-link"> Know
                            Us <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu trick_top" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" routerLink="/about-us/welcome-society">Welcome to Sri Balaji
                                    Society </a></li>
                            <li><a class="dropdown-item" routerLink="/about-us/balaji-group">Sri Balaji Society
                                    Group</a></li>
                            <li><a class="dropdown-item" routerLink="/about-us/founder">The Founder</a></li>
                            <li><a class="dropdown-item" routerLink="/about-us/president-message">President’s
                                    Message</a></li>
                            <li><a class="dropdown-item" routerLink="/about-us/team"> Management Team</a></li>
                            <li><a class="dropdown-item" routerLink="/about-us/blessings"> Stalwarts Blessings</a></li>
                            <li><a class="dropdown-item" routerLink="/about-us/balaji-social-society"> Sri Balaji
                                    Society for Social</a></li>
                            <li><a class="dropdown-item" routerLink="/about-us/aicte-approvals"> AICTE Approvals</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/about-us/equivalence-to-mba"> AIU Equivalence to
                                    MBA</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-6" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/common-purpose-culture"
                            routerLinkActive="active-link">Common Purpose <i class="fa fa-angle-down"
                                aria-hidden="true"></i></a>
                        <ul class="dropdown-menu trick_top" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" routerLink="/common-purpose-culture/connect-vision"> Sri Balaji
                                    Society: Alumni Connect Vision </a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/common-purpose-culture/strategy-framework'] : ['login']}}">
                                    Sri
                                    Balaji Society: Alumni Connect Strategy Framework </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-6" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/community" routerLinkActive="active-link">Community
                            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu trick_top" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/community/alumni-directory'] : ['login']}}">Alumni
                                    Directory</a>
                            </li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/community/professional-club'] : ['login']}}">Professional
                                    Clubs</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/community/industry-club'] : ['login']}}">Industry
                                    Clubs</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/community/entrepreneurship-club'] : ['login']}}">
                                    Entrepreneurship
                                    Club</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-6" id="dropdownMenuButton3" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/connect/at-glance" routerLinkActive="active-link">Connect
                            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu trick_top" aria-labelledby="dropdownMenuButton3">
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/connect/at-glance'] : ['login']}}">
                                    Events At a Glance</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/connect/alumnireunion'] : ['login']}}">
                                    Annual Alumni Re-Union</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/connect/drivenevent'] : ['login']}}">
                                    Alumni Driven Events</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/connect/almamater'] : ['login']}}">
                                    Events At/By Sri Balaji Socity Alma Mater</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/connect/professionalevent'] : ['login']}}">
                                    Industry / Professional Events</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-6" id="dropdownMenuButton4" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/collaborate-contribute"
                            routerLinkActive="active-link">Collaborate<i class="fa fa-angle-down"
                                aria-hidden="true"></i></a>
                        <ul class="dropdown-menu trick_top" aria-labelledby="dropdownMenuButton4">
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/collaborate-contribute/mentorship'] : ['login']}}">Mentorship</a>
                            </li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/collaborate-contribute/careers'] : ['login']}}">Careers
                                    and
                                    Jobs</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/collaborate-contribute/special-projects'] : ['login']}}">Special
                                    Projects</a></li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/collaborate-contribute/engage-with-society'] : ['login']}}">Engage
                                    with Sri Balaji Society</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-6" id="dropdownMenuButton5" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/celebrate" routerLinkActive="active-link">Celebrate
                            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu trick_top" aria-labelledby="dropdownMenuButton5">
                            <li><a class="dropdown-item" routerLink="/celebrate/featured-alumni">Featured-alumni</a>
                            </li>
                            <li><a class="dropdown-item"
                                    routerLink="{{(currentUser) ? ['/celebrate/alumni-journey'] : ['login']}}">Alumni
                                    Journey</a></li>
                            <li><a class="dropdown-item" routerLink="/celebrate/alumni-achievement">Alumni
                                    Achievement</a></li>
                            <li><a class="dropdown-item" routerLink="/celebrate/alumni-passion">Alumni Passion</a></li>
                            <li><a class="dropdown-item" routerLink="/celebrate/gallery">Gallery</a></li>
                            <li><a class="dropdown-item" routerLink="/celebrate/magazine">Corporate Citizen Magazine</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/celebrate/news-update">News and Updates</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-6" id="dropdownMenuButton6" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/contact" routerLinkActive="active-link">Contact <i
                                class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu trick_top" aria-labelledby="dropdownMenuButton6">
                            <li><a class="dropdown-item" routerLink="/contact/key-contact">Key Contacts</a></li>
                            <li><a class="dropdown-item" routerLink="/contact/social-links">Sri Balaji Society Alumni
                                    Clubs – Social Channels</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="right-dropdown">
                    <div id="" class="dropdown dropstart">
                        <button class="btn  dropdown" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-bars fs-6 " aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu trick_top">
                            <li><a class="nav-link dropdown-item fs-6 pe-3" routerLink="/connect/at-glance"
                                    routerLinkActive="active-link">
                                    Connect</a> </li>
                            <li><a href="#" class="dropdown-item">Apply For Transcript</a></li>
                            <li> <a href="#" class="dropdown-item">Get Featured</a></li>
                            <li> <a class="nav-link fs-6 pe-3 dropdown-item" [routerLink]="['/contact']"
                                    routerLinkActive="active-link">News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>