.header-banner {
  .navbar {
    .main-header {
      width: 100%;
      .open-add {
        .admission-open {
          background-color: var(--btn-background);
          color: #fff;
          font-weight: 700;
          font-family: Montserrat;
          border-radius: 2px;
          line-height: 28px;
          font-size: var(--font-S-16);
        }
        .admission-open:hover {
          background-color: var(--btn-hover);
          color: #fff;
          
        }
        .login-register {
          font-weight: 500;
          font-family: Montserrat;
          border-radius: 2px;
          line-height: 28px;
          font-size: var(--font-S-14);
        }
        .login-register:hover {
          background-color: #fff;
          color:var(--btn-hover);
        
        }
        i {
          color: var(--i-color-1);
          font-size: var(--font-S-24);
          vertical-align: bottom;
        }
        a {
          --font-S-14: 14px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
        line-height: 17px;
        color: var( --header-link-1);
        }
        a:hover{
          color: var(--header-link);
        }
      }

      .btn:focus {
        box-shadow: none;
      }
      .dropdown-menu {
        margin-left: 50px;
      }
      .dropdown-menu {
        background-color: #011898;
        color: #fff !important;
        a:active {
          text-decoration: underline;
        }
      }

      .dropdown-item:focus {
        background: none;
      }
      .dropdown-item {
        color: #fff !important;
        line-height: 35px;
        white-space: normal;
        min-width: 15rem !important;
      }
      .trick_top::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #011898;
        right: 80%;
        top: -8px;
        z-index: 99999;
      }
      .dropdown-item:hover {
        background-color: transparent !important;
        text-decoration: underline;
      }
    }
  }
  .navbar-nav{
    justify-content: space-around;
  }
  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
  }
  .nav-link {
    color: #000000;
  }
  .nav-link:hover {
    color: var( --nav-color);
  }
  .nav-link.active-link {
    color: var( --nav-color);
  }
  .nav-link i {
    padding-left: 2px;
  }
  .navbar {
    .main-nav{
      width: 100% !important;
    }
    .logo {
      width: 100px;
    }
    .logo-img {
      width: 200px;
    }
    .fa-burger {
      display: none;
    }
    .responsive-nav {
      display: none;
    }
    .navbar-nav {
      .nav-link {
        font-weight: 700;
        font-family: Montserrat;
      }

      .dropdown-menu {
        background-color: #011898;
        color: #fff !important;
        a:active {
          text-decoration: underline;
        }
      }

      .dropdown-item:focus {
        background: none;
      }
      .dropdown-item {
        color: #fff !important;
        line-height: 35px;
        white-space: normal;
        min-width: 15rem !important;
      }
      .trick_top::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #011898;
        right: 80%;
        top: -8px;
        z-index: 99999;
      }
      .dropdown-item:hover {
        background-color: transparent !important;
        text-decoration: underline;
      }
    }
    .right-dropdown {
      .dropdown-menu {
        top: 50px;
        right: -25px;
        background-color: #011898;
        color: #fff !important;
      }
      .dropdown-item {
        color: #fff !important;
        line-height: 35px;
      }
      .dropdown-item:focus {
        background: none;
      }
      .dropdown-item:hover {
        background-color: transparent !important;
        text-decoration: underline;
      }
      .btn:focus {
        box-shadow: none;
      }
      .trick_top::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #011898;
        left: 75%;
        top: -12px;
        z-index: 99999;
      }
    }
  }
}
.dropdown-item {
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 600px) {
  .navbar {
    .navSideBar {
      display: none;
    }
    
    .otherNav {
      display: block !important;
    }
    .mobile-toggle {
      display: inline-block !important;
    }
    .mobile-toggle {
    background: none;
    margin-top: 20px;
    }
    .dropdown-menu {
      position: static;
      width: 90%;
    }
    .trick_top::before {
      display: none !important;
    }
    .logo-img {
        width: 150px !important;
      }
      .logo {
        width: 100px !important;
      }
   
  }

  .header-banner {
    .navbar {
      .dropdown-menu {
        margin-left: 20px !important;
      }
      .open-add {
        .admission-open {
          font-size: 12px !important;
          border-radius: 2px;
          line-height: 28px;
        }
        .login-register {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  nav {
    .navSideBar {
      display: none;
    }
    .otherNav {
      display: block !important;
    }
    .mobile-toggle {
      display: inline-block !important;
      margin-top: 20px;
      background: none;
    }
  
    .dropdown-menu {
      position: static;
      width: 90%;
    }
    .trick_top::before {
      display: none !important;
    }
  }
  .header-banner {
    .navbar {
      .dropdown-menu {
        margin-left: 20px !important;
      }
      .open-add {
        .admission-open {
          font-size: 12px !important;
          border-radius: 2px;
          line-height: 28px;
        }
        .login-register {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .navbar {
    .navSideBar {
      display: none;
    }
    .otherNav {
      display: block !important;
    }
    .mobile-toggle {
      display: inline-block !important;
      margin-top: 20px;
      background: none;
    }
    .dropdown-menu {
      position: static;
      width: 90%;
    }
    .trick_top::before {
      display: none !important;
    }
  }
  .header-banner {
    .navbar {
      .dropdown-menu {
        margin-left: 20px !important;
      }
      .open-add {
        .admission-open {
          font-size: 12px !important;
          border-radius: 2px;
          line-height: 28px;
        }
      }
      .open-add {
        .login-register {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .header-banner {
   
  }
  .navbar {
    .logo-img {
      width: 150px !important;
    }
    .logo {
      width: 100px !important;
    }
    .open-add {
      .admission-open {
        font-size: 12px !important;
        border-radius: 2px;
        line-height: 28px;
      }
      .login-register {
        font-size: 12px !important;
      }
    }
  }
}
