<!-- <div class="bannerImg">
    <div class="layer">
        <div class="container">
            <div class="row m-0 justify-content-center">
                <div class="col-lg-12 text-center">
                    <h3 class="text-white fw-bold mb-0 lh-sm text-uppercase">ALUMNI Passion</h3>
                </div>
            </div>
        </div>
    </div>
</div> -->
<app-common-banner></app-common-banner>
<div class="container">
    <div class="row mb-xl-3 mb-lg-3 mb-md-3 mb-sm-2 mb-1 mt-xl-5 mt-lg-5 mt-md-4 mt-sm-4 mt-3 m-0">
        <div class="col-lg-12">
            <h3 class="main-heading text-uppercase fw-bold mb-0">ALUMNI Passion</h3>
        </div>
    </div>
    <div class="alumni-journey">
        <div class="row justify-content-center mb-3 m-0">
            <div class="col-lg-4 col-md-12 my-lg-2 my-md-3 my-sm-3 my-2">
                <img src="./assets/celebrate/celebrate.png" class="img-fluid w-100 projectImg" alt="celebrate img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-2 text-center">
                <div class="card">
                    <div class="card-body p-0 text-center">
                        <div class="projectHeading d-flex align-items-center justify-content-center">
                            <h4 class="posted text-black fw-bold fs-5 mb-0 text-white px-2">Shared Passion By Me  &nbsp;{{ allUserPassionCount }}</h4>
                        </div>
                        <!-- <h5 class="card-title fs-6 fw-bold lh-1">Shared Passion By Me</h5>
                        <p class="card-text text-center fs-2 fw-bold py-4 pt-5">{{allUserPassionCount}}</p> -->
                        <div class="row justify-content-between m-0 py-2 px-3 mt-5">
                            <div class="col-md-6 col-lg-5 col-xl-5 col-sm-6 col-6">
                                <a (click)="addPassion()" class="btn btn-md project-btn fs-6 lh-base">Add</a>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-5 col-sm-6 col-6">
                                <a (click)="viewPassionByMe()" class="btn project-btn fs-6 lh-base">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-2 text-center">
                <div class="card">
                    <div class="card-body p-0 text-center">
                        <div class="projectHeading d-flex align-items-center justify-content-center">
                            <h4 class="posted text-black fw-bold fs-5 mb-0 text-white px-2">Shared Passion  &nbsp;{{ allPassionCount }}</h4>
                        </div>
                        <!-- <h5 class="card-title fs-6 fw-bold lh-1">Shared Passion</h5>
                        <p class="card-text text-center fs-2 fw-bold py-4 pt-5">{{allPassionCount}}</p> -->
                        <div class="row justify-content-center m-0 py-2 mt-5">
                            <div class="col-md-7 col-lg-11 col-xl-9 col-sm-9 col-8">
                                <a (click)="seeAllPassion()" class="btn btn-md project-btn fs-6 lh-base">View
                                    Passion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-shared-by-me *ngIf="isPassion" [title]="title" [type]="type"></app-shared-by-me>
    <app-shared-passion-by-me *ngIf="passionByMe" [heading]="heading"></app-shared-passion-by-me>
    <app-shared-alumni *ngIf="isShared" [heading]="heading" [alumniData]="alumniData"></app-shared-alumni>
</div>
