<div class="container">
    <div class="row mb-xl-5 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <div class="d-flex align-items-center justify-content-between my-xl-5 my-lg-5 my-md-4 my-sm-3 my-3">
            <h4 class="main-heading text-uppercase fw-bolder mb-0">Participate in Admission Panel</h4>
            <button class="btn btn-sm project-btn w-auto" (click)="back()">Back</button>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <ng-container *ngIf="!loading">
            <ng-container *ngIf="allAdmission?.length > 0">
                <div class="col-lg-4 my-2" *ngFor="let item of allAdmission">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title fs-4 main-heading text-capitalize">{{ item?.city }}</h5>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p><b>City</b> : &nbsp; {{ item?.city }} </p>
                                </div>
                                <div class="col-lg-12">
                                    <p><b>Location</b> : &nbsp; {{ item?.location }} </p>
                                </div>
                                <div class="col-lg-12">
                                    <p><b>Date & Time</b> : &nbsp; {{ item?.dateTime }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="allAdmission?.length == 0">
                <div class="col-12 py-3 text-center fw-bold">
                    <p class="fs-5">No data found!</p>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>