.card {
    background: #E2E7FF;
    .card-header {
      height: 60px;
    }
    img{
      height: 30vh;
    }
    .itemPic {
      min-height: 210px;
      max-height: 210px;
      img {
        min-height: 210px;
        max-height: 210px;
      }
    }
    .view-btn {
      background: #011898;
      color: #fff;
      line-height: 1.8;
    }
  }
  