<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 my-3">
        <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 ">
            <img  class="card-img-top" alt="featured_user">
            <div class="card-body p-0 pt-3">
              <p class="fw-bold fs-5">Divya</p>
              <p class="card-text"><b>Course</b> : BIMM</p>
              <p class="card-text"><b>Batch</b> : 1999 -2001</p>
              <p class="card-text designation"><b>Passion</b> : Share my story</p>
              <div class="row justify-content-center pt-2">
                  <div class="col-lg-12 col-md-12">
                      <a class="btn btn-md view-btn text-capitalize px-0" routerLink="/celebrate/alumni-details" [queryParams]="{ heading: heading }"> <i class="fa fa-link" aria-hidden="true"></i> Read more</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 my-3">
        <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 ">
            <img  class="card-img-top" alt="featured_user">
            <div class="card-body p-0 pt-3">
              <p class="fw-bold fs-5">Divya</p>
              <p class="card-text"><b>Course</b> : BIMM</p>
              <p class="card-text"><b>Batch</b> : 1999 -2001</p>
              <p class="card-text designation"><b>Passion</b> : Share my story</p>
              <div class="row justify-content-center pt-2">
                  <div class="col-lg-12 col-md-12">
                      <a class="btn btn-md view-btn text-capitalize px-0" > <i class="fa fa-link" aria-hidden="true"></i> Read more</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 my-3">
        <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 ">
            <img  class="card-img-top" alt="featured_user">
            <div class="card-body p-0 pt-3">
              <p class="fw-bold fs-5">Divya</p>
              <p class="card-text"><b>Course</b> : BIMM</p>
              <p class="card-text"><b>Batch</b> : 1999 -2001</p>
              <p class="card-text designation"><b>Passion</b> : Share my story</p>
              <div class="row justify-content-center pt-2">
                  <div class="col-lg-12 col-md-12">
                      <a class="btn btn-md view-btn text-capitalize px-0" >  <i class="fa fa-link" aria-hidden="true"></i> Read more</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 my-3">
        <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 ">
            <img  class="card-img-top" alt="featured_user">
            <div class="card-body p-0 pt-3">
              <p class="fw-bold fs-5">Divya</p>
              <p class="card-text"><b>Course</b> : BIMM</p>
              <p class="card-text"><b>Batch</b> : 1999 -2001</p>
              <p class="card-text designation"><b>Passion</b> : Share my story</p>
              <div class="row justify-content-center pt-2">
                  <div class="col-lg-12 col-md-12">
                      <a class="btn btn-md view-btn text-capitalize px-0" > <i class="fa fa-link" aria-hidden="true"></i> Read more</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 my-3">
        <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 ">
            <img  class="card-img-top" alt="featured_user">
            <div class="card-body p-0 pt-3">
              <p class="fw-bold fs-5">Divya</p>
              <p class="card-text"><b>Course</b> : BIMM</p>
              <p class="card-text"><b>Batch</b> : 1999 -2001</p>
              <p class="card-text designation"><b>Passion</b> : Share my story</p>
              <div class="row justify-content-center pt-2">
                  <div class="col-lg-12 col-md-12">
                      <a class="btn btn-md view-btn text-capitalize px-0" >  <i class="fa fa-link" aria-hidden="true"></i> Read more</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 my-3">
        <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 ">
            <img  class="card-img-top" alt="featured_user">
            <div class="card-body p-0 pt-3">
              <p class="fw-bold fs-5">Divya</p>
              <p class="card-text"><b>Course</b> : BIMM</p>
              <p class="card-text"><b>Batch</b> : 1999 -2001</p>
              <p class="card-text designation"><b>Passion</b> : Share my story</p>
              <div class="row justify-content-center pt-2">
                  <div class="col-lg-12 col-md-12">
                      <a class="btn btn-md view-btn text-capitalize px-0" >  <i class="fa fa-link" aria-hidden="true"></i> Read more</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 my-3">
        <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 ">
            <img  class="card-img-top" alt="featured_user">
            <div class="card-body p-0 pt-3">
              <p class="fw-bold fs-5">Divya</p>
              <p class="card-text "><b>Course</b> : BIMM</p>
              <p class="card-text"><b>Batch</b> : 1999 -2001</p>
              <p class="card-text designation"><b>Passion</b> : Share my story</p>
              <div class="row justify-content-center pt-2">
                  <div class="col-lg-12 col-md-12">
                      <a class="btn btn-md view-btn text-capitalize px-0" > <i class="fa fa-link" aria-hidden="true"></i> Read more</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>