<!-- <div class="row mt-lg-3 mt-md-3 mt-sm-3 mt-2">
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 my-2"
            *ngFor="let item of sharedData | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2">
                <div class="itemPic">
                    <img [src]="imgPath + item?.photo" class="card-img-top" alt="user image">
                </div>
                <div class="card-body p-0 pt-3">
                    <p class="fw-bold fs-5">{{ item?.title != null ? item?.title : 'Divya'}}</p>
                    <p class="card-text "><b>Course</b> : {{ item?.institute }}</p>
                    <p class="card-text"><b>Batch</b> : 1999 -2001</p>
                    <div class="row justify-content-center pt-2">
                        <div class="col-lg-12 col-md-12">
                            <a (click)="viewDetail(item.id)" class="btn btn-md view-btn text-capitalize mt-2">
                                <i class="fa fa-link"></i>&nbsp;Read more</a>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </ng-container>
    <div class="row justify-content-center my-3" *ngIf="sharedData?.length > 0">
        <div class="col text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div> -->

<div class="row mt-xl-4 mt-lg-4 mt-md-4 mt-sm-4 mt-3 mb-0">
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 my-2"
            *ngFor="let item of sharedData | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card p-xl-4 p-lg-4 p-md-3 p-sm-3 p-3">
                <ng-container *ngIf="item?.photo != null">
                    <div class="alumni-pic">
                        <img [src]="imgPath + item?.photo" class="card-img-top" alt="Alumni Picture" />
                    </div>
                </ng-container>
                <ng-container *ngIf="item?.photo == null">
                    <img [src]="imgPath + item?.photo" class="card-img-top img-thumbnail noImg"
                        alt="Alumni Picture" />
                </ng-container>
                <div class="card-header bg-transparent border-0 text-center pt-3">
                    <h3 class="card-title fw-bold text-capitalize mb-0">{{ item?.title != null ? item?.title : 'Divya'}}</h3>
                </div>
                <div class="card-body text-center pb-0 pt-2">
                    <p class="card-text "><b>Course</b> : {{ item?.institute }}</p>
                    <p class="card-text"><b>Batch</b> : 1999 -2001</p>                  
                </div>
                <div class="card-footer bg-transparent border-0 text-center">
                    <a (click)="viewDetail(item.id)" class="btn btn-lg btn-xl btn-md btn-sm view-btn text-capitalize ">
                        <i class="fa fa-link"></i>&nbsp;View more</a>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row justify-content-center mt-xl-4 mt-lg-4 mt-md-4 mt-sm-3 mt-3 mb-2" *ngIf="sharedData?.length > 0">
        <div class="col text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>