<div class="search-filter px-lg-5 py-lg-5 px-md-3 py-md-3 px-sm-3 py-sm-3 py-3 px-3">
  <form class="" [formGroup]="searchForm">
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="name" class="form-control p-2" formControlName="first_name" id="inputName"
            placeholder="First name" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control p-2" formControlName="last_name" id="inputEmail"
            placeholder="Last name" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="email" class="form-control p-2" formControlName="email" id="inputEmail" placeholder="Email" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" placeholder="Select institute name" formControlName="institute_id">
            <option value="">Choose your institute</option>
            <option [value]="institute.id" *ngFor="let institute of getInstitutes">
              {{ institute?.institute_name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select placeholder="Select Year" class="form-select" formControlName="batchYear_id">
            <option value="" selected>Choose your batch</option>
            <option [value]="batch.id" *ngFor="let batch of getBatch">
              {{ batch.batch }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="gender">
            <option value="" selected>Select gender</option>
            <option *ngFor="let item of gender; let i=index;" [value]="item.label">{{ item.label
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="bloodGroup">
            <option value="" selected>Select blood group</option>
            <option *ngFor="let item of group; let i=index;" [value]="item.group">{{ item.group
              }}</option>
          </select>
        </div>
      </div>

      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="country" (change)="changeCountry($event)">
            <option value="" selected>Select Country</option>
            <option value=""> All</option>
            <option *ngFor="let row of countries; let i=index;" [value]="row.name">{{row.name}}</option>
        </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control p-2" formControlName="state" id="inputEmail" placeholder="State" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control p-2" formControlName="city" id="inputMobileNumber"
            placeholder="City" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="professionalCategory">
            <option value="" selected>Select professional category</option>
            <option value=""> All</option>
            <option *ngFor="let item of profCategory; let i=index;" [value]="item.label">{{ item.label
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="professionalCategory">
            <option value="" selected>Primary functinal area</option>
            <option value="All"> All</option>
            <option *ngFor="let item of primaryArea; let i=index;" [value]="item.label">{{ item.label
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="professionalCategory">
            <option value="" selected> Secondary Function Area</option>
            <option value="All"> All</option>
            <option *ngFor="let item of primaryArea; let i=index;" [value]="item.label">{{ item.label
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="professionalCategory">
            <option value="" selected> Primary industry</option>
            <option value="All"> All</option>
            <option *ngFor="let item of industry; let i=index;" [value]="item.label">{{ item.label
              }}</option>
            </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="secondaryIndusrty">
            <option value="" selected>Secondary industry</option>
            <option value="All"> All</option>
            <option *ngFor="let item of industry; let i=index;" [value]="item.label">{{ item.label
              }}</option>
            </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" formControlName="secondaryIndusrty">
            <option value="" selected>Select current region</option>
            <option value="All"> All</option>
            <option *ngFor="let item of region; let i=index;" [value]="item.label">{{ item.label
              }}</option>
            </select>
        </div>
      </div>

      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control p-2" formControlName="country" id="inputEmail"
            placeholder="Other industry focus" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control p-2" formControlName="country" id="inputEmail" placeholder="Company" />
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-lg-3 pt-md-3 pt-sm-3 pt-2">
      <div class="col-md-4 text-center ">
        <a class="btn search-btn btn-lg btn-md btn-sm shadow">Search
        </a>
      </div>
    </div>
  </form>
</div>