.search-filter {
  background: linear-gradient(269.95deg, #F65C8B 0.04%, #FE87B3 99.95%);
    .section-heading {
        height: 45px;
        background-color: #000360;
        padding: 10px;
        color: #fff;
        .text-left-listing {
            float: left;
        }
        .text-right-download {
            float: right;
            cursor: pointer;
        }
    }
    form {
        .form-group{
            label {
                font-weight: 500;
            }
        }
        .form-control{
          padding: 6px 15px;
        }
        .form-select{
          padding: 8px 15px;
        }
    }
    .btn-report{
        background: #000360;
        color: #fff;
    }
    .search-btn{
      background-color: #011898;
      width: 40%;
      line-height: 38px;
    }
}

::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    font-size: 13px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 13px
  }
  :-ms-input-placeholder{ /* IE 10+ */
    font-size: 13px
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 13px
  }
  select {
    font-size: 13px;
    color: #646363;
  }

