.search-filter {
  background: var(--form-bg);
    form {
        .form-group{
            label {
                font-weight: var(--font-B-500);
            }
        }
        .form-control{
          padding: 6px 15px;
        }
        .form-select{
          padding: 10px 15px;
        }
    }
    .search-btn{
      background-color: var(--btn-background);
      border: 1px solid var(--btn-background);
      color: var(--bs-white);
      font-weight: var(--font-B-600);
      width: 40%;
      line-height: 38px;
    }
    .search-btn:hover {
      background: var(--bs-white);
      color: var(--btn-background);
    }
}

::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    font-size: var(--font-S-13);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: var(--font-S-13);
  }
  :-ms-input-placeholder{ /* IE 10+ */
    font-size: var(--font-S-13);
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: var(--font-S-13);
  }
  select {
    font-size: var(--font-S-13);
    color: #646363;
  }

