.search-filter {
  background: var(--search-bg);
    form {
        .form-group{
            label {
                font-weight: var(--font-B-500);
            }
        }
    }
    .search-btn{
      background-color: #0D0D0D;
      border: 1px solid #585050;
      color: var(--bs-white);
      font-weight: var(--font-B-600);
      width: 40%;
      line-height: 38px;
    }
    .search-btn:hover {
      background: var(--bs-white);
      color: #333333;
    }
}

::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    font-size: var(--font-S-13);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: var(--font-S-13);
  }
  :-ms-input-placeholder{ /* IE 10+ */
    font-size: var(--font-S-13);
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: var(--font-S-13);
  }
  select {
    font-size: var(--font-S-13);
    color: #646363;
  }
  ::placeholder {
    font-size: var(--font-S-13)
  }
select {
    font-size: var(--font-S-13);
    color: #777777;
    padding: 8.2px 0.75rem;
}

