<div class="search-filter px-lg-5 py-lg-5 px-md-3 py-md-3 px-sm-3 py-sm-3 py-3 px-3">
  <form class="" [formGroup]="searchForm">
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="name" class="form-control" formControlName="first_name" id="inputName"
            placeholder="First name" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select class="form-select" placeholder="Select institute name" formControlName="institute_id">
            <option value="">Choose your institute</option>
            <option [value]="institute.id" *ngFor="let institute of getInstitutes">
              {{ institute.institute_name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="name" class="form-control" formControlName="bloodGroop" id="inputName"
            placeholder="Blood group" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="number" class="form-control" formControlName="city" id="inputMobileNumber" placeholder="City" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="number" class="form-control" formControlName="secondaryArea" id="inputMobileNumber"
            placeholder="Secondary functional area" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="number" class="form-control" formControlName="secondaryIndusrty" id="inputMobileNumber"
            placeholder="Secondary industry" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
             <div class="form-outline mb-3">
          <input type="number" class="form-control" formControlName="otherRegion" id="inputMobileNumber"
            placeholder="Other region" />
        </div>
      </div>
   
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control" formControlName="last_name" id="inputEmail" placeholder="Last name" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select placeholder="Select Year" class="form-select" formControlName="batchYear_id">
            <option value="" selected>Choose your batch</option>
            <option [value]="batch.id" *ngFor="let batch of getBatch">
              {{ batch.batch }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control" formControlName="country" id="inputEmail" placeholder="Country" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select placeholder="Select Year" class="form-select" formControlName="batchYear_id">
            <option value="" selected>Profession Category</option>
            <option [value]="batch.id" *ngFor="let batch of getBatch">
              {{ batch.batch }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control" formControlName="country" id="inputEmail"
            placeholder="Other funcational area" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control" formControlName="country" id="inputEmail"
            placeholder="Other industry focus" />
        </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control" formControlName="country" id="inputEmail" placeholder="Company" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control" formControlName="last_name" id="inputEmail" placeholder="Email" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select placeholder="Select Year" class="form-select" formControlName="batchYear_id">
            <option value="" selected>Gender</option>
            <option [value]="batch.id" *ngFor="let batch of getBatch">
              {{ batch.batch }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <input type="text" class="form-control" formControlName="country" id="inputEmail" placeholder="State" />
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select placeholder="Select Year" class="form-select" formControlName="batchYear_id">
            <option value="" selected>Primary functinal area</option>
            <option [value]="batch.id" *ngFor="let batch of getBatch">
              {{ batch.batch }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select placeholder="Select Year" class="form-select" formControlName="batchYear_id">
            <option value="" selected>Primary industry</option>
            <option [value]="batch.id" *ngFor="let batch of getBatch">
              {{ batch.batch }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <div class="form-outline mb-3">
          <select placeholder="Select Year" class="form-select" formControlName="batchYear_id">
            <option value="" selected>Select current region</option>
            <option [value]="batch.id" *ngFor="let batch of getBatch">
              {{ batch.batch }}
            </option>
          </select>
        </div>
    
    </div>
</div>
<div class="row justify-content-center py-3">
  <div class="col-md-4 text-center ">
    <a class="btn search-btn border-0 shadow text-white">Search

    </a>
  </div>
</div>
</form>
</div>