<app-users-banner [heading]="heading"></app-users-banner>
<div class="container">
  <div class="row justify-content-center py-xl-5 py-lg-5 py-md-4 py-sm-4 py-4">
    <div class="col-xl-9 col-lg-10 col-md-12">
      <app-loader *ngIf="loading"></app-loader>
      <div class="row justify-content-center" *ngIf="!loading">
        <div class="col-lg-6 col-md-6 col-sm-6 my-lg-4 my-md-4 my-sm-3 my-2" *ngFor="let key of keyData">
          <div class="card py-5 border-0">
            <h6 class="text-center card-heading fs-5 fw-bold">{{ key?.title }}:</h6>
            <p class="detail text-capitalize text-center text-white" *ngIf="key?.designation !== null">
              {{ key?.designation }}
            </p>
            <p class="detail text-center text-white" *ngIf="key?.phone !== null">
              Tel: {{ key?.phone }}
            </p>
            <p class="detail text-center text-white" *ngIf="key?.email !== null">
              <a class="text-white" href="mailto:{{ key.email }}">Email: {{ key?.email }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>