.card {
  background: var(--card-bg);
  .card-body {
    max-height: 192px;
    min-height: 192px;
    overflow: var(--overflow-H);
  }
  .view-btn {
    background: var(--btn-background);
    color: var(--bs-white);
    border: 1px solid var(--btn-background);
    line-height: var(--line-height-1-8);
  }
  .view-btn:hover {
    background: var(--bs-white);
    color: var(--btn-background);
  }
}
.start-club {
  color: var(--btn-background);
  cursor: var(--cursor-pointer);
}

@media (min-width: 575px) and (max-width: 768px) {
  .card {
    .card-body {
      max-height: 182px;
      min-height: 182px;
    }
  }
}
