.card {
  background: var(--card-bg);
  .card-body {
    max-height: 192px;
    min-height: 192px;
    overflow: var(--overflow-H);
  }
}
.view-btn {
  background: var(--btn-background);
  color: var(--bs-white);
  border: 1px solid var(--btn-background);
  line-height: var(--line-height-1-8);
}
.view-btn:hover {
  background: var(--bs-white);
  color: var(--btn-background);
}
.start-club {
  color: var(--btn-background);
  cursor: var(--cursor-pointer);
  font-family: var(--family);
}
.enterBtn{
  width: 132px;
  line-height: 2;
}
.bannerImg {
  background: url("./../../../../../../assets/community/SBUP_Alumni_community.jpg");
  background-repeat: var(--background-no-repeat);
  height: 250px;
  background-size: 100% 100%;
  position: var(--position-relative);
  .layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: var(--position-absolute);
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height-100);
    display: var(--display-Flex);
    align-items: var(--align-center);
  }
  h3 {
    letter-spacing: var(--letter-space-1);
    font-family: var(--family);
    font-size: var(--font-S-32);
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .bannerImg {
    background-size: cover;
    background-position-x: center;
    height: 150px;
    h3 {
      font-size: var(--font-S-18);
    }
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .bannerImg {
    height: 180px;
    h3 {
      font-size: var(--font-S-22);
    }
  }
  .card {
    .card-body {
      max-height: 182px;
      min-height: 182px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bannerImg {
    height: 200px;
    h3 {
      font-size: var(--font-S-26);
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bannerImg {
    h3 {
      font-size: var(--font-S-30);
    }
  }
}