<div class="row">

    <div class="col-lg-12 text-center">
        <h3 class="heading text-uppercase fw-bolder">BUSINESS VENTURE / START UP DETAIL INFO</h3>
    </div>
</div>
<app-search-filter></app-search-filter>

<div class="row mt-1">
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
        <div class="col-lg-4 my-2 px-2" *ngFor="let item of entrepreneur | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card py-3">
                <div class="card-body text-center">
                    <p *ngIf="item?.company" class="mb-2"><strong>Company Name:</strong> &nbsp; {{ item?.company}}</p>
                    <p *ngIf="item?.owner" class="mb-2"><strong>Alumni Founder: </strong> &nbsp;{{ item?.owner}}</p>
                    <p *ngIf="item?.industry" class="mb-2"><strong>Primary Industry:</strong> &nbsp;{{ item?.industry}}</p>
                    <p *ngIf="item?.contact" class="mb-2"><strong>Contact Number:</strong> &nbsp;{{ item?.contact}}</p>
                    <p *ngIf="item?.email" class="mb-2"><strong>Email id:</strong> &nbsp;{{ item?.email}}</p>
                </div>
                <div class="card-footer bg-transparent  text-center border-0">
                    <a (click)="onReadData(item)" class="btn btn-md view-btn text-capitalize">
                        <i class="fa fa-link"></i>&nbsp;Read More</a>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row justify-content-center my-3" *ngIf="entrepreneur?.length > 0">
        <div class="col text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div class="justify-content-center py-3">
        <div class="col text-center">
            <h6 class="start-club fs-5 fw-bolder" routerLink="/community/venture-info"> Business Venture / Start Up Detail
                Info </h6>
        </div>
    </div>
</div>