.heading {
  font-size: 30px;
  line-height: 43.88px;
  color: #011898;
}
.card {
    background: #E2E7FF;
  .card-body {
    max-height: 210px;
    min-height: 210px;
    overflow: hidden;
  }
  .view-btn {
    background: #011898;
    color: #fff;
    line-height: 1.8;
  }
}
.start-club {
  color: #011898;
  cursor: pointer;
}
