<div class="container">
  <div class="row m-0">
    <div class="d-flex align-items-center justify-content-between my-xl-5 my-lg-5 my-md-4 my-sm-3 my-3 ">
      <h4 class="main-heading text-uppercase fw-bolder mb-0">Add Opportunity</h4>
      <!-- <button class="btn btn-sm project-btn w-auto" (click)="back()">Back</button> -->
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">
      <div class="opportunity p-xl-4 p-lg-4 p-md-4 p-sm-3 p-3 mb-xl-5 mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <form class="example-form" [formGroup]="addExpertiseForm">
          <div class="mb-3 row">
            <div class="col-sm-12 col-md-6">
              <label class="col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">Job Id :</label>
              <input type="text" formControlName="author" [(ngModel)]="author" readonly class="form-control">
            </div>
            <div class="col-sm-12 col-md-6">
              <label class="col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0" for="inputAddress2">Select list
                :</label>
              <select class="form-control form-select" formControlName="type" (change)="changeType($event)">
                <option value="" selected>Select one</option>
                <option value="internship">Share Internship opportunities</option>
                <option value="campusPlacement">Share Campus Placement Opportunities</option>
                <option value="corporate">Share Corporate Interface Program</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row" *ngIf="internshipFields">
            <div class="col-sm-12 col-md-12">
              <label class="col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">No. of positions for Internship
                :</label>
              <input type="number" formControlName="positionsForInternship" class="form-control"
                placeholder="Enter number of positions here">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="placementFields">
            <div class="col-sm-12 col-md-12">
              <label class="col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">No. of positions looking to Hire
                :</label>
              <input type="number" formControlName="positionsLookingToHire" class="form-control"
                placeholder="Enter number of positions looking to hire">
            </div>
          </div>

          <div class="mb-3 row" *ngIf="internshipFields">
            <div class="col-sm-12 col-md-12">
              <label class="col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0"> Specialization :</label>
              <input type="text" formControlName="specialization" class="form-control"
                placeholder="Enter specialization here">
            </div>
          </div>
          <div class="row mb-3" *ngIf="internshipFields">
            <div class="form-group">
              <label class="me-3 form-label fw-bold" for="inputRadio">Stipend Paid : </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" formControlName="stipend" type="radio" name="stipend" id="monetary"
                  value="true">
                <label class="form-check-label" for="monetary">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" formControlName="stipend" type="radio" name="stipend" id="monetary1"
                  value="false">
                <label class="form-check-label" for="monetary1">No</label>
              </div>
            </div>
          </div>
          <div class="row mb-3" *ngIf="placementFields">
            <div class="form-group">
              <label class="me-3 form-label fw-bold" for="inputRadio">Hiring Experienced Professionals Only : </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="hiringExperienceProf"
                  name="hiringExperienceProf" id="profession" value="true">
                <label class="form-check-label" for="profession">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="hiringExperienceProf"
                  name="hiringExperienceProf" id="profession1" value="false">
                <label class="form-check-label" for="profession1">No</label>
              </div>
            </div>
          </div>

          <div class="mb-3 row" *ngIf="placementFields">
            <div class="col-sm-10 col-md-12">
              <label class="col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">Package Offer :</label>
              <input type="text" formControlName="packageOffer" class="form-control"
                placeholder="Enter package offer here">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="placementFields">
            <div class="col-sm-10 col-md-12">
              <label class="col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">Description :</label>
              <ckeditor formControlName="description" placeholder="Enter Description"></ckeditor>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-md project-btn me-2" (click)="addExpertise()"
                  [disabled]="!addExpertiseForm.valid">
                  Submit
                </button>
                <button class="btn btn-md project-btn" (click)="navigateBack()">Back</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>