.posted-job {
  .card {
    background: var(--card-bg);
  }
  .closeJob {
    background: var(--bs-danger);
  }
  .openJob {
    background-color: green;
    text-shadow: 1px 1px green;
  }
  .description{
    min-height: 76px;
    max-height: 240px;
    overflow-y: auto;
  }
}
.project-btn {
  background: var(--btn-background);
  color: var(--bs-white);
  border-radius: var(--border-radius-2);
  width: var(--width);
}
.project-btn:hover {
  background: var(--bs-white);
  color: var(--btn-white);
}
