
<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between my-4">
      <h4 class="main-heading text-uppercase fw-bolder mb-0">Posted jobs by me</h4>
      <button class="btn btn-md btn-primary rounded" (click)="navigateBack()">Back</button>
  </div>
    <div class="col-lg-12 my-2" *ngFor="let item of postedJobsByMe">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title fs-2 main-heading text-capitalize">{{ item?.title }}</h5>
              <div class="row">
                  <div class="col-lg-6">
                    <p><b>Job ID</b>: &nbsp; {{ item?.id }} </p>
                  </div>
                  <!-- <div class="col-lg-6">
                    <p><b>Job Posted Date</b>: &nbsp; {{ item?.created_at | date:'medium'}} </p>
                  </div> -->
                  <div class="col-lg-6">
                    <p><b>Job Posted By</b>: &nbsp; <a routerLink="">{{ item?.author }} </a></p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Contact mobile number</b>: &nbsp; {{ item?.contactNumber }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Contact person name</b>: &nbsp; {{ item?.contactPerson }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Contact person email id</b>: &nbsp; {{ item?.email }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Location</b>: &nbsp; {{ item?.location }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>City</b>: &nbsp; {{ item?.city }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Company Name</b>: &nbsp; {{ item?.companyName }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Salary</b>: &nbsp; {{ item?.salary }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Fresher</b>: &nbsp; {{ item?.fresherApply == true ? 'Yes' : 'False' }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Work experience</b>: &nbsp; {{ item?.workExperience }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Skills possessed</b>: &nbsp; {{ item?.skillsRequired }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Basic education qualification</b>: &nbsp; {{ item?.qualification }} </p>
                  </div>
                  <div class="col-lg-6">
                    <p><b>Company website</b>: &nbsp; <a href="{{item?.website }}">{{ item?.website }} </a></p>
                  </div>
                  <div class="col-lg-12">
                    <p><b>Brief description of job profile</b>: &nbsp;</p>
                    <p>{{ item?.description | stripHtml }} </p>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                        <p><a class="btn btn-lg btn-primary" [ngClass]="(item.is_active == 'open') ? 'openJob' : 'closeJob'" (click)="changeStatus(item)">{{ item?.is_active == 'open' ? 'Job Open' : 'Job Closed' }}</a></p>
                      </div>
                  </div>
                 
              </div>
            </div>
        </div>
    </div>
</div>
