.posted-job {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    border-radius: 0.25rem;
    background: var(--form-bg);
  }
  .openJob,
  .closeJob {
    border: 1px solid var(--btn-background);
  }
  .openJob {
    background-color: green;
    text-shadow: 1px 1px green;
  }
}
.project-btn {
  background: var(--btn-background);
  border: 1px solid var(--btn-background);
  color: var(--bs-white);
  border-radius: var(--border-radius-2);
  width: var(--width);
}
.project-btn:hover {
  background: var(--bs-white);
  color: var(--bs-background);
}
