<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800 text-center">Event</h1>
  </div>

  <form class="example-form" [formGroup]="addEventForm" >
    <div class="mb-3 row">
      <div class="col-sm-6 col-md-6">
        <label for="staticEmail" class="col-form-label fw-bold">Event
          Name</label>
        <input type="text" formControlName="title" class="form-control" placeholder="Enter name here">
        <div class="text-danger my-2" *ngIf="(f.title.touched || submitted) && f.title.errors?.required">
          Event name is required.
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <label for="staticEmail" class="col-form-label fw-bold">Event
          Venue</label>
        <input type="text" class="form-control" formControlName="venue" id="formGroupExampleInput"
          placeholder="Enter event venue" />
        <div class="text-danger my-2" *ngIf="(f.venue.touched || submitted) && f.venue.errors?.required">
          Venue is required.
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Event
          Category</label>
          <select class="form-select" aria-label="Default select example" formControlName="category">
            <option value="null">Select Category</option>
            <option [value]="eventCategory">{{ eventCategory == "alumniReunion" ? 'Annual Alumni Re-Union' : 'Alumni Driven Event'  }}</option>
          </select>
      </div>
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Event
          Type</label>
          <select class="form-select" aria-label="Default select example" formControlName="type">
            <option value="">Select Type</option>
            <option value="Local Meet & Greet">Local Meet & Greet</option>
            <option value="Annual Reunion">Annual Reunion</option>
          </select>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Event
          Hosted By </label>
          <input type="text" class="form-control" formControlName="eventHost" id="formGroupExampleInput"
            placeholder="Enter event hosted by" />
        </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-12 col-md-12">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Description</label>
          <ckeditor formControlName="description"></ckeditor>
          <div class="text-danger my-2" *ngIf="(f.description.touched || submitted) && f.description.errors?.required">
            Description is required.
          </div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Event
          Date</label>
          <input type="date" class="form-control" formControlName="date" id="formGroupExampleInput"
          placeholder="Enter date" />
          <div class="text-danger my-2" *ngIf="(f.date.touched || submitted) && f.date.errors?.required">
            Date is required.
          </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Event
          Time</label>
          <input type="time" class="form-control" formControlName="time" id="formGroupExampleInput"
            placeholder="Enter time"/>
        </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Cost per person</label>
          <input type="text" class="form-control" formControlName="cost" id="formGroupExampleInput"
            placeholder="Enter cost per person" />
          <div class="text-danger my-2" *ngIf="(f.cost.touched || submitted) && f.cost.errors?.required">
            Cost is required.
          </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">FB event page link</label>
          <input type="text" class="form-control" formControlName="eventPageLink" id="formGroupExampleInput"
            placeholder="Enter FB page link" />
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput"
          class="col-form-label fw-bold ">Status</label>
          <select class="form-select" aria-label="Default select example" formControlName="is_active">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
      </div>
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Contact
          person number</label>
          <input type="number" class="form-control" formControlName="contactNumber" id="formGroupExampleInput"
            placeholder="Enter contact person number"/>
        </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-6 col-md-6">
        <label for="formGroupExampleInput" class="col-form-label fw-bold">Event
          Image</label>
          <input type="file" class="form-control" formControlName="eventImage" id="formGroupLink"
            (change)="onUploadImage($event)" accept="image/*" />
          <div class="text-danger my-2" *ngIf="(f.eventImage.touched || submitted) && f.eventImage.errors?.required">
            Event image is required.
          </div>
        <ng-container *ngIf="image !== undefined">
            <img [src]="image" class="img-fluid h-md-75 my-3" alt="picture">
        </ng-container>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-md btn-info mr-2 rounded text-white" (click)="submit()" [disabled]="!addEventForm.valid">Submit</button>
          </div>
      </div>
    </div>
  </form>