<div class="container">
    <div class="row my-5">
        <div class="col-lg-9">
            <mat-accordion>
                <!-- General Information -->
                <mat-expansion-panel expanded=true>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            GENERAL INFORMATION
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-lg-6 mb-2 fw-bold">Email: <span class="ms-2 fw-normal">a@gmail.com</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Mobile: <span class="ms-2 fw-normal">9846123456</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current Company: <span class="ms-2 fw-normal">Yahoo</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current Designation:</div>
                        <div class="col-lg-6 mb-2 fw-bold">Current country:</div>
                        <div class="col-lg-6 mb-2 fw-bold">Current region:</div>
                        <div class="col-lg-6 mb-2 fw-bold">Current state:</div>
                        <div class="col-lg-6 mb-2 fw-bold">Current city:</div>
                        <div class="col-lg-6 mb-2 fw-bold">Email:</div>
                        <div class="col-lg-6 mb-2 fw-bold">Mobile</div>

                    </div>
                </mat-expansion-panel>
                <!-- Work/Business Information -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            WORK/BUSINESS INFORMATION
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-lg-6">fdfdf</div>
                        <div class="col-lg-6">fdfdf</div>
                    </div>
                </mat-expansion-panel>
                <!-- Mentorship Skill -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            MENTORSHIP / SKILL
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-lg-6">fdfdf</div>
                        <div class="col-lg-6">fdfdf</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="./../../../../assets/dummy.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text fw-bold">Name:<span class="ms-2 fw-normal">Sushil</span> </p>
                    <p class="card-text fw-bold">Birth date: <span class="ms-2 fw-normal">21-12-2004</span></p>
                </div>
            </div>
        </div>
    </div>
</div>