<div class="container">
    <div class="row my-5">
        <div class="col-lg-9">
            <mat-accordion>
                <!-- General Information -->
                <mat-expansion-panel expanded=true>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            GENERAL INFORMATION
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-lg-6 mb-2 fw-bold">Email: <span class="ms-2 fw-normal">{{ user?.email }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Mobile: <span class="ms-2 fw-normal">{{ user?.mobile_number }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current Company: <span class="ms-2 fw-normal">{{ user?.current_company }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current Designation: <span class="ms-2 fw-normal">{{ user?.current_designation }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current country: <span class="ms-2 fw-normal">{{ user?.current_country }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current region: <span class="ms-2 fw-normal">{{ user?.current_Region }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current state: <span class="ms-2 fw-normal">{{ user?.current_state }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Current city: <span class="ms-2 fw-normal">{{ user?.current_city }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Email: <span class="ms-2 fw-normal">{{ user?.current_company }}</span></div>
                        <div class="col-lg-6 mb-2 fw-bold">Mobile: <span class="ms-2 fw-normal">{{ user?.current_company }}</span></div>

                    </div>
                </mat-expansion-panel>
                <!-- Work/Business Information -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            WORK/BUSINESS INFORMATION
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-lg-6">fdfdf</div>
                        <div class="col-lg-6">fdfdf</div>
                    </div>
                </mat-expansion-panel>
                <!-- Mentorship Skill -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            MENTORSHIP / SKILL
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-lg-6">fdfdf</div>
                        <div class="col-lg-6">fdfdf</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="./../../../../assets/dummy.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text fw-bold">Name:<span class="ms-2 fw-normal">{{ user?.first_name }}</span> </p>
                    <p class="card-text fw-bold">Birth date: <span class="ms-2 fw-normal">{{ user?.birth_date }}</span></p>
                    <p class="card-text fw-bold">Anniversary: <span class="ms-2 fw-normal">{{ user?.anniversary_date }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>