<div class="container">
  <div class="row m-0">
    <div class="d-flex align-items-center justify-content-between my-xl-5 my-lg-5 my-md-5 my-sm-4 my-4">
      <h4 class="main-heading text-uppercase fw-bold mb-0">Create Club</h4>
      <button class="btn btn-sm btn-info rounded" (click)="back()">Back</button>
    </div>
    <form class="example-form" [formGroup]="addClubForm">
      <div class="mb-3 row ">
        <label for="staticEmail" class="col-md-2 col-sm-3 col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">Name
          &nbsp;<span class="text-danger">*</span></label>
        <div class="col-md-10 col-sm-9">
          <input type="text" formControlName="name" class="form-control" placeholder="Enter Title here" />
          <div class="invalidText fw-bold mt-2 m-0 alert alert-danger p-2"
            *ngIf="(f.name.touched || submitted) && f.name.errors?.required">
            Name is required.
          </div>
        </div>
      </div>
      <div class="mb-3 row ">
        <label for="staticEmail"
          class="col-md-2 col-sm-3 col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">Description
          &nbsp;<span class="text-danger">*</span></label>
        <div class="col-md-10 col-sm-9">
          <ckeditor formControlName="description" placeholder="Enter Description"></ckeditor>
          <div class="invalidText fw-bold mt-2 m-0 alert alert-danger p-2"
            *ngIf="(f.description.touched || submitted) && f.description.errors?.required">
            Description is required.
          </div>
        </div>
      </div>
      <div class="mb-3 row  align-items-center">
        <label for="formGroupExampleInput"
          class="col-md-2 col-sm-3 col-form-label fw-bold pr-lg-0 pr-md-0 pr-xl-0 pr-sm-0">Club
          Image &nbsp;<span class="text-danger">*</span></label>
        <div class="col-lg-4 col-md-6col-sm-8">
          <input type="file" class="form-control" formControlName="clubImage" id="formGroupLink"
            (change)="onUploadImage($event)" accept="image/*" />
          <div class="invalidText fw-bold mt-2 m-0 alert alert-danger p-2"
            *ngIf="(f.clubImage.touched || submitted) && f.clubImage.errors?.required">
            Image is required.
          </div>
        </div>
        <ng-container *ngIf="image !== undefined">
          <div class="col-lg-6">
            <img [src]="image" class="img-fluid h-md-75" alt="picture">
          </div>
        </ng-container>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col-lg-4 text-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-md btn-info mr-2 rounded" (click)="addClub()" [disabled]="!addClubForm.valid">
              Create
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>