<div class="row">
    <div class="col-lg-12">
        <app-loader *ngIf="loading"></app-loader>
        <form [formGroup]="basicInfoForm" *ngIf="!loading">
            <div class="row">
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">First name <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="first_name" placeholder="Enter first name" readonly>
                </div>
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Middle name</label>
                    <input type="text" class="form-control" formControlName="middle_name" placeholder="Enter middle name" readonly>
                </div>
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Last name <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="last_name" placeholder="Enter last name" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Institute <span class="label-danger">*</span></label>
                    <select class="form-select" formControlName="institute_id">
                        <option value="" selected disabled>Choose your institute</option>
                        <option disabled [value]="institute.id" *ngFor="let institute of getInstitutes; let i=index;">
                            {{institute.institute_name}}</option>
                    </select>
                </div>
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Batch year <span class="label-danger">*</span></label>
                    <select class="form-select" formControlName="batchYear_id">
                        <option value="" selected disabled>Choose your batch</option>
                        <option disabled [value]="batch.id" *ngFor="let batch of getBatch; let i=index;">{{batch.batch}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Institute wise roll # </label>
                    <input type="text" class="form-control" formControlName="Institute_wise_roll" placeholder="Enter roll number" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Gender <span class="label-danger">*</span></label>
                    <select class="form-select" formControlName="gender">
                        <option value="" selected disabled>Select gender</option>
                        <option disabled *ngFor="let gen of gender; let i=index;" [value]="gen.label">{{ gen?.label }}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Marital status </label>
                    <select class="form-select" formControlName="marital_status" readonly>
                        <option value="" selected disabled>Select marital status</option>
                        <option disabled *ngFor="let marital of maritalStatus; let i=index;" [value]="marital.status">{{
                            marital?.status }}</option>
                    </select>
                </div>
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Blood group </label>
                    <select class="form-select" formControlName="blood_group" readonly>
                        <option disabled value="" selected>Select blood group</option>
                        <option disabled *ngFor="let group of bloodGroup; let i=index;" [value]="group.group">{{
                            group?.group
                            }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 my-xl-3 my-lg-3 my-2">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-3 col-3 pb-2 pe-2">
                            <label class=" form-label fw-bold">Code <span class="label-danger">*</span></label>
                            <input type="text" formControlName="code" class="form-control px-1" placeholder="Code" readonly>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-9 col-9">
                            <label class=" form-label fw-bold">Mobile Number <span class="label-danger">*</span></label>
                            <input type="text" formControlName="mobile_number" appNumbersOnly class="form-control" placeholder="Enter Number" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-xl-3 my-lg-3 my-2">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-3 col-3 pb-2 pe-2">
                            <label class=" form-label fw-bold">Code </label>
                            <input type="text" formControlName="phone_code" class="form-control px-1" placeholder="Code" readonly>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-9 col-9">
                            <label class=" form-label fw-bold">Phone landline</label>
                            <input type="text" class="form-control" appNumbersOnly formControlName="phone_number" placeholder="Enter landline number" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold col-12"> Display mobile number to all</label>
                    <div class="col-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="0" name="inlineRadioOptions" id="inlineRadio1" value="option1" readonly>
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" name="inlineRadioOptions" id="inlineRadio2" value="option2" readonly>
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Personal email Id <span class="label-danger">*</span></label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter personal email" readonly>
                </div>
                <div class="col-md-6 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Office email Id </label>
                    <input type="email" class="form-control" formControlName="office_email" placeholder="Enter offical mail" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Birthdate <span class="label-danger">*</span></label>
                    <input type="date" placeholder="DD/MM/YYYY" formControlName="birth_date" class="form-control" readonly>
                    <!-- <input type="text" placeholder="DD/MM/YYYY" formControlName="birth_date" class="form-control"
                            bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"> -->
                </div>
                <div class="col-md-6 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Anniversary date </label>
                    <input type="date" placeholder="DD/MM/YYYY" formControlName="anniversary_date" class="form-control" readonly>
                    <!-- <input type="text" placeholder="DD/MM/YYYY" formControlName="anniversary_date"
                            class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"> -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 my-xl-3 my-lg-3 my-2">
                    <label for="exampleFormControlTextarea1" class=" form-label fw-bold">Current address <span
                            class="label-danger">*</span></label>
                    <textarea class="form-control" formControlName="current_address" id="exampleFormControlTextarea1" rows="2" readonly></textarea>
                </div>
                <div class="col-md-3 col-lg-6 my-xl-3 my-lg-3 my-2">
                    <label class="form-label fw-bold">Current country </label>
                    <select class="form-select" formControlName="country" (change)="changeCountry($event)" readonly>
                        <option value="" selected disabled>Select Country</option>
                        <option disabled *ngFor="let row of countries; let i=index;" [value]="row.name">{{row?.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-3 col-lg-6 my-xl-3 my-lg-3 my-2">
                    <label class="form-label fw-bold">Other current country </label>
                    <input type="text" class="form-control" formControlName="other_current_country" placeholder="Other country" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Current region </label>
                    <select class="form-select" formControlName="current_region">
                        <option value="" selected disabled>Select region</option>
                        <option disabled *ngFor="let item of region; let i=index;" [value]="item.label">{{ item.label }}
                        </option>
                    </select>
                </div>
                <div class="col-md-3 my-xl-3 my-lg-3 my-2">
                    <label class="form-label fw-bold">Other current region </label>
                    <input type="text" class="form-control" formControlName="other_current_region" placeholder="Other region" readonly>
                </div>
                <div class="col-lg-3 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Current state <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="current_state" placeholder="Enter current state" readonly>
                </div>
                <div class="col-lg-3 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Current city <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="current_city" placeholder="Enter current city" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 my-xl-3 my-lg-3 my-2">
                    <label for="exampleFormControlTextarea1" class=" form-label fw-bold">Permanent address <span
                            class="label-danger">*</span></label>
                    <textarea class="form-control" formControlName="permanent_address" id="exampleFormControlTextarea1" rows="2" readonly></textarea>
                </div>
                <div class="col-lg-5 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Permanent country </label>
                    <select class="form-select" formControlName="permanent_country" (change)="changeCountry($event)">
                        <option value="" selected disabled>Select Country</option>
                        <option disabled *ngFor="let row of countries; let i=index;" [value]="row.name">{{row.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 my-xl-3 my-lg-3 my-2">
                    <label class="form-label fw-bold">Other Permanent country </label>
                    <input type="text" class="form-control" formControlName="other_permanent_country" placeholder="Other country" readonly>
                </div>
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Permanent state <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="permanent_state" placeholder="Enter permanent state" readonly>
                </div>
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Permanent city <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="permanent_city" placeholder="Enter permanent city" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">LinkedIn profile id </label>
                    <input type="text" class="form-control" formControlName="linkedin_id" placeholder="Enter linkdin id" readonly>
                </div>
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Twitter id</label>
                    <input type="text" class="form-control" formControlName="twitter_id" placeholder="Enter Twitter id" readonly>
                </div>
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Skype id </label>
                    <input type="text" class="form-control" formControlName="skype_id" placeholder="Enter Skype id" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Facebook id </label>
                    <input type="text" class="form-control" formControlName="facebook_id" placeholder="Enter facebook id" readonly>
                </div>
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Instagram id</label>
                    <input type="text" class="form-control" formControlName="instagram_id" placeholder="Enter instagram id" readonly>
                </div>
                <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                    <label class=" form-label fw-bold">Council Member Designation</label>
                    <input type="text" class="form-control" formControlName="council_member_designation" placeholder="Enter council member Designation" readonly>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="isCurrentUser">
                <div class="col-lg-3 my-xl-3 my-lg-3 my-2 text-center">
                    <button type="button" routerLink="/edit-profile" class="btn btn-success">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>