.post-job{
    background: var(--card-bg);
}
.btn-info{
    background: var(--btn-background);
    border: 1px solid var(--btn-background);
    color: var(--bs-white);
    border-radius: var(--border-radius-2);
}
.btn-info:hover{
    background: var(--bs-white);
    color: var(--bs-background);
}