.main-heading {
    font-size: 30px;
    line-height:43.88px;
    color: #011898;
    font-family: Montserrat;
}
.post-job{
    background: linear-gradient(269.95deg, #F65C8B 0.04%, #FE87B3 99.95%);
    .btn-back{
        background-color:#011898;
    }
}