/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.cust-spac {
    padding: 12px;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: "";
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.teamData {
    border-color: #3a96da;
    letter-spacing: 1px;
    height: 100%;
    justify-content: center;
    .teamImg {
        max-height: 130px;
        min-height: 130px;
    }
    .imgLogo {
        width: 70px;
    }
    .institute-name {
        font-size: 18px;
        font-weight: 600;
        color: blue;
        text-shadow: 1px 1px red;
    }
}
