<div class="bannerImg">
    <div class="layer">
        <div class="container">
            <div class="row m-0 justify-content-center">
                <div class="col-lg-12 text-center">
                    <h3 class="text-white fw-bold mb-0 lh-sm text-uppercase">CLASS WISE PICTURE</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-xl-5 my-lg-5 my-md-5 my-sm-4 my-4">
    </div>
    <div class="mb-4">
        <mat-tab-group>
            <mat-tab label="Class Wise Picture">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157672102456084" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/bitm-class.jpg" class="img-fluid w-100 mb-3" alt="bitm img"> BITM CLASS PHOTOS</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157674489140830" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/bimhrd.jpg" class="img-fluid w-100 mb-3" alt="bimhrd img">BIMHRD CLASS PHOTOS
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157672102456064" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/biib.jpg" class="img-fluid w-100 mb-3" alt="biib img">BIIB CLASS PHOTOS
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Alumni Club Inauguration">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675579121336" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/delhi-inauguration.jpg" class="img-fluid w-100 mb-3" alt="inauguration img"> DELHI ALUMNI CLUB INAUGURATION</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675676177165" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/mumbai-inauguration.jpg" class="img-fluid w-100 mb-3" alt="inauguration img">MUMBAI ALUMNI CLUB INAUGURATION</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675676125385" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/hyderabad-inauguration.jpg" class="img-fluid w-100 mb-3" alt="inauguration img">HYDERABAD ALUMNI CLUB INAGURATION</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675676053225" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/dubai-inauguration.jpg" class="img-fluid w-100 mb-3" alt="inauguration img">DUBAI ALUMNI CLUB INAUGURATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Annual Alumni Events">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675674835805" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/mumbai-meet.jpg" class="img-fluid w-100 mb-3" alt="mumbaimeet img"> MUMBAI ALUMNI ANNUAL MEET</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157674493962020" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/dubai-meet.jpg" class="img-fluid w-100 mb-3" alt="dubai img">DUBAI ALUMNI ANNUAL MEET</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157674265677182" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/hyderabad-meet.jpg" class="img-fluid w-100 mb-3" alt="annual meet img">HYDERABAD ALUMNI ANNUAL MEET</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157672107325404" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/delhi-meet.jpg" class="img-fluid w-100 mb-3" alt="annual img">DELHI ALUMNI ANNUAL MEET</a>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Alumni Driven Event">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157677489064562" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/get-together.jpg" class="img-fluid w-100 mb-3" alt="together img"> ALUMNI GET TOGETHER</a>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Alumni Engaging at SBUP - Alma Mater">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/sets/72157674266168962/" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/alma-mater.jpg" class="img-fluid w-100 mb-3" alt="alma img"> ALUMNI ENGAGING AT SBUP - ALMA MATER</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157679094380465" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/cermony.jpg" class="img-fluid w-100 mb-3" alt="biib img">BIIB PRE- CONVOCATION CEREMONY 2014-16</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675507637993" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/cermony2.jpg" class="img-fluid w-100 mb-3" alt="biib img">BIIB CONVOCATION CEREMONY 2014-16</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675512857363" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/cermony3.jpg" class="img-fluid w-100 mb-3" alt="bimm img">BIMM PRE-CONVOCATION CEREMONY 2014-16</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157677704173650" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/cermony4.jpg" class="img-fluid w-100 mb-3" alt="ceremony img">BIMM CONVOCATION CEREMONY 2014-16</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157679153507796" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/cermony5.jpg" class="img-fluid w-100 mb-3" alt="bitm img">BITM CONVOCATION CEREMONY 2014-16</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157679300341865" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/bimhrd-convo.jpg" alt="bimhrd img" class="img-fluid w-100 mb-3">BIMHRD PRE CONVO 2014-16</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675560529594/with/32234525262/" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/bitm-convo.jpg" alt="bitm img" class="img-fluid w-100 mb-3">BITM PRE CONVO 2014-16</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675416311304" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                                    <img src="./assets/gallery/bim-convo.jpg" alt="bim-convo img" class="img-fluid w-100 mb-3">BIMHRD CONVO 2014-16</a>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Alumni YouTube Channel">
                <div class="row justify-content-center m-0">
                    <div class="col-lg-12 my-2">
                        <h4 class="main-heading text-uppercase fw-bold my-4">Youtube Channel&nbsp;<a href="https://www.youtube.com/channel/UCZBGfAzZas-EDgtsz65dQBQ">Click here to subscribe
                                now</a></h4>
                    </div>
                    <br>
                    <iframe class="founderVideo" src="https://youtube.com/embed/UdOpbU2hpos"></iframe>
                    <br>
                    <h5 class="fs-5 vidSubHeading pt-4">The Honorable & Beloved Founder BALA Sir's Invitation to the Alumni to register on the Alumni Portal
                    </h5>

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>