.card {
    border: none;
    .card-body {
        img {
            height: 252px;
        }
        a {
            cursor: pointer;
        }
    }
}
.btn-primary {
    background-color: #419BD6;
    border-color: #419BD6;
}
a {
    color: #fff;
    background: #E34A3B;
    border-color: #E34A3B;
    padding: 6px;
    margin: 10px;
    border-width: 0px;
}