.card {
    border: none;
    .card-body {
        img {
            height: 30vh;
            object-fit: cover;
        }
        a {
            cursor: pointer;
        }
    }
}
.btn-primary {
    // background-color: #419BD6;
    border-color: #419BD6;
}
.card-body {
    padding: 1rem 0rem;
}
a {
    color: #fff;
    background: #E34A3B;
    border-color: #E34A3B;
    padding: 6px;
    margin: 10px;
    border-width: 0px;
}
iframe.founderVideo {
    height: 500px;
}