<mat-tab-group>
    <mat-tab label="Class Wise Picture">
        <div class="row justify-content-center m-0">
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157672102456084"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                            <img src="./assets/gallery/bitm-class.jpg" class="img-fluid w-100 mb-3">
                            BITM CLASS PHOTOS</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157674489140830"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/bimhrd.jpg" class="img-fluid w-100 mb-3">BIMHRD
                            CLASS
                            PHOTOS</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157672102456064"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/biib.jpg" class="img-fluid w-100 mb-3">BIIB
                            CLASS
                            PHOTOS</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Alumni Club Inauguration">
        <div class="row justify-content-center m-0">
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675579121336"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                            <img src="./assets/gallery/delhi-inauguration.jpg"
                                class="img-fluid w-100 mb-3">
                            DELHI ALUMNI CLUB INAUGURATION</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675676177165"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/mumbai-inauguration.jpg"
                                class="img-fluid w-100 mb-3">MUMBAI ALUMNI CLUB INAUGURATION</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675676125385"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/hyderabad-inauguration.jpg"
                                class="img-fluid w-100 mb-3">HYDERABAD ALUMNI CLUB INAGURATION</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675676053225"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/dubai-inauguration.jpg"
                                class="img-fluid w-100 mb-3">DUBAI ALUMNI CLUB INAUGURATION</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Annual Alumni Events">
        <div class="row justify-content-center m-0">
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675674835805"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                            <img src="./assets/gallery/mumbai-meet.jpg" class="img-fluid w-100 mb-3">
                            MUMBAI ALUMNI ANNUAL MEET</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157674493962020"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/dubai-meet.jpg"
                                class="img-fluid w-100 mb-3">DUBAI ALUMNI ANNUAL MEET</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157674265677182"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/hyderabad-meet.jpg"
                                class="img-fluid w-100 mb-3">HYDERABAD ALUMNI ANNUAL MEET</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157672107325404"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/delhi-meet.jpg"
                                class="img-fluid w-100 mb-3">DELHI ALUMNI ANNUAL MEET</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Alumni Driven Event">
        <div class="row justify-content-center m-0">
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157677489064562"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                            <img src="./assets/gallery/get-together.jpg" class="img-fluid w-100 mb-3">
                            ALUMNI GET TOGETHER</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Alumni Engaging at Sri Balaji Society - Alma Mater">
        <div class="row justify-content-center m-0">
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/sets/72157674266168962/"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">
                            <img src="./assets/gallery/alma-mater.jpg" class="img-fluid w-100 mb-3">
                            ALUMNI ENGAGING AT SRI BALAJI SOCIETY - ALMA MATER</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157679094380465"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/cermony.jpg" class="img-fluid w-100 mb-3">BIIB
                            PRE- CONVOCATION CEREMONY 2014-16</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675507637993"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/cermony2.jpg" class="img-fluid w-100 mb-3">BIIB
                            CONVOCATION CEREMONY 2014-16</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675512857363"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/cermony3.jpg" class="img-fluid w-100 mb-3">BIMM
                            PRE-CONVOCATION CEREMONY 2014-16</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157677704173650"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/cermony4.jpg" class="img-fluid w-100 mb-3">BIMM
                            CONVOCATION CEREMONY 2014-16</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157679153507796"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/cermony5.jpg" class="img-fluid w-100 mb-3">BITM
                            CONVOCATION CEREMONY 2014-16</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157679300341865"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/bimhrd-convo.jpg"
                                class="img-fluid w-100 mb-3">BIMHRD PRE CONVO 2014-16</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank"
                            href="https://www.flickr.com/photos/148515675@N07/albums/72157675560529594/with/32234525262/"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/bitm-convo.jpg"
                                class="img-fluid w-100 mb-3">BITM PRE CONVO 2014-16</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="https://www.flickr.com/photos/148515675@N07/albums/72157675416311304"
                            class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase"> <img
                                src="./assets/gallery/bim-convo.jpg"
                                class="img-fluid w-100 mb-3">BIMHRD CONVO 2014-16</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Alumni YouTube Channel">
        <div class="row justify-content-center m-0">
            <div class="col-lg-12 my-2">
            <h4 class="main-heading text-uppercase fw-bold">Youtube Channel&nbsp;<a
                    href="https://www.youtube.com/channel/UCZBGfAzZas-EDgtsz65dQBQ">Click here to subscribe now</a></h4>
                      </div>
            <br>

            <iframe class="founderVideo" src="https://youtube.com/embed/UdOpbU2hpos"></iframe>
            <br>
            <h5>The Honorable & Beloved Founder BALA Sir's Invitation to the Alumni to register on the Alumni Portal
            </h5>

        </div>
    </mat-tab>
</mat-tab-group>