<div class="d-sm-flex align-items-center justify-content-between my-4">
    <h4 class="main-heading text-uppercase fw-bolder mb-0">CLASS WISE PICTURE</h4>
    <button class="btn btn-md btn-primary rounded" (click)="navigateBack()">Back</button>
</div>
<div class="row justify-content-center">
    <div class="col-lg-6 my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./../../../../../../assets/founder.jpg" class="img-fluid w-100 mb-3">
                <a href="https://www.flickr.com/photos/148515675@N07/albums/72157672102456084" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">BITM CLASS PHOTOS</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./../../../../../../assets/founder.jpg" class="img-fluid w-100 mb-3">
                <a href="https://www.flickr.com/photos/148515675@N07/albums/72157674489140830" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">BIMHRD CLASS PHOTOS</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./../../../../../../assets/founder.jpg" class="img-fluid w-100 mb-3">
                <a href="https://www.flickr.com/photos/148515675@N07/albums/72157672102456064" class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">BIIB CLASS PHOTOS</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-2">
        <div class="card text-center">
            <div class="card-body">
                <img src="./../../../../../../assets/founder.jpg" class="img-fluid w-100 mb-3">
                <a class="btn btn-md btn-primary mt-2 text-white text-decoration-none text-uppercase">Share Journey</a>
            </div>
        </div>
    </div>
</div>