<div class="bannerImg">
    <div class="layer">
        <div class="container">
            <div class="row m-0 justify-content-center">
                <div class="col-lg-12 text-center">
                    <h3 class="text-white fw-bold mb-0 lh-sm text-uppercase">Events at a Glance</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-xl-5 mt-lg-5 mt-md-4 mt-sm-4 mt-3 mb-2">
        <div class="col-md-12">
            <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTabValue">
                <mat-tab id="past-event" label="Past Events">
                    <div class="row m-0">
                        <div class="col-xl-9 col-lg-9 col-md-8 order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2 my-3">
                            <app-loader *ngIf="loading"></app-loader>
                            <ng-container *ngIf="!loading">
                                <ng-container *ngIf="pastEvent?.length > 0">
                                    <div class="row" *ngFor="let item of pastEvent | filterText: pastNameSearched">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                            <div class="club-image my-xl-4 my-lg-4 my-md-4 my-sm-3">
                                                <div class="card shadow">
                                                    <div class="card-header border-0">
                                                        <p class="fw-bold text-center mb-1">
                                                            {{item?.date | date: 'MMMM'}}
                                                        </p>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="fw-bold text-center mb-1">
                                                            {{item?.date | date: 'dd'}}
                                                        </p>
                                                    </div>
                                                    <div class="card-footer border-0">
                                                        <p class="fw-bold text-center mb-1">
                                                            {{item?.date | date: 'yyyy'}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12 px-xl-5 px-lg-5 px-md-3 px-sm-1 py-4 contentSection">
                                            <h6 class="fs-5 fw-bold">Alumni Club Name :</h6>
                                            <p class="connect-event-description">{{ item?.title }}<br>
                                            </p>
                                            <h6 class="fs-5 fw-bold">Description :</h6>
                                            <p class="connect-event-description description"> {{ item?.description | stripHtml }}</p>

                                            <div class="more-btn ">
                                                <a (click)="viewEventDetail(item)" class="fw-bold text-decoration-none"><i class="fa fa-plus"
                                                        aria-hidden="true"></i>&nbsp;{{currentUser ?
                                                    'More Info' : 'Login for more information'}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="pastEvent?.length == 0">
                                    <div class="col-12 py-3 text-center fw-bold">
                                        <p class="fs-5">No data found!</p>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 order-xl-2 order-lg-2 order-md-2 order-sm-1 order-1 my-3">
                            <div class="search-bar mt-xl-4 mt-lg-4 mt-md-3 mt-sm-1">
                                <input type="text" class="form-control shadow" [(ngModel)]="pastNameSearched" [ngModelOptions]="{standalone: true}" placeholder="Search">
                                <form [formGroup]="filterForm">
                                    <h6 class="fs-6 fw-bold text-capitalize my-xl-5 my-lg-5 my-md-4 my-sm-3 my-3">Event Type
                                    </h6>
                                    <div class="form-check">
                                        <input id="all" value=" " name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="all">
                                            All
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="reunion" value="reunion" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="reunion">
                                            Annual Alumni Re-Union ({{allEventTypeCount?.Annual_Reunion}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="drivenEvent" value="Alumni Driven Events" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="drivenEvent">
                                            Alumni Driven Events ({{allEventTypeCount?.ALumni_Driven_Event}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="eventAtBalaji" value="eventAtBalaji" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="eventAtBalaji">
                                            Events At/By SBUP ({{allEventTypeCount?.Sri_Balaji_University}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="industryProfessional" value="industryProfessional" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="industryProfessional">
                                            Industry/Professional <br> Events
                                            ({{allEventTypeCount?.Industry_Professional_Event}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="localMeet" value="Local Meet & Greet" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="localMeet">
                                            Local Meet & Greet ({{allEventTypeCount?.Local_Greet}})
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="sbs-alumni-events">
                                <h6 class="fs-6 fw-bold text-uppercase my-xl-5 my-lg-5 my-d-4 my-sm-3 ">SBS ALUMNI EVENTS SO FAR
                                </h6>
                                <p>Events Across Alumni Clubs : {{clubsTotal}}</p>
                                <p>Event Participants : 17</p>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab id="upcoming-event" label="Upcomming Events">
                    <div class="row m-0">
                        <div class="col-xl-9 col-lg-9 col-md-8 order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2 my-3">
                            <app-loader *ngIf="loading"></app-loader>
                            <ng-container *ngIf="!loading">
                                <ng-container *ngIf="upcomingEvent?.length > 0">
                                    <div class="row" *ngFor="let item of upcomingEvent | filterText: upcomingNameSearched">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                            <div class="club-image my-xl-4 my-lg-4 my-md-4 my-sm-3">
                                                <div class="card shadow">
                                                    <div class="card-header border-0">
                                                        <p class="fw-bold text-center mb-1">
                                                            {{item?.date | date: 'MMMM'}}
                                                        </p>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="fw-bold text-center mb-1">
                                                            {{item?.date | date: 'dd'}}
                                                        </p>
                                                    </div>
                                                    <div class="card-footer border-0">
                                                        <p class="fw-bold text-center mb-1">
                                                            {{item?.date | date: 'yyyy'}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12 px-xl-5 px-lg-5 px-md-3 px-sm-1 py-4 contentSection">
                                            <h6 class="fs-6 fw-bold">Alumni Club Name:</h6>
                                            <p class="connect-event-description">{{ item?.title }}</p>
                                            <h6 class="fs-6 fw-bold">Description:</h6>
                                            <p class="connect-event-description description"> {{ item?.description | stripHtml }}</p>
                                            <div class="more-btn ">
                                                <a (click)="viewEventDetail(item)" class="fw-bold text-decoration-none"><i class="fa fa-plus"
                                                        aria-hidden="true"></i>&nbsp;More Info</a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="upcomingEvent?.length == 0">
                                    <div class="col-12 py-3 text-center fw-bold">
                                        <p class="fs-5">No data found!</p>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 order-xl-2 order-lg-2 order-md-2 order-sm-1 order-1 my-3">
                            <div class="search-bar mt-xl-4 mt-lg-4 mt-md-3 mt-sm-1">
                                <input type="text" class="form-control shadow" [(ngModel)]="upcomingNameSearched" [ngModelOptions]="{standalone: true}" placeholder="Search">
                                <form [formGroup]="upcomingFilterForm">
                                    <h6 class="fs-6 fw-bold text-capitalize my-xl-5 my-lg-5 my-md-4 my-sm-3 my-3">Event Type
                                    </h6>
                                    <div class="form-check">
                                        <input id="all" value=" " name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="all">
                                            All
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="reunion" value="reunion" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="reunion">
                                            Annual Alumni Re-Union ({{allEventTypeCount?.Annual_Reunion}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="drivenEvent" value="Alumni Driven Events" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="drivenEvent">
                                            Alumni Driven Events ({{allEventTypeCount?.ALumni_Driven_Event}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="eventAtBalaji" value="eventAtBalaji" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="eventAtBalaji">
                                            Events At/By SBUP ({{allEventTypeCount?.Sri_Balaji_University}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="industryProfessional" value="industryProfessional" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="industryProfessional">
                                            Industry/Professional <br> Events
                                            ({{allEventTypeCount?.Industry_Professional_Event}})
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="localMeet" value="Local Meet & Greet" name="type" class="form-check-input" type="radio" formControlName="type" (ngModelChange)="onTypeChange($event)">
                                        <label class="form-check-label" for="localMeet">
                                            Local Meet & Greet ({{allEventTypeCount?.Local_Greet}})
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="sbs-alumni-events">
                                <h6 class="fs-6 fw-bold text-uppercase my-xl-5 my-lg-5 my-d-4 my-sm-3 ">SBS ALUMNI EVENTS SO FAR
                                </h6>
                                <p>Events Across Alumni<br> Clubs : 28</p>
                                <p>Event Participants : 17</p>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <ng-container *ngIf="currentUser">
                    <mat-tab id="host" label="I will host">
                        <div class="row m-0">
                            <div class="col-12 my-3">
                                <app-host-form></app-host-form>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab id="speakEvent" label="Speak at the event">
                        <div class="row m-0">
                            <div class="col-12 my-3">
                                <app-events-at-balaji></app-events-at-balaji>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab id="professionalEvent" label="Share a professional event">
                        <div class="row m-0">
                            <div class="col-12 my-3">
                                <app-industry-connect></app-industry-connect>
                            </div>
                        </div>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </div>
    </div>
</div>