.card {
    .eventDate {
        min-height: 180px;
        max-height: 180px;
        .eventPic {
            min-height: 180px;
            max-height: 180px;
        }
        .eventDummyPic {
            min-height: 180px;
            max-height: 180px;
            border: 1px solid #ededed;
        }
    }
}

.description {
    display: -webkit-box;
    max-width: 100%;
    height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

span.event-date {
    font-weight: 500;
}