<app-dashboard-banner [heading]="heading"></app-dashboard-banner>
<div class="container">
    <div class="alumni-journey">
        <div class="row row mt-xl-5 mt-lg-5 mt-md-5 mt-sm-4 mt-4 mb-xl-3 mb-lg-3 mb-md-3 mb-sm-0 mb-0">
            <div class="col-lg-12 text-center">
                <h3 class="main-heading text-uppercase fw-bolder">ALUMNI JOURNEY</h3>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-lg-4 col-md-12 my-lg-2 my-md-3 my-sm-3 my-2">
                <img src="./assets/celebrate/celebrate.png" class="img-fluid w-100" alt="celebrate img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-2 text-center">
                <div class="card p-xl-3 p-lg-2 p-md-2 p-sm-2 p-2">
                    <div class="card-body px-lg-0 px-md-0 px-sm-0 px-0 text-center">
                        <h5 class="card-title fs-6 fw-bold lh-1">Shared Journey By Me</h5>
                        <p class="card-text fs-2 fw-bold py-4 pt-5">0</p>
                        <div class="row justify-content-center m-0 py-2">
                            <div class="col-md-7 col-lg-11 col-xl-9 col-sm-9 col-8">
                                <a (click)="showViewShared()" class="btn btn-md project-btn fs-6 lh-base">Share
                                    Journey</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-2 text-center">
                <div class="card p-xl-3 p-lg-2 p-md-2 p-sm-2 p-2">
                    <div class="card-body px-lg-0 px-md-0 px-sm-0 px-0 text-center">
                        <h5 class="card-title fs-6 fw-bold lh-1">Shared Journey By Alumni</h5>
                        <p class="card-text fs-2 fw-bold py-4 pt-5">10</p>
                        <div class="row justify-content-center m-0 py-2">
                            <div class="col-md-7 col-lg-11 col-xl-9 col-sm-9 col-8">
                                <a (click)="showSeekDetail()" class="btn btn-md project-btn fs-6 lh-base">See
                                    Journey</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-filter p-4">
            <form class="">
              <div class="row">
                <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
                  <div class="form-outline">
                    <input type="name" class="form-control" id="inputName"
                      placeholder="Alumni name" />
                  </div>
                </div>
              </div>
            </form>
          </div>
    </div>
    <app-shared-by-me *ngIf="isPosted" [title]="title" [type]="type"></app-shared-by-me>
    <app-shared-alumni *ngIf="isShared" [heading]="storyHeading" [alumniData]="alumniData"></app-shared-alumni>
</div>