.alumni-journey{
    .card{
        background-color: 
        #E2E7FF;
    }
    .card-text{
        color: #011898;
    }
    .share-btn{
        background-color: #011898;
    }
}
.project-btn {
    background: var(--btn-background);
    border: 1px solid var(--btn-background);
    color: var(--bs-white);
    border-radius: var(--border-radius-2);
    width: var(--width);
  }
  .project-btn:hover {
    background: var(--bs-white);
    color: var(--bs-background);
  }