<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="main-heading text-uppercase fw-bolder">ALUMNI JOURNEY</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title fs-4 lh-1">Shared Journey By Me</h5>
                <p class="card-text fs-2 fw-bold text-primary py-3">0</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                <a (click)="showViewShared()" class="btn btn-primary me-2 rounded-1 text-uppercase">Share Journey</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title fs-4 lh-1">Shared Journey By Alumni</h5>
                <p class="card-text fs-2 fw-bold text-primary py-3">10</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" (click)="showSeekDetail()" class="btn btn-primary me-2 rounded-1 text-uppercase">See Journey</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-shared-by-me *ngIf="isPosted" [title]="title" [type]="type"></app-shared-by-me>
<app-shared-alumni *ngIf="isShared" [heading]="heading" [alumniData]="alumniData"></app-shared-alumni>