<div class="commonPurposePage commonTopPadding">
    <app-users-banner [heading]="heading"></app-users-banner>
    <div class="container">
        <div class="row my-xl-4 my-lg-4 my-md-4 my-sm-4 my-3 m-0">
            <div class="col-lg-12">
                <section id="founderMsg">
                    <h4 class="main-heading my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3 text-center text-uppercase lh-base fw-bold">The Founder & CHANCELLOR – LATE PROF. Dr. (Col.) A. Balasubramanian Message on the Sri Balaji University, PUNE : Alumni Connect Vision</h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 col-md-12 col-10 text-center mt-3 mb-4">
                            <iframe class="founderVideo" src="https://youtube.com/embed/nYulgKoVSjw"></iframe>
                        </div>
                        <br>
                    </div>
                </section>
                <section id="strategy">
                    <h4 class="main-heading text-uppercase fw-bold my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3 text-center lh-base">
                        The Founder's World Tour To Inaugurate & launch The Sri Balaji University, PUNE : Alumni Clubs in India and Abroad</h4>
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12 text-center mt-3">
                            <img src="./assets/common-purpose/founder.webp" class="media-abroad img-fluid" alt="founder img"><br><br>
                        </div>
                    </div>
                </section>
                <section id="connectVision">
                    <h4 class="main-heading text-uppercase fw-bold my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3 text-center lh-base">
                        Sri Balaji University, PUNE : Alumni Connect Vision</h4>

                    <div class="connectVision pt-xl-0 pt-lg-2 pt-md-3 pt-sm-3 pt-3">
                        <div class="row ">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 pe-xl-0 pe-lg-0 ">
                                <div class="content">
                                    <img class="w-100 content-img" src="./assets/home/purpose01.webp" alt="services-img">
                                    <a class="box-text"></a>
                                </div>
                                <div class="content-heading my-3">
                                    <a class="mb-0 fw-bold connect text-uppercase text-decoration-none" routerLink="/connect">connect</a>
                                </div>
                                <div class="linksSection mt-2 p-xl-2 p-lg-2 p-md-2 p-sm-2">
                                    <ul>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Find
                                                and
                                                connect with fellow Alumni from your batch, in your city or
                                                geography.</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Connect
                                                with SBUP – Alma Mater</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 px-xl-0 px-lg-0">
                                <div class="content">
                                    <img class="w-100 content-img" src="./assets/home/purpose02.webp" alt="services-img">
                                    <a class="box-text"></a>
                                </div>
                                <div class="content-heading my-3">
                                    <a class="mb-0 fw-bold network text-uppercase text-decoration-none" routerLink="/community/alumni-directory">network</a>
                                </div>
                                <div class="linksSection mt-2 p-xl-2 p-lg-2 p-md-2 p-sm-2">
                                    <ul>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Professional focus groups</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Trending
                                                topics</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Industry
                                                focus groups</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Career
                                                Advancement corner</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Post
                                                jobs</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Find
                                                jobs</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Entrepreneurship Clubs</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Start-up
                                                corner</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Launch
                                                Ideas</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Seek
                                                Funding</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Alumni
                                                with specific domain expertise</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 px-xl-0 px-lg-0">
                                <div class="content">
                                    <img class="w-100 content-img" src="./assets/home/purpose03.webp" alt="services-img">
                                    <a class="box-text"></a>
                                </div>
                                <div class="content-heading my-3">
                                    <a class="mb-0 fw-bold engage text-uppercase text-decoration-none" routerLink="/collaborate-contribute/engage-with-society">Engage & support</a>
                                </div>
                                <div class="linksSection mt-2 p-xl-2 p-lg-2 p-md-2 p-sm-2">
                                    <ul>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Alumni
                                                clubs</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>SBUP – Alma Mater</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1"><a>As
                                                an
                                                expert guest faculty</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1"><a>As
                                                an
                                                panelist on Admission</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1"><a>As
                                                a
                                                National Seminar Speaker</a></li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Special
                                                Projects/Charity</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 ps-xl-0  col-md-6 col-sm-6 ps-lg-0 ">
                                <div class="content">
                                    <img class="w-100 content-img" src="./assets/home/purpose04.webp" alt="services-img">
                                    <a class="box-text"></a>
                                </div>
                                <div class="content-heading my-3">
                                    <a class="mb-0 fw-bold learnGrow text-uppercase text-decoration-none" routerLink="/collaborate-contribute/mentorship">learn & grow</a>
                                </div>
                                <div class="linksSection mt-2 p-xl-2 p-lg-2 p-md-2 p-sm-2">
                                    <ul>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Mentorship</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Exclusive
                                                resources</a>
                                        </li>
                                        <li class="items lh-lg lg-sm lh-base lh-1 my-xl-2 my-lg-2 my-md-2 my-sm-1">
                                            <a>Contribute
                                                back</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To share the
                                            Common
                                            Purpose and foster a Culture of actively engaging together to</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">Connect</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">Network</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">Engage and
                                            Support</a>
                                    </li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">Learn and
                                            Grow</a>
                                    </li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To form a
                                            compassionate
                                            Alumni Community.</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To Connect Alumni
                                            within
                                            India and all across the world.</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To Collaborate
                                            with
                                            Alumni and Contribute to each others’ growth.</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To Celebrate and
                                            recognize Alumni achievements and success stories.</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To
                                            Fellowship.</a>
                                    </li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To enable
                                            Mentorship
                                            Program by engaging in lifelong learning.</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To provide a
                                            platform
                                            to
                                            share ideas around professional/industry latest trends and
                                            opportunities,career
                                            advancement, entrepreneurship, start-ups, non-profit and areas that are of
                                            interest
                                            to the Alumni community.</a></li>
                                    <li><a class="items lh-lg lg-sm lh-base lh-1 text-decoration-none">To contribute to
                                            the
                                            wider communities, nation and world by being a Force For Good.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>