<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="col-md-12 my-2">
                        <label class="form-label">Email<span class="label-danger">*</span></label>
                        <input type="email" class="form-control" placeholder="Login Email ID">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2">
                        <label class="form-label">Country Code<span class="label-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Country code">
                    </div>
                    <div class="col-md-8 my-2">
                        <label class="form-label">Phone number<span class="label-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 my-2">
                        <label class="form-label">Security Quesiton <span class="label-danger">*</span></label>
                        <select class="form-select">
                            <option value="" selected>Choose your institute</option>
                            <option>First Car</option>
                            <!-- <option [value]="institute.id" *ngFor="let institute of getInstitutes">
                                {{institute.institute_name}}</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 my-2">
                        <label class="form-label">Security Answer<span class="label-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter Security Answer">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  align-self-center my-2">
                        <button type="submit" class="btn btn-danger my-2">Submit</button>
                        <a [routerLink]="['/auth/login']" class="mx-2">Back to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>