<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="forgotPassForm">
                <div class="row">
                    <div class="col-md-12 my-2">
                        <label class="form-label">Email <span class="label-danger">*</span></label>
                        <input type="email" class="form-control" formControlName="personal_email" placeholder="Enter Email ID">
                        <div class="text-danger mt-2"
                            *ngIf="(f.personal_email.touched || submitted) && f.personal_email.errors?.required">
                            Email is required.
                        </div>
                        <div class="text-danger mt-2"
                            *ngIf="(f.personal_email.touched || submitted) && f.personal_email.errors?.pattern">
                            Please enter valid email address.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-sm-8 align-self-center my-2">
                        <button type="submit" (click)="submit()" class="btn btn-danger my-2">Submit</button>
                        <a [routerLink]="['/auth/login']" class="mx-2">Back to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>