.start-up{
    .start-up-background{
        background-color: #F65C8B;
    }
    .startup-btn{
        width: 100%;
        line-height: 48px;
        background-color: #011898;
    }
    .seemore-btn{
       color: #011898;
    }
}