<div class="commonTopPadding">
    <app-dashboard-banner [heading]="heading"></app-dashboard-banner>
    <div class="start-up">
        <div class="container">
            <div class="row my-xl-5 my-lg-5 my-md-5 my-sm-4 my-4">
                <div class="col-lg-12 text-center">
                    <h3 class="main-heading text-uppercase fw-bold mb-0">START-UP CORNER</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p class="startup-text text-center px-xl-5 px-lg-4 px-md-4 mb-3">Float Ideas, Seek Resources. Seek Funding.<br>
                        Establish Initial Contact And Connect Offline</p>
                    <div class="row start-up-background px-3 py-4 mt-3 mb-xl-5 mb-lg- mb-md-5 mb-sm-4 mb-3 justify-content-center align-items-center">
                        <div class="col-md-4 col-lg-3 col-xl-2 col-sm-12">
                            <img src="./assets/unsplash_Zz5LQe-VSMY.png" alt="splash img">
                        </div>
                        <div class="col-md-8 col-lg-7 col-xl-8 col-sm-12">
                            <h4 class="startup-comment text-white pt-4">What's on your mind, Name?</h4>
                            <hr class="text-white">
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12">
                            <div class="startup-post">
                                <button class="startup-btn text-white border-0">Post</button>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5  ps-3 py-4">
                        <div class="col-md-2">
                            <img src="./assets/unsplash_Zz5LQe-VSMY.png" alt="splash img" class="w-75">
                        </div>
                        <div class="col-md-10">
                            <h4 class="startup-name">Mohita</h4>
                            <p class="startup-description">Dear fellow alumni, This is Mohita from BIMHRD- 2010-12
                                batch. I
                                am a
                                freelance dance choreographer and instructor
                                by profession and i have been training students across U.A.E since past 4 years now. I
                                specialize in
                                bollywood funk,
                                zumba, ETM and wedding choreography and also kids classes. Currently also provideing
                                online
                                sessions
                                to students.
                                For any query or requirement for the same please contact me on</p>
                            <p class="startup-comment"> <span class="icon"><i class="fa fa-heart"
                                        aria-hidden="true"></i>
                                    10</span><span class="user-reply px-4">
                                    Reply </span><span class="view-reply">View 5 reply <i class="fa fa-angle-down"
                                        aria-hidden="true"></i></span></p>

                        </div>
                    </div>
                    <div class="row my-5  ps-3 py-4">
                        <div class="col-md-2">
                            <img src="./assets/unsplash_Zz5LQe-VSMY.png" alt="splash img" class="w-75">
                        </div>
                        <div class="col-md-10">
                            <h4 class="startup-name">Mohita</h4>
                            <p class="startup-description">Dear fellow alumni, This is Mohita from BIMHRD- 2010-12
                                batch. I
                                am a
                                freelance dance choreographer and instructor
                                by profession and i have been training students across U.A.E since past 4 years now. I
                                specialize in
                                bollywood funk,
                                zumba, ETM and wedding choreography and also kids classes. Currently also provideing
                                online
                                sessions
                                to students.
                                For any query or requirement for the same please contact me on</p>
                            <p class="startup-comment"> <span class="icon"><i class="fa fa-heart"
                                        aria-hidden="true"></i>
                                    10</span><span class="user-reply px-4">
                                    Reply </span><span class="view-reply">View 5 reply <i class="fa fa-angle-down"
                                        aria-hidden="true"></i></span></p>

                        </div>
                    </div>
                    <div class="row my-5  ps-3 py-4">
                        <div class="col-md-2">
                            <img src="./assets/unsplash_Zz5LQe-VSMY.png" alt="splash img" class="w-75">
                        </div>
                        <div class="col-md-10">
                            <h4 class="startup-name">Mohita</h4>
                            <p class="startup-description">Dear fellow alumni, This is Mohita from BIMHRD- 2010-12
                                batch. I
                                am a
                                freelance dance choreographer and instructor
                                by profession and i have been training students across U.A.E since past 4 years now. I
                                specialize in
                                bollywood funk,
                                zumba, ETM and wedding choreography and also kids classes. Currently also provideing
                                online
                                sessions
                                to students.
                                For any query or requirement for the same please contact me on</p>
                            <p class="startup-comment"> <span class="icon"><i class="fa fa-heart"
                                        aria-hidden="true"></i>
                                    10</span><span class="user-reply px-4">
                                    Reply </span><span class="view-reply">View 5 reply <i class="fa fa-angle-down"
                                        aria-hidden="true"></i></span></p>

                        </div>
                    </div>
                    <div class="row my-5  ps-3 py-4">
                        <div class="col-md-2">
                            <img src="./assets/unsplash_Zz5LQe-VSMY.png" alt="splash img" class="w-75">
                        </div>
                        <div class="col-md-10">
                            <h4 class="startup-name">Mohita</h4>
                            <p class="startup-description">Dear fellow alumni, This is Mohita from BIMHRD- 2010-12
                                batch. I
                                am a
                                freelance dance choreographer and instructor
                                by profession and i have been training students across U.A.E since past 4 years now. I
                                specialize in
                                bollywood funk,
                                zumba, ETM and wedding choreography and also kids classes. Currently also provideing
                                online
                                sessions
                                to students.
                                For any query or requirement for the same please contact me on</p>
                            <p class="startup-comment"> <span class="icon"><i class="fa fa-heart"
                                        aria-hidden="true"></i>
                                    10</span><span class="user-reply px-4">
                                    Reply </span><span class="view-reply">View 5 reply <i class="fa fa-angle-down"
                                        aria-hidden="true"></i></span></p>

                        </div>
                    </div>
                    <div class="see-more text-center pb-4">
                        <button class="seemore-btn  border-0 bg-transparent">See More <i class="fa fa-angle-down"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>