.register-page {
  .login-background {
    //  background-image: url("../../../../../assets/authImages/registerBg.png");
    background-color:var(--btn-background);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;

    .left-box {
      height: 100%;
      padding: 78px;
    }
    .btn-sign {
      opacity: 0.3;
    }
  }
  .register-form {
    background-color: #011898;

    .btn-register {
      background-color: #f65c8b;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 20px 50px;
    }
    .form-control {
      font-size: 12px !important;
      padding: 18px 20px;
    }
    select {
      font-size: 13px;
      color: #646363;
    }
  }
  .photo.justify-content-center {
   
    img {
      height: 100px;
    width: 100px;
      position: absolute;
      top: 24%;
      left: 60%;
      border-radius: 100%;
      object-fit: cover;
      cursor: pointer;
     
    }
  }
  .choose_file {
    input[type="file"] {
      height: 100px;
      width: 100px;
      position: absolute;
      top: 30%;
      left: 60%;
      opacity: 0;
      cursor: pointer;
      z-index: 9999;
    }
  
  }
}

// media query//
@media (min-width: 300px) and (max-width: 600px) {
  .register-page {
    .login-background {
      .left-box {
        height: 100%;
        padding: 60px;
      }
    }
    .photo.justify-content-center {
   
      img {
        height: 100px;
      width: 100px;
        position: relative;
        top: 0%;
        left: 0%;
        border-radius: 100%;
        object-fit: cover;
        cursor: pointer;
       
      }
    }
    .choose_file {
      input[type="file"] {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 120%;
        left: 30%;
        opacity: 0;
        cursor: pointer;
        z-index: 9999;
      }
    
    }
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .register-page {
    .login-background {
      .left-box {
        height: 100%;
        padding: 150px;
      }
    }
    .photo.justify-content-center {
   
      img {
        height: 100px;
      width: 100px;
      
        border-radius: 100%;
        object-fit: cover;
        cursor: pointer;
       
      }
    }
    .choose_file {
      input[type="file"] {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 140%;
        left: 50%;
        opacity: 0;
        cursor: pointer;
        z-index: 9999;
      }
    
    }
  }
}
@media (min-width: 768px) and (max-width: 968px) {
  .register-page {
    .login-background {
      .left-box {
        height: 100%;
        padding: 20px;
      }
    }
    .photo.justify-content-center {
   
      img {
        height: 100px;
      width: 100px;
        position: absolute;
        top: 40%;
      border-radius: 100%;
        object-fit: cover;
        cursor: pointer;
       
      }
    }
    .choose_file {
      input[type="file"] {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 40%;
     opacity: 0;
        cursor: pointer;
        z-index: 9999;
      }
    
    }
  }
}
@media (min-width: 968px) and (max-width: 1300px) {
  .register-page {
    .login-background {
      .left-box {
        height: 100%;
        padding: 31px;
      }
    }
    .photo.justify-content-center {
   
      img {
        height: 100px;
      width: 100px;
        position: absolute;
        top: 40%;
     border-radius: 100%;
        object-fit: cover;
        cursor: pointer;
       
      }
    }
    .choose_file {
      input[type="file"] {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 40%;
       opacity: 0;
        cursor: pointer;
        z-index: 9999;
      }
    
    }
  }
}
@media (min-width: 1300px) and (max-width: 1500px) {
  .register-page {
    .login-background {
      .left-box {
        height: 100%;
        padding: 25px;
      }
    }
      .photo.justify-content-center {
   
        img {
          height: 100px;
        width: 100px;
          position: absolute;
          top: 40%;
     border-radius: 100%;
          object-fit: cover;
          cursor: pointer;
         
        }
      }
      .choose_file {
        input[type="file"] {
          height: 100px;
          width: 100px;
          position: absolute;
          top: 40%;
          opacity: 0;
          cursor: pointer;
          z-index: 9999;
        }
      
      
    }
  }
}
@media (min-width: 1500px) and (max-width: 1600px) {
  .register-page {
    .login-background {
      .left-box {
        height: 100%;
        padding: 25px;
      }
    }
      .photo.justify-content-center {
   
        img {
          height: 100px;
        width: 100px;
          position: absolute;
          top: 40%;
         border-radius: 100%;
          object-fit: cover;
          cursor: pointer;
         
        }
      }
      .choose_file {
        input[type="file"] {
          height: 100px;
          width: 100px;
          position: absolute;
          top: 40%;
          opacity: 0;
          cursor: pointer;
          z-index: 9999;
        }
      
      
    }
  }
}
@media (min-width: 1600px) and (max-width: 1870px) {
  .register-page {
    .photo.justify-content-center {
   
      img {
        height: 100px;
      width: 100px;
        position: absolute;
        top: 40%;
       border-radius: 100%;
        object-fit: cover;
        cursor: pointer;
       
      }
    }
    .choose_file {
      input[type="file"] {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 40%;
      opacity: 0;
        cursor: pointer;
        z-index: 9999;
      }
    
    }
  }
}
