<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <img
            src="./assets/know-us/message.jpg"
            class="img-fluid w-100"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center my-3 my-lg-4 my-md-4 my-sm-4">
          <h3 class="main-heading text-uppercase fw-bolder">
            PRESIDENT’S MESSAGE
          </h3>
        </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 mb-4">
            <img src="./assets/know-us/prof-bala.jpg"
            class="img-fluid w-100"/>
            <p class="text-center mt-2">Dr. (Col.) A. Balasubramanian<br/>
                <b>President - Sri Balaji Society, Pune Chairman - Campus Placements</b><br/>
                <b>Executive Director BIMM & Dean BITM, BIIB, & BIMHRD</b></p>
          </div>
      </div>

      <!-- <h4 class="font-italic mb-4">Confirm booking</h4> -->
      <p class="font-italic text-muted mb-2">
        Sri Balaji Society, Pune means quality and commitment to the students'
        community. We believe that each and every student has the potential to
        be groomed to have a successful corporate career. Converting the right
        candidates to the right jobs through right training and development has
        always been the goal of our Society. We are deeply pleased to state that
        we have achieved the same to a larger extent as can be seen from the
        Track-Record of campus placements of our management institutes.
      </p>
      <p class="font-italic text-muted mb-2">
        We are proud to state that, within an existence of 15 years Sri Balaji
        Society is known not only for the best infrastructure but also for the
        best faculties. Sri Balaji Society is already ranked as one amongst top
        Three for ‘visiting faculties’ in India by ‘Business India’ dated 17th
        Oct. 2010, which means active involvement of corporate stalwarts in
        imparting instructions and practical exposure to students about the
        industry. The has also ranked Balaji Institute of Modern Management
        (BIMM), formerly known as Indian Institute of Modern Management (IIMM) -
        the first B-School of Sri Balaji Society, as one amongst the Top five
        B-Schools for ‘Marketing’ specialisation in the country. BIMM is also
        ranked as one amongst the top 13 private B-schools in the country, top
        28 B-schools in the country and one amongst top 2 B-school in Pune by
        Outlook magazine dated 1st October, 2012.BIMM is ranked as one amongst
        4th Business School in India for the return on investment(ROI), (Source
        OUTLOOK OCT 6, 2014.)
      </p>
      <p class="font-italic text-muted mb-2">
        Balaji Institute of Telecom & Management (BITM) is ranked as 46th Top B
        -School in India.( Source: Times & Nielson Survey, Times Top B School
        Survey, 31st March 2014.Times of India). Balaji Institute of
        International Business (BIIB) is ranked as (A+++) B- School in India
        (Source: Go Getter May,2014) . Balaji Institute of Management and Human
        Resource Development (BIMHRD) Pune is ranked 42nd Top B -School in
        India.(Source: Times Nielson Survey, Times Top B School Survey , 31st
        March 2014.Times of India). BITM, BIIB, BIMHRD are also one amongst the
        best B-Schools ranked (A++) by ‘Business India’ in the country and
        enjoys very good campus placements. All these four institutes viz. BIMM,
        BITM, BIIB and BIMHRD are approved by AICTE. I am proud to record here
        that more than 1000 students from all these four Management Institutes
        of Sri Balaji Society have been placed in the Industry by every year
        with good compensation package. The compensation package varies
        according to the company and competencies of each individual. This track
        record has encouraged us to initiate more bold and innovative training
        methods with active support from the corporate stalwarts and the
        Industry who have recognized our sincerity and seriousness to the cause
        of growth and development of our students who are excelling themselves
        in the industry and are proving to be the fast-trackers.
      </p>
      <p class="font-italic text-muted mb-2">
        The excellent faculties, conducive environment, good infrastructure and
        stimulating atmosphere in our campus enable students to dream and work
        hard to achieve their goals. It should be noted that being creative,
        experimenting and unconventional group of B-Schools, we keep on updating
        our course-curriculum and this has increased the efficiency and
        effectiveness of our students. We treat time as the most precious
        resource. Therefore, classes-exercises-examinations may be scheduled
        around the clock, for longer hours, and hence the students are required
        to go through rigorous and hectic grooming/ training process for 365
        days. We don't believe in the concept of holidays as two-years is a
        short period to impart all the skills and knowledge competencies.
        Therefore, only those who are medically fit to undergo rigorous and a
        hectic schedule should seek admission. Positive attitude is the other
        requisite of our Society.
      </p>
      <p class="font-italic text-muted mb-2">
        Sri Balaji Society (SBS) functions on the lines of Industry and
        University. The Directors of the Society are the pillars of the society
        and are devoted to the welfare, growth efficiency, excellence of
      </p>
      <p class="font-italic text-muted mb-2">
        education and training in each of the Management Institutes on the lines
        of a Corporate Headquarters. The Directors of the Institutes are
        scholars and great leaders in their own right and work hand in hand with
        the Directors of the Society as one family. Each director is empowered
        to take decisions within the framework of rules and regulations laid
        down by Sri Balaji Society. The rules and regulations of Sri Balaji
        Society are framed by a High-Power Committee which comprises of, all the
        Directors and Advisors of Sri Balaji Society. Each institute is also
        having its own sub-committee comprising of the Director and Faculties of
        the institute. This interdependent and independent stand of each
        Institute, enables us to grow together by drawing the expertise, energy
        and resources from all the sources of the Society.
      </p>
      <p class="font-italic text-muted mb-2">
        We have a common prospectus for all the four management institutes of
        SBS, because everything is common in SBS. Common culture, common
        grooming, common training methods, common examinations and common
        facilities which ultimately ensures that the quality standards in all
        the institutes are maintained at par and no one is in a disadvantageous
        position. The unity-in-diversity approach is helping us in a big way.
        The students are the biggest beneficiaries as is seen in the real test
        i.e , in the campus placements season. Most of the companies are seeing
        the students of all the four institutes who fulfill the qualitative
        requirements. Only a few of the companies are visiting particular
        institutes of Sri Balaji Society. These couple of companies, about 10 or
        so, too are being apprised to see all the institutes.
      </p>
      <p class="font-italic text-muted mb-2">
        Admissions to all the courses run by BIMM/ BITM/ BIIB/ BIMHRD are on
        merit, based on a Combined Admission Process, which will be hel
        dAhmedabad, Bathinda, Bangalore, Bhopal, Bhubaneshwar, Chandigarh,
        Chennai, Dehradun, Delhi, Goa, Guwahati, Hyderabad, Indore ,Jaipur,
        Jammu, Kochi, Kolkata, Kota, Lucknow, Mumbai, Nagpur, Patna, Pune,
        Raipur, Ranchi, Varanasi, Belgaum, Coimbatore, Gangtok, Gwalior,
        Jabalpur, Trivandrum and Vijayawada. However, we reserve the right to
        cancel any centre if warranted due to any contingency.
      </p>
      <p class="font-italic text-muted mb-2">
        We accept CAT/MAT/XAT/CMAT scores. We don't believe in cut off score as
        we feel that Sri Balaji Society Model of selection has proved the test
        of time as it covers all the requisites including personality and other
        relevant factors. We give due weightage to all these relevant factors.
        This can be seen from the track record of our campus placements. Our
        selection process, in the selection centres involves Group Discussions,
        Essay Writing and Personal Interviews. It may be mentioned here that,
        IIM's are not involved in our selection or grooming methods. All these
        scores of entrance exam, group discussion, essay and interview are given
        due weightage and final merit-list is drawn based on which
        courses/institutes are allotted to the applicants. Therefore, students
        can buy one prospectus and can apply to any one or to all the courses
        offered in all the management institutes of SBS through one common
        application form. During the selections, the expert panels will study
        the suitability of the candidates for the course applied by them and
        then allot either the same course applied by the candidate or other
        alternate suitable course in any of the institutes although the student
        will initially be considered according to the preference given by the
        student. In case, the student does not stand in the Merit-list for the
        course applied according to preferences he/she will be considered for
        other courses offered by any of the institutes. We assume that fresh
        graduates are not well-equipped to know about the job-contents of
        various courses and therefore, it is our duty to match the candidate to
        the right course and according to the merit-list.
      </p>
      <p class="font-italic text-muted mb-2">
        The course curriculum for each course has been designed in consultation
        with corporate stalwarts and will be implemented as hither-to-fore. It
        may be mentioned that our course-contents are designed and bench-marked
        with the best B-Schools. Personality development of students is a
        critical requirement for the growth and development of students.
        Therefore, a lot of work-shops and co-curricular activities are
        conducted regularly by the society in all the institutes to ensure that
        the students are immensely benefitted. Guest lectures, Management Games
        and Seminars are integral parts of the intensive training provided to
        our students. Very Senior Trainers and Corporate Stalwarts from the
        industry regularly visit us for the same.
      </p>
      <p class="font-italic text-muted mb-2">
        Discipline, Dedication and Determination are our Core-Values. While we
        adopt a paternalistic approach in matters of welfare and mentoring, we
        deal with the in-disciplined students with an iron hand. SBS is run on
        the lines of an industry and rules and regulations are considered
        supreme. Therefore, you are requested to go through the instructions
        published in this prospectus and to make your choice. We can assure you
        that your admission in any of our B-schools would mean the right step to
        ultimately land up in corporate careers.
      </p>
      <p class="font-italic text-muted mb-2">
        <b
          >Welcome - Welcome To Sri Balaji Society, Pune.<br />
          Yours sincerely</b
        ><br />
        <br/>

        Dr. (Col) A. Balasubramanian<br />
        <b>Executive Director</b> BIMM & Dean BITM, BIIB and BIMHRD<br />
        Chairman Campus Placement, President, Sri Balaji Society, Pune.
      </p>
    </div>
  </div>
</div>
