<div class="container connect">
    <div class="row">
        <div class="col-md-3">
            <!-- Tabs nav -->
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                aria-orientation="vertical"><br>
                <a class="nav-link mb-3 p-3 shadow active" id="v-pills-glance-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-glance" role="tab" aria-controls="v-pills-glance" aria-selected="true">
                    <span class="font-weight-bold small text-uppercase">Events at a glance
                    </span></a>

                <a class="nav-link mb-3 p-3 shadow" id="v-pills-reunion-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-reunion" role="tab" aria-controls="v-pills-reunion" aria-selected="false">
                    <span class="font-weight-bold small text-uppercase"> Annual Alumni Re-Union
                    </span></a>

                <a class="nav-link mb-3 p-3 shadow" id="v-pills-driven-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-driven" role="tab" aria-controls="v-pills-driven" aria-selected="false">
                    <span class="font-weight-bold small text-uppercase"> Alumni Driven Events
                    </span></a>

                <a class="nav-link mb-3 p-3 shadow" id="v-pills-almamater-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-almamater" role="tab" aria-controls="v-pills-almamater"
                    aria-selected="false">
                    <span class="font-weight-bold small text-uppercase"> Events At/By Sri Balaji Society Alma Mater
                    </span></a>
                <a class="nav-link mb-3 p-3 shadow" id="v-pills-professional-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-professional" role="tab" aria-controls="v-pills-professional"
                    aria-selected="false">

                    <span class="font-weight-bold small text-uppercase">
                        Industry/Professional Events
                    </span></a>
            </div>
        </div>


        <div class="col-md-9">
            <!-- Tabs content -->
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-glance" role="tabpanel"
                    aria-labelledby="v-pills-glance-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                    <ul class="nav justify-content-center mb-3 my-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="key-contacts-tab" data-bs-toggle="pill"
                                data-bs-target="#key-contacts" type="button" role="tab" aria-controls="key-contacts"
                                aria-selected="true">Upcomming Events

                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="alumni-clubs-tab" data-bs-toggle="pill"
                                data-bs-target="#alumni-clubs" type="button" role="tab" aria-controls="alumni-clubs"
                                aria-selected="false">Past Events</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="v-pills-reunion" role="tabpanel"
                    aria-labelledby="v-pills-reunion-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="v-pills-driven" role="tabpanel"
                    aria-labelledby="v-pills-driven-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="v-pills-almamater" role="tabpanel"
                    aria-labelledby="v-pills-almamater-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="v-pills-professional" role="tabpanel"
                    aria-labelledby="v-pills-professional-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                </div>
            </div>
        </div>
    </div>
</div>