<!-- <div class="container connect">
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                aria-orientation="vertical"><br>
                <a class="nav-link mb-3 p-3 shadow active" id="v-pills-glance-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-glance" role="tab" aria-controls="v-pills-glance" aria-selected="true">
                    <span class="font-weight-bold small text-uppercase">Events at a glance
                    </span></a>

                <a class="nav-link mb-3 p-3 shadow" id="v-pills-reunion-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-reunion" role="tab" aria-controls="v-pills-reunion" aria-selected="false">
                    <span class="font-weight-bold small text-uppercase"> Annual Alumni Re-Union
                    </span></a>

                <a class="nav-link mb-3 p-3 shadow" id="v-pills-driven-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-driven" role="tab" aria-controls="v-pills-driven" aria-selected="false">
                    <span class="font-weight-bold small text-uppercase"> Alumni Driven Events
                    </span></a>

                <a class="nav-link mb-3 p-3 shadow" id="v-pills-almamater-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-almamater" role="tab" aria-controls="v-pills-almamater"
                    aria-selected="false">
                    <span class="font-weight-bold small text-uppercase"> Events At/By Sri Balaji Society Alma Mater
                    </span></a>
                <a class="nav-link mb-3 p-3 shadow" id="v-pills-professional-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-professional" role="tab" aria-controls="v-pills-professional"
                    aria-selected="false">

                    <span class="font-weight-bold small text-uppercase">
                        Industry/Professional Events
                    </span></a>
            </div>
        </div>


        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent"> -->
<!-- <div class="tab-pane fade shadow rounded bg-white show active p-2" id="v-pills-glance" role="tabpanel"
                    aria-labelledby="v-pills-glance-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                    <app-at-glance [pastItems]="pastEvent" [upcomingItems]="upcomingEvent" [imgPath]="imgPath"></app-at-glance>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-2" id="v-pills-reunion" role="tabpanel"
                    aria-labelledby="v-pills-reunion-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                    <app-alumni-reunion [pastItems]="pastEvent" [upcomingItems]="upcomingEvent" [imgPath]="imgPath"></app-alumni-reunion>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-2" id="v-pills-driven" role="tabpanel"
                    aria-labelledby="v-pills-driven-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                    <app-alumni-driven-events [pastItems]="pastEvent" [upcomingItems]="upcomingEvent" [imgPath]="imgPath"></app-alumni-driven-events>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-2" id="v-pills-almamater" role="tabpanel"
                    aria-labelledby="v-pills-almamater-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                    <app-events-at-balaji [pastItems]="pastEvent" [upcomingItems]="upcomingEvent" [imgPath]="imgPath"></app-events-at-balaji>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show  p-2" id="v-pills-professional" role="tabpanel"
                    aria-labelledby="v-pills-professional-tab">
                    <h4 class="font-italic mb-4">WELCOME TO SRI BALAJI SOCIETY</h4>
                    <app-industry-connect [pastItems]="pastEvent" [upcomingItems]="upcomingEvent" [imgPath]="imgPath"></app-industry-connect>
                </div> -->
<!-- <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->

<router-outlet></router-outlet>