.expertise {
  background: var(--card-bg);
}
.project-btn {
  background: var(--btn-background);
  border: 1px solid var(--btn-background);
  color: var(--bs-white);
  border-radius: var(--border-radius-2);
  width: var(--width);
}
.project-btn:hover {
  background: var(--bs-white);
  color: var(--bs-background);
}
::placeholder {
  font-size: var(--font-S-13);
}
select {
  font-size: var(--font-S-13);
  color: #777777;
  padding: 8.2px 0.75rem;
}
