.view-event {
  .read-more {
    background-color: var(--btn-background);
    width: 80%;
    line-height: 38px;
  }
  .your-idea {
    background-color: var(--form-bg);
    .commentField:focus {
      box-shadow: none;
    }
    ::placeholder {
      color: var(--bs-white);
      opacity: .7;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--bs-white);
      opacity: .7;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--bs-white);
      opacity: .7;
    }
  }
  .descriptionText{
    text-align: justify;
    height: 220px;
    overflow-y: auto;
  }
  .collab-img {
    min-height: 180px;
    height: 180px;
  }
}
.view-btn {
  background: var(--btn-background);
  color: var(--bs-white);
  border: 1px solid var(--btn-background);
  border-radius: var(--border-radius-2);
  cursor: pointer;
}
.view-btn:hover {
  background: var(--bs-white);
  color: var(--btn-background);
}

.bannerImg {
  background: url("./../../../../../../assets/connectImg/connect_banner.jpg");
  background-repeat: var(--background-no-repeat);
  height: 250px;
  background-size: 100% 100%;
  position: var(--position-relative);
  .layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: var(--position-absolute);
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height-100);
    display: var(--display-Flex);
    align-items: var(--align-center);
  }
  h3 {
    letter-spacing: var(--letter-space-1);
    font-family: var(--family);
    font-size: var(--font-S-32);
  }
}

@media (min-width: 300px) and (max-width: 400px) {
    .view-btn {
        width: var(--width);
      }
}


@media (min-width: 300px) and (max-width: 575px) {
  .bannerImg {
    background-size: cover;
    background-position-x: center;
    height: 150px;
    h3 {
      font-size: var(--font-S-18);
    }
  }
}

@media (min-width: 574px) and (max-width: 767px) {
  .bannerImg {
    height: 180px;
    h3 {
      font-size: var(--font-S-22);
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bannerImg {
    height: 200px;
    h3 {
      font-size: var(--font-S-26);
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bannerImg {
    h3 {
      font-size: var(--font-S-30);
    }
  }
}