.view-event {
  .read-more {
    background-color: var(--btn-background);
    width: 80%;
    line-height: 38px;
  }
  .your-idea {
    background-color: var(--form-bg);
    .commentField:focus {
      box-shadow: none;
    }
    ::placeholder {
      color: var(--bs-white);
      opacity: .7;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--bs-white);
      opacity: .7;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--bs-white);
      opacity: .7;
    }
  }
  .descriptionText{
    text-align: justify;
  }
}
.view-btn {
  background: var(--btn-background);
  color: var(--bs-white);
  border: 1px solid var(--btn-background);
  border-radius: var(--border-radius-2);
  cursor: pointer;
}
.view-btn:hover {
  background: var(--bs-white);
  color: var(--btn-background);
}

@media (min-width: 300px) and (max-width: 400px) {
    .view-btn {
        width: var(--width);
      }
}