<div class="view-event">
    <div class="container mb-5">
        <div class="row">
            <div class="event-heading my-3 my-xl-5 my-lg-5 my-md-5 my-sm-3 text-center">
                <h4 class="main-heading text-uppercase fs-2 fw-bolder">EVENT DETAIL INFORMATION1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col collaborate-image  text-center">
                <img src="../../../../../../assets/connectImg/detail.png" class="collab-img img-fluid"
                    alt="Event Detail Image">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 more-btn mb-xl-3 mb-lg-3 mb-md-3 mb-sm-3 mb-2 text-center">
                <button type="button"
                    class="btn read-more text-white text-capitalize my-xl-5 my-lg-5 my-md-5 my-sm-3 my-2 fs-6 fw-bold ">I
                    will
                    attend</button>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 more-btn mb-xl-3 mb-lg-3 mb-md-3 mb-sm-3 mb-2 text-center">
                <button type="button"
                    class="btn read-more text-white text-capitalize my-xl-5 my-lg-5 my-md-5 my-sm-3 my-2 justify-content-around fs-6 fw-bold ">I
                    will volunteer</button>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold">Event Name:</span> Sri Balaji University Delhi NCR<br> Alumni Meet 2019
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold"> Event Category:</span> Admin
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold">Event Type:</span> Reunion
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold">Description:</span> Sri Balaji University Delhi<br> NCR Alumni Meet 2019
                    21.September.<br> 2019 4:00 PM onwards High Tea, Dinner,<br> DJ, Networking Claremont Hotel &<br>
                    Convention Centre, Aaya Nagar,<br> Mehrauli Gurgaon Road, Delhi 110030
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold">Event Date:</span> Sep 21 2019
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold"> Event Time:</span> 16:00
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold"> Event Venue:</span> Claremont Hotel & amp; Convention <br> Centre, Aaya
                    Nagar,
                    Mehrauli<br> Gurgaon Road, Delhi 110030
                </p>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6 ">
                    <span class="fw-bold"> Contact person number:</span> 8953282828
                </p>
                <p><span class="fw-bold"> Cost per person:</span> 1200 /-Rs</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="fs-6">
                    <span class="fw-bold"> FB Event Page Link:</span>
                       <a href="https://www.facebook.com/events/236654928n><6755230/" class="fb-event text-decoration-none">
                        https://www.facebook.com/events/2366549286755230/</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <p class="text-capitalize fs-6">
                    <span class="fw-bold"> Event Hosted By:</span>
                </p>
            </div>
        </div> -->
        <div class="row px-lg-5 px-xl-5 px-3 justify-content-center">
            <div class="col-md-5 col-lg-5 col-xl-5 px-lg-4 px-xl-4 px-3">
                <div class="row py-3">
                    <div class="col-md-3 ps-lg-0">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Event Name:</span>
                        </p>
                    </div>
                    <div class="col-md-8 ps-lg-0">
                        <p class="text-capitalize fs-6  text-lg-start">
                            Sri Balaji University Delhi NCR<br> Alumni Meet 2019
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-3 ps-lg-0">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Event Type:</span>
                        </p>
                    </div>
                    <div class="col-md-8 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start ">
                            Reunion
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-3 ps-lg-0">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Event Date:</span>
                        </p>
                    </div>
                    <div class="col-md-8 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start">
                            Sep 21 2019
                        </p>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-md-3 ps-lg-0 ">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Event Venue:</span>
                        </p>
                    </div>
                    <div class="col-md-8 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start">
                            Claremont Hotel &amp; Convention Centre, Aaya Nagar, Mehrauli Gurgaon Road, Delhi 110030
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-12 ps-lg-0">
                        <p class="text-capitalize fs-6 ">
                            <span class="fw-bold">Facebook event page Link:</span>
                        </p>
                    </div>
                    <div class="col-md-12 ps-lg-0">
                        <a href="https://www.facebook.com/events/236654928n6755230/"
                            class="fb-event text-decoration-none">
                            https://www.facebook.com/events/2366549286755230/</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 cl-xl-5">
                <div class="row py-3">
                    <div class="col-md-4 ps-lg-0">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Event Category:</span>
                        </p>
                    </div>
                    <div class="col-md-8 ps-lg-0">
                        <p class="text-capitalize fs-6  text-lg-start">
                            admin
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-3 ps-lg-0">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Description:</span>
                        </p>
                    </div>
                    <div class="col-md-9 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start ">
                            Sri Balaji University Delhi NCR Alumni Meet 2019 21.September. 2019 4:00 PM onwards High
                            Tea, Dinner, DJ, Networking Claremont Hotel & Convention Centre, Aaya Nagar, Mehrauli
                            Gurgaon Road, Delhi 110030
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-3 ps-lg-0">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Event Time:</span>
                        </p>
                    </div>
                    <div class="col-md-9 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start">
                            16:00
                        </p>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-md-5 ps-lg-0 ">
                        <p class="text-capitalize fs-6">
                            <span class="fw-bold">Contact person number:</span>
                        </p>
                    </div>
                    <div class="col-md-7 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start">
                            7876078067
                        </p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-5 ps-lg-0 ">
                        <p class="text-capitalize fs-6 ">
                            <span class="fw-bold">Cost per person:</span>
                        </p>
                    </div>
                    <div class="col-md-7 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start">
                           1200/- Rs
                        </p>
                       
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-4 ps-lg-0 ">
                        <p class="text-capitalize fs-6 ">
                            <span class="fw-bold">Event Hosted By:</span>
                        </p>
                    </div>
                    <div class="col-md-8 ps-lg-0">
                        <p class="text-capitalize fs-6 text-lg-start">
                          
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="event-heading my-3 my-xl-5 my-lg-3 my-md-5 my-sm-3 text-center">
                    <h4 class="main-heading text-uppercase fs-2 fw-bolder">SHARE YOUR IDEA</h4>
                </div>
            </div>
            <div class="your-idea my-1 rounded">
                <div class="row ">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12 align-self-center text-center">
                        <img src="../../../../../../assets/connectImg/idea.png" class="img-fluid p-4" alt="Your Idea Image">
                    </div>
                    <div
                        class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-12 align-self-center share-idea px-xl-1 px-lg-1 px-md-1 px-sm-1 px-5">
                        <input type="text" class="form-control text-white" placeholder="What's on your mind, Name?">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12 more-btn align-self-center text-center">
                        <button type="button"
                            class="btn read-more text-capitalize align-self-center my-3 px-xl-5 px-lg-5 px-md-4 py-2 px-sm-3 px-5">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>