/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat-Regular.ttf");
}
.invalid-feedback {
    display: block !important;
}

html,
body {
    height: 100%;
}

body {
    margin        : 0;
    // font-family   : Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    font-family: Montserrat !important;
}

::placeholder {
    font-size: 14px;
}

.label-danger {
    color: red;
}

.text-danger {
    font-size: 12px;
}

.form-label {
    font-weight: 500;
}

.mat-snack-bar-container {
    background: #4e73df;
}

.mat-simple-snackbar-action {
    color: #fff;
}

.green-snackbar {
    background: rgb(2, 192, 72);
    color     : #fff;
}

.red-snackbar {
    background: #dc3545;
    color     : #fff;
}

.warning-snackbar {
    background: #ffc107;
    color     : #fff;
}

.main-heading {
    font-size: 20px !important;
    line-height:43.88px !important;
    color: #011898;
    font-family: Montserrat !important;
}

.alumniStories {
    .owl-nav {
        position: absolute;
        bottom  : 15px;
        left    : 17px;

        .owl-prev {
            background: none !important;
        }

        .owl-next {
            background: none !important;
        }
    }
}
//Custom css common for sidebar vertical tabs
.know-us {
    img {
        width: 100%;
        object-fit: cover;
    }
}
.nav-pills-custom .nav-link {
    color: #0d205f;
    background: #fff;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.nav-pills-custom .nav-link.active {
    background: #3a96da !important;
    color: #fff !important;
}
h4.font-italic.mb-4 {
    text-align: center;
    margin: auto;
    background: #3D4097;
    color: #fff;
    padding: 12px;
    text-transform: uppercase;
}
.gallary {
    .owl-nav {
        .owl-prev {
            position  : absolute;
            left      : -45px;
            bottom    : 48%;
            background: none;

            i {
                color    : #8d8d8d;
                font-size: 24px;
            }
        }

        .owl-next {
            position  : absolute;
            right     : -45px;
            bottom    : 48%;
            background: none;

            i {
                color    : #8d8d8d;
                font-size: 24px;
            }
        }
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #000;
    }
    .owl-nav .owl-prev:hover,
    .owl-nav .owl-next:hover {
        background: transparent !important;
    }

    .owl-nav .owl-prev i:hover,
    .owl-nav .owl-prev i:focus,
    .owl-nav .owl-next i:hover,
    .owl-nav .owl-next i:focus {
        color: #000;
    }

    owl-carousel-o {
        .owl-carousel {
            .owl-stage-outer{
                padding-top: 40px;
                owl-stage {
                    .owl-stage {
                        .owl-item {
                            .gallaryImg {
                                img {
                                    opacity: .5
                                }
                            }
                        }
                        .owl-item.center {
                            .gallaryImg {
                                img {
                                    opacity: 1;
                                    height: 340px !important;
                                    margin-top: -38px;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
   
    }
}


@media screen and (max-width: 574px) and (min-width: 300px) {
    .alumniStories {
        .owl-nav {
            position: absolute;
            bottom  : -50px;
            left    : 40%;

            .owl-prev {
                color: rgb(63, 63, 63);
                font-size: 22px;
            }

            .owl-next {
                color: rgb(63, 63, 63);
                font-size: 22px;
            }

            .owl-prev:hover,
            .owl-prev:focus,
            .owl-next:hover,
            .owl-next:focus {
                color: #000;
            }
        }
    }

    .gallary {
        .owl-nav {
            display: none !important;
        }
    }
    .main-heading {
        font-size: 18px !important;
        line-height: 30px !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 575px) {
    .alumniStories {
        .owl-nav {
            position: absolute;
            bottom  : -50px;
            left    : 45%;

            .owl-prev {
                color: rgb(63, 63, 63);
                font-size: 22px;
            }

            .owl-next {
                color: rgb(63, 63, 63); 
                font-size: 22px;
            }

            .owl-prev:hover,
            .owl-prev:focus,
            .owl-next:hover,
            .owl-next:focus {
                color: #000;
            }
        }
    }
    .main-heading {
        font-size: 22px !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .alumniStories {
        .owl-nav {
            position: absolute;
            right   : 20px;
            top     : 15px;
            bottom  : unset;
            left    : unset;
        }
    }
    .gallary {
        owl-carousel-o {
            .owl-carousel {
                .owl-stage-outer{
                    padding-top: 40px;
                    owl-stage {
                        .owl-stage {
                            .owl-item {
                                .gallaryImg {
                                    img {
                                        opacity: .5
                                    }
                                }
                            }
                            .owl-item.center {
                                .gallaryImg {
                                    img {
                                        opacity: 1;
                                        height: 320px !important;
                                        margin-top: -29px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

