<div class="row p-3">
    <div class="col-lg-12">
        <form [formGroup]="mentorForm">
            <div class="row">
                <div class="col-lg-8 my-3">
                    <label class="form-label fw-bold">Willing to provide Mentorship to current batch students or Junior Alumni
                        <span class="label-danger">*</span>
                    </label>
                    <select class="form-select" formControlName="willing_provide">
                        <option value="" selected disabled>Choose mentorship</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <div class="text-danger mt-2" *ngIf="(f.willing_provide.touched || submitted) && f.willing_provide.errors?.required">
                        Professional title is required.
                    </div>
                </div>
                <div class="col-lg-4 my-3">
                    <label class="form-label fw-bold">Add skills <span class="label-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="add_skills" placeholder="Enter last name">
                    <div class="text-danger mt-2" *ngIf="(f.add_skills.touched || submitted) && f.add_skills.errors?.required">
                        Please add skills.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 my-3">
                    <label class="form-label fw-bold">Primary function area </label>
                    <select class="form-select" formControlName="primary_area">
                        <option value="" selected>Select primary area</option>
                        <option *ngFor="let item of functionArea; let i=index;" [value]="item?.label">{{ item?.label }}</option>
                    </select>
                </div>
                <div class="col-lg-6 my-3">
                    <label class="form-label fw-bold">Secondary function area </label>
                    <select class="form-select" formControlName="secondary_area">
                        <option value="" selected>Select secondary area</option>
                        <option *ngFor="let item of functionArea; let i=index;" [value]="item?.label">{{ item?.label }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 my-3">
                    <label class="form-label fw-bold">Other function area </label>
                    <input type="text" class="form-control" formControlName="other_area" placeholder="Enter last name">
                </div>
                <div class="col-lg-6 my-3">
                    <label class="form-label fw-bold">Primary industry focus </label>
                    <select class="form-select" formControlName="primary_industry">
                        <option value="" selected>Select primary industry focus</option>
                        <option *ngFor="let item of industryFocus; let i=index;" [value]="item?.label">{{ item?.label }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 my-3">
                    <label class="form-label fw-bold">Secondary industry focus </label>
                    <select class="form-select" formControlName="secondary_industry">
                        <option value="" selected>Select secondary industry focus</option>
                        <option *ngFor="let item of industryFocus; let i=index;" [value]="item?.label">{{ item?.label }}</option>
                    </select>
                </div>
                <div class="col-lg-6 my-3">
                    <label class="form-label fw-bold">Other industry focus </label>
                    <input type="text" class="form-control" formControlName="other_industry"
                        placeholder="Enter last name">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 my-3 text-center">
                    <button type="button" (click)="edit()" [disabled]="!mentorForm.valid" class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>