  // SOCIAL CHANNELS CSS START
  .social-heading {
    .main-heading {
        color: #011898;
    }
}

.social-channels {
    .social-links {
        list-style: none;
        line-height: 2.1em;
        a {
            color: #000 !important;
        }
         :hover {
            color: #011898 !important;
        }
    }
}