<div class="row my-3">
    <div class="col-lg-12 text-center">
        <h3 class="main-heading text-uppercase fw-bolder">ENGAGE WITH SRI BALAJI SOCIETY</h3>
    </div>
</div>
<div class="row">
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
        <div class="col-lg-4 my-2" *ngFor="let item of allFeatured">
            <div class="card p-xl-5 p-lg-5 p-md-5 p-sm-4 p-2 text-center">
                <img [src]="imgPath + item.picture" class="card-img-top" alt="featured_user">
                <div class="card-body p-0 pt-3">
                <p class="card-text fs-5 fw-bold">{{ item?.alumni_name }}</p>
                <p class="card-text">{{ item?.batch_year }}</p>
                <p class="card-text designation">{{ item?.designation }}</p>
                <div class="row justify-content-center pt-2">
                    <div class="col-lg-12 col-md-12">
                        <a class="btn btn-md view-btn text-capitalize" (click)="viewDetail(item.id)"> <i class="fa fa-link" aria-hidden="true"></i>&nbsp;View more</a>
                    </div>
                </div>
                </div>
            </div>
                <!-- <div class="row justify-content-center" *ngIf="allFeatured?.length > 0">
            <div class="col text-center"> -->
                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
            <!-- </div>
        </div> -->
        </div>
    </ng-container>
</div>