<app-dashboard-banner [heading]="heading"></app-dashboard-banner>
<div class="container">
    <div class="row mt-xl-5 mt-lg-5 mt-md-5 mt-sm-4 mt-4 mb-xl-3 mb-lg-3 mb-md-3 mb-sm-0 mb-0">
        <div class="col-lg-12 text-center">
            <h3 class="main-heading text-uppercase fw-bold mb-0">FEATURED ALUMNI</h3>
        </div>
    </div>
    <div class="row mt-xl-5 mt-lg-5 mt-md-5 mt-sm-4 mt-3 mb-0">
        <app-loader *ngIf="loading"></app-loader>
        <ng-container *ngIf="!loading">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 my-2"
                *ngFor="let item of user | paginate: { itemsPerPage: 6, currentPage: p }">
                <div class="card p-xl-4 p-lg-4 p-md-3 p-sm-3 p-3">
                    <ng-container *ngIf="item?.picture != null">
                        <div class="alumni-pic">
                            <img [src]="imgPath + item?.picture" class="card-img-top" alt="Alumni Picture" />
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item?.picture == null">
                        <img [src]="imgPath + item?.picture" class="card-img-top img-thumbnail noImg"
                            alt="Alumni Picture" />
                    </ng-container>
                    <div class="card-header bg-transparent border-0 text-center pt-3">
                        <h3 class="card-title fw-bold text-capitalize mb-0">{{item?.alumni_name}}</h3>
                    </div>
                    <div class="card-body text-center pb-0 pt-2">
                        <p class="card-text mb-2">{{item?.batch_year}}</p>
                        <p *ngIf="item?.designation != null" class="card-text mb-2 designation">{{item?.designation}}
                        </p>                       
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a (click)="viewDetail(item.id)" class="btn btn-lg btn-xl btn-md btn-sm view-btn text-capitalize ">
                            <i class="fa fa-link"></i>&nbsp;View more</a>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row justify-content-center mt-xl-4 mt-lg-4 mt-md-4 mt-sm-3 mt-3 mb-2" *ngIf="user?.length > 0">
            <div class="col text-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>