.card {
    background: #E2E7FF;
    img {
      height: 30vh;
        object-fit: cover;
    }
    .view-btn {
        background: #011898;
        color: #fff;
        line-height: 1.8;
    }
    .designation {
        height: 38px;
    }
}
