.card {
    background: linear-gradient(270deg, #FEA641 0%, #FDC480 100%);
    img {
      height: 40vh;
        object-fit: cover;
    }
    .view-btn {
        background: #011898;
        color: #fff;
        line-height: 1.8;
    }
    .designation {
        height: 38px;
    }
}
