<!-- <div class="text-center d-block">
    <mat-spinner [diameter]="30" class="mx-auto"></mat-spinner>
    <div style="padding-left: 5px;padding-top:5px;font-style: italic;display: inline-block;font-size: 12px;color: black;font-weight: bold;">
        Please Wait, loading</div>
</div> -->
<!-- <div class="loader">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <span>Loading...</span>
</div> -->

<div class="row m-0">
    <div class="col-12 text-center">
        <div class="spin"></div>
        <h3>Loading...</h3>
    </div>
</div>
