<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-2">
          <img src="./assets/know-us/socity-group.jpg"  class="img-fluid w-100"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center my-3">
            <h3 class="main-heading text-uppercase fw-bolder">SRI BALAJI SOCIETY GROUP</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 my-3">
          <img src="./assets/know-us/balaji-society-group.jpg" class="img-fluid"/>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-7 my-3">
          <strong style="color: #ec4f00">Sri Balaji Society,</strong> Pune is a
          charitable trust established under The Bombay Public Trust Act, 1950.
          The autonomous management Institutes and Colleges managed by the trust
          are as under:<br />
          <span class="txt11normal"
            ><a href="http://www.bimmpune.com" target="_blank"
              >Balaji Institute of Modern Management (BIMM)- www.bimmpune.com
            </a></span
          ><br />
          <a href="http://www.bitmpune.com" target="_blank"
            >Balaji Institute of Telecom and Management (BITM) -
            www.bitmpune.com </a
          ><br />
          <a href="http://www.biibpune.com" target="_blank"
            >Balaji Institute of International Business (BIIB) -
            www.biibpune.com</a
          ><br />
          <a href="http://www.bimhrdpune.com" target="_blank"
            >Balaji Institute of Management and Human Resource Development
            (BIMHRD) - www.bimhrdpune.com</a
          >
          <br />
          <a href="http://www.balajilaw.com" target="_blank"
            >Balaji Law College (BLC) - www.balajilaw.com</a
          ><a href="http://www.bimhrdpune.com" target="_blank"></a> (Approved by
          Bar Council of India &amp; Affiliated to University of Pune)<br />
          <a href="http://www.bcacspune.com" target="_blank"
            >Balaji College of Arts, Commerce and Science (BCACS) –
            www.bcacspune.com
          </a>
          (Affiliated to University of Pune) <br />
          <a href="http://www.bcacspune.com" target="_blank"
            >Balaji Junior College of Arts, Commerce and Science (BJCACS)</a
          >
          (Approved by Govt. of Maharashtra) <br />

          <p align="left" style="margin-top: 3%">
            <span class="txt6">Admission Cell - Sri Balaji Society, Pune</span
            ><br />
            Survey No. 55/2-7, Tathawade, <br />
            Off Pune-Mumbai Highway, <br />
            Pune-411 033, Maharashtra (India)<br />
            <strong class="font14 black-t">Tel </strong>: +91-20-6674 1235/ 3063
            1236<br />
            <strong class="font14 black-t">Fax</strong> : +91-20-6674 1234
            <br />
            <strong class="font14 black-t">E-mail :</strong
            ><a href="mailto:admissions@balajisociety.org">
              admissions@balajisociety.org </a
            ><br />
            <strong class="font14 black-t">Url :</strong
            ><a href="http://sribalajisocietypune.org/">
              http://sribalajisocietypune.org/
            </a>
          </p>
          <p>
            <span class="txt4"><u style="color: #ec4f00">Note</u></span
            >: The society does not accept any donation or capitation fee
            against admissions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
