.available-job {
  .job-section {
    background-color: var(--card-bg);
  }
  .job-heading {
    color: var(--btn-background);
    height: 52px;
  }
  .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .openJob {
    color: green;
    text-shadow: 1px 1px green;
  }
  .closeJob {
    color: red;
    text-shadow: 1px 1px red;
  }
  .content {
    height: 227px;
    overflow-y: auto;
    p{
      word-break: break-all;
      a{
        word-break: break-all;
      }
    }
  }
}
.project-btn {
  background: var(--btn-background);
  border: 1px solid var(--btn-background);
  color: var(--bs-white);
  border-radius: var(--border-radius-2);
  width: var(--width);
}
.project-btn:hover {
  background: var(--bs-white);
  color: var(--btn-background);
}

@media (min-width: 300px) and (max-width: 575px) {
  .available-job {
    .content {
      height: 196px;
    }
  }
}
@media (min-width: 575px) and (max-width: 768px) {
    .available-job {
      .content {
        height: 184px;
      }
    }
  }